/**** Universal styles ****/

:root {
  --ingestor-blue-color: #026398;
  --require-action-color: #f0003d;
  --need-review-color: #ffa700;
  --verified-color: #65b544;
  --library-color: #3c7fff;
  /* Colors taken from Figma sheet */
  --primary: #2D8CFE;
  --primary-hover: #207AE5;
  --active: #363f49;
  --not-active: #4A535E;
  --placeholder: #949BA3;
  --disable: #DEE1E5;
  --background: #F8F8F4;
  --danger-bg: #F8E0E1;
  --danger: #F2444A;
  --success-bg: #DEF7EA;
  --success: #22BF6F;
  --warning-bg: #FFF0DB;
  --warning: #FCB03F;
}

.tooltip-inner {
  background-color: #FFFFFF;
  color: #4C5464;
  opacity: 1 !important;
}

.arrow::before {
  border-bottom-color: #FFFFFF !important;
}

/**** Common usage ****/

/* Code */

code{
  background-color: #d8d8d8;
  color: #1a1a1a;
}
/* background-color */
.ingestor-cancel{
background-color: #dee1e5;
color:#363f49
}
.bg-white {
  background-color: white;
}
.ingestor-blue-bg {
  background-color: var(--primary) !important;
}
.ingestor-blue-bg:hover {
  background-color: var(--primary-hover) !important;
}

.m-top-20{
  margin-top:20px;
}

.m-bottom-20{
  margin-bottom:20px;
}

/* text-color  */
.txt-white{
  color:white !important;
}
.txt-black{
  color:black;
}
.forgot-password-gray {
  color: #949BA3;
}

/* text alignment */
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}

/* border */
.ingestor-blue-border {
  border: var(--primary);
}
.ingestor-blue-border:hover {
  border: var(--primary-hover);
}
.h-button{
  height:38px !important;
}

.padding-tittle-content-settings{
  padding-bottom:30px;
}

.badge-pill{
  padding-right: 15px !important;
}

.h-button{
  height:38px !important;
}

.padding-tittle-content-settings{
  padding-bottom:30px;
}

.no-padding-left{
  padding-left: unset;
}

.no-margin-right{
  margin-right:0px !important;
}

.margin-20px{
  margin-right:20px;
}

/* padding */


.no-padding-right{
  padding-right:unset;
}

.padding-right-dropdowns-chips-alignment{
  padding-right:9px;
}

.padding-right-chips-alignment{
  padding-right:24px !important;
}

/* margin */
.no-margin-right{
  margin-right:0px !important;
}

.no-padding-left{
  padding-left:0px;
}

.vertical-align-by-margin {
  margin-top: auto;
  margin-bottom: auto;
}

/*padding to replace current br's in login view*/
.paddingtop20{
  padding-top:20px;
}

/*Ontologies*/
div#ontologiesABM v-chip{
  border-radius:8px !important;
}
/*End Ontologies*/

/* Instances */
.instanceElement{
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);
   border-radius: 4px;
}
/* Instance Manager */

button.ingestor-cancel{
  margin-right:10px;
}

.ptop3percent{
  padding-top:3%;
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  opacity: .65;
}


.padding40{
  padding: 40px;
}

.p-bttm-10{
  padding-bottom:10px;
}


.flash-full {
  margin-top: -1px;
  border-width: 1px 0;
  border-radius: 0;
}

.flash-warn {
  background-color: white;
  color: #de4848;
  border-color: rgba(176,136,0,.2);
}

.el-message-box {
  width:40% !important;
}

.el-message-box__content {
  padding: 10px 0px !important;
  font-size: 18px !important;
}

.padding-message-delete-bot{
  padding: 10px 20px;
}

.el-message-box__btns .el-button{
  background-color: #F56C6C !important;
  border-color: #F56C6C !important;
}

div.el-message-box__btns button:first-of-type{
  background-color: #aaaaaa !important;
  color: white !important;
  border-color: #aaaaaa !important;
}

div.cell button.el-button{
  background-color: #66b1ff;
  color: white;
  padding: 10px 20px;
}

div.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2005;
  cursor: pointer;
  }
  div.loader-overlay div.loader {
      animation: loader-animate 1.5s linear infinite;
      clip: rect(0, 80px, 80px, 40px);
      height: 80px;
      width: 80px;
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% - 40px);
    }
    div.loader-overlay div.loader::after {
      animation: loader-animate-after 1.5s ease-in-out infinite;
      clip: rect(0, 80px, 80px, 40px);
      content: '';
      border-radius: 50%;
      height: 80px;
      width: 80px;
      position: absolute;
    }
  @keyframes loader-animate {
      0% {
          transform: rotate(0deg)
      }
      100% {
          transform: rotate(220deg)
      }
  }
  @keyframes loader-animate-after {
      0% {
          box-shadow: inset #fff 0 0 0 17px;
          transform: rotate(-140deg);
      }
      50% {
          box-shadow: inset #fff 0 0 0 2px;
      }
      100% {
          box-shadow: inset #fff 0 0 0 17px;
          transform: rotate(140deg);
      }
  }

  [v-cloak] {display: none}

  /* Fin Instance Manager */



@media screen and (max-width:576px) {
  nav .btn-group {
    display: flex;
    flex-direction: column;
    width:100%;
  }
  nav .btn-group div {
    width:100%;
  }
  div.padding-right-dropdowns-chips-alignment{
    padding-right:0px;
  }
}

@media screen and (min-width:577px) and (max-width:768px) {
 .dropdown-toggle::after{
    margin-left:auto !important;
  }
  div.padding-right-dropdowns-chips-alignment{
    padding-right:0px;
  }
}

@media screen and (min-width:777px) and (max-width:1024px) {
  nav .btn-group {
    display: flex;
    flex-direction: row;
    width:100%;
  }
  nav .btn-group div {
    width:25%;
  }
  nav .btn-group div button, nav .btn-group div div.dropdown-menu {
    width:100%;
  }
  div.padding-right-dropdowns-chips-alignment{
    padding-right:0px;
  }
}

body {
  font-family: 'Open Sans','Symbola';
  font-size: 18px;
  padding-bottom: 125px;
  min-height: 100vh;
  position: relative;
  background-color: #F8F8FA;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: bolder;
  font-style: normal;
  font-variant: normal;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Symbola';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  src: url('../fonts/Symbola.ttf') format('truetype');
}

h1 {
  font-size: 28px;
  margin-top: 80px;
}

h2 {
  font-family: 'Open Sans Bold';
  font-size: 32px;
  line-height: 44px;
}

h5 {
  font-family: 'Open Sans Bold';
}

h6 {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Open Sans Bold';
  padding-left: 13px;
}

div.title-bar {
  margin: auto;
  height: 3px;
  background-color: green;
  width: 70px;
}

:target {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* This makes the text of all the pop ups
 * show the tabs and intros.
 */
.bootbox-body {
  white-space: pre-wrap;
}

.btn {
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
}

.dropdown-toggle-split {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.policy-paragraph {
  line-height: 25px;
}

.form-control.loginfield[readonly] {
  cursor: text;
  background-color: white;
}

.dropdown-item {
  white-space: normal;
}

.nowrap {
  white-space: nowrap !important;
}

.edit-area {
  resize: vertical;
  min-height: 150px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #5fa847;
}

.fz-14{
  font-size:14px;
}
.fz-16{
  font-size:16px;
}
.fz-18{
  font-size:18px;
}

.collapseArrow{
  vertical-align: -webkit-baseline-middle;
  font-size:20px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  background: #f6f8fa;
}

@media (max-width: 425px) {
  .list-element {
    font-size: 24px;
  }
}

.return-link {
  color: #00000080;
}

.return-link:hover {
  color: #000000b3;
  text-decoration: none;
}

.link-disable {
  color: #0000003b;
  pointer-events: none;
}

.badges-ask-qa{
  line-height:22px;
  margin-bottom:auto !important;
}

.badges-ask-qa:first-of-type{
  margin-left:auto
}

.badges-ask-library{
  line-height:22px;
  margin-bottom: 15px !important;
}

.ask-library-header-container{
  text-align: right;
  width: 100%;
}

.ask-library-header-update {
  line-height: 24px;
  margin-right: 20px;
}

.ask-library-header-pin {
  margin-right: 7px
}

.badges-issues-qa{
  font-size:12px;
  vertical-align: middle;
  margin-bottom:auto !important;
}

.badges-filter-tag {
  line-height:1.1;
}

.bootstrap-tagsinput .tag {
  background: rgba(45, 140, 254, 0.1);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2D8CFE !important;
  font-weight: bold;
  padding: 0em .6em;
  font-size:14px !important;
}

/***************/
/**** Login ****/
/***************/

.login-panel {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0;
  border-top: 0;
  padding-left: 35px;
  padding-right: 35px;
}

.nav-pills .nav-link.active {
  background-color: var(--primary);
  color: white;
  border-radius: 0;
}

.nav-pills .nav-link {
  font-size: 14px;
  color: #212529;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0;
}

.nav-login-custom-height {
  height: 40px;
  line-height: unset !important;
}

.error-link {
  color: red;
}

.error-message {
  color: white;
  background: #EA4335;
  width: 40%
}

@media (max-width: 480px) {
  .error-message {
    width: 95%
  }
}
@media (max-width: 768px){
  .navbar-icon{
    margin-right:0px !important;
  }
}

.password-rules {
  padding-left: 20px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #2F5F2E;
  display: none
}

input:focus~.password-rules {
  display: block
}

.forget-pass-card {
  border-radius: 0;
  padding-left: 35px;
  padding-right: 35px;
}

/****************/
/**** Footer ****/
/****************/
.footer {
  bottom: -50px;
  /* Moves the footer down on large screens */
  color: #808080;
  position: absolute;
  width: 100%;
  margin-left: 0;
  padding: 25px 0;
}

.footer p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}

.footer a {
  color: #808080;
  font-size: 13px;
  line-height: 20px;
}

.footer a:hover {
  color: #026398;
  /* color links on hover */

}

.footer .far {
  margin-right: 5px;
  /* gives the icons margins on the right */
}

.footer .fab {
  margin-right: 5px;
  /* gives the icons margins on the right */
}

.footer div hr {
  border-top: 3px solid rgba(0, 0, 0, .1)
    /* Increases the height of the hr border */
}

.footer .container {
  text-align: left;
  /* Aligns the container to the left especially on specific pages like the library */
}

@media (max-width: 769px) {
  .footer {
    bottom: -220px;
    /* Moves the footer further down on small screens */
  }
}

/*************************/
/**** Cookies Message ****/
/*************************/
.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.cm-background {
  background-color: white;
  padding: .7em 1.8em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.cm-message {
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 480px) {
  .cm-message {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
}

/****************/
/**** Navbar ****/
/****************/
.new-notification {
  width: 11px;
  height: 11px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: white 1px solid;
  position: absolute;
  transition: .5s ease;
  top: 16%;
  left: 55%;
  display: none;
}

@media (max-width: 768px) {
  .new-notification {
    top: 31%;
    left: 1.1%;
  }
}

@media (max-width: 425px) {
  .new-notification {
    top: 31%;
    left: 2%;
  }
}

.navbar-avatar {
  width: 25px;
  height: 25px;
  background-size: 100% auto;
  background-position: center;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-icon {
  height: 35px;
  margin-left: 14px;
  margin-right: 40px;
}

.navbar {
  background: #FFFFFF !important;
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.15);
}

.notification-label {
  font-family: 'Open Sans Bold';
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.0214286em;
  margin-left: 19px;
}

.notification-section {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 12px
}

#notificationDropDown {
  width: 350px;
}

#notificationDropDown .dropdown-item {
  padding: 20px;
}


/*******************/
/**** Dashboard ****/
/*******************/
.dashboard-card {
  padding-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.fix-btn-dashboard {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  div.fix-btn-dashboard button {
    width: 100%;
  }
}



.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--primary) !important;
  text-decoration: none !important;
  background-color: rgba(45, 140, 254, 0.1) !important;
}

.card-body {
  background-color: white;
  flex: 1 1 auto;
  padding: 1.25rem;

}

.card-title {
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px;
  font-family: 'Open Sans Bold';
}

@media (max-width: 425px) {
  .card-title {
    font-size: 0.9rem;
  }
}

.card-subtitle {
  width: 100%;
  color: #888888;
  font-size: 0.9rem;
  text-align: center;
}

.dashb-big-value {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Open Sans Bold';
}

.card-footer {
  width: 100%;
  color: #888888;
  font-size: 0.9rem;
  text-align: center;
  background-color: white;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.worst {
  color: red;
}

.better {
  color: green;
}

div#user-list div.row div.col-9{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dashboard Modal */

div#dashboard .modal-header{
  border-bottom:unset;
}
div#dashboard .modal-title{
  font-size:14px;
  font-family: 'Open Sans';
  color: var(--placeholder);
}
div#dashboard .upper-block{
  background-color: var(--primary);
  padding: 20px;
}
div#dashboard .bot-title{
  font-size:24px;
  color:white;
  padding: 0px;
  margin: 0px;
}
div#dashboard .btn-download{
  background-color: white;
  color: var(--ingestor-blue-color);
}
div#dashboard .summary-initial-text{
  font-size: 16px;
  padding:15px;
}

div#dashboard .item {
  position: relative;
}

div#dashboard .item h2 {
  text-align:center;
  position: absolute;
  line-height: 160px;
  width: 100%;
}

div#dashboard svg {
 -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

div#dashboard .circle_animation {
stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
stroke-dashoffset: 440;
}

div#dashboard .smesResolvedQ .circle_animation {
  -webkit-animation: smesResolvedQ 1s ease-out forwards;
  animation: smesResolvedQ 1s ease-out forwards;
  stroke-dashoffset: 440;
}

div#dashboard .autoResolvedQ .circle_animation {
  -webkit-animation: autoResolvedQ 1s ease-out forwards;
  animation: autoResolvedQ 1s ease-out forwards;
  stroke-dashoffset: 440;

}

div#dashboard .table-borderless > tbody > tr > td,
div#dashboard .table-borderless > tbody > tr > th,
div#dashboard .table-borderless > tfoot > tr > td,
div#dashboard .table-borderless > tfoot > tr > th,
div#dashboard .table-borderless > thead > tr > td,
div#dashboard .table-borderless > thead > tr > th {
    border: none;
}

/* Dashboard Modal mobile styles*/

@media (max-width: 768px) {
div#modalReport{
  padding-right:0px !important;
}
div#modalReport button.close{
  padding-top:12px;
}
div#modalReport div.upper-block{
  display: block!important;
}
div#modalReport h5.modal-title{
  font-size: 12px;
}
div#modalReport div.upper-block h1{
  text-align: center;
  margin-bottom:20px;
}
div#modalReport div.upper-block button{
  width: 100%;
  text-align: center !important;
}
div#modalReport div#graphs-container {
  display:block !important;
}
div#modalReport div#graphs-container div {
  text-align:center;
  max-width:100%;
}
div#modalReport div#graphs-container div:first-of-type {
  margin-bottom:20px;
}
div#modalReport table {
  font-size: 12px;
}
div#modalReport table thead tr th:last-of-type{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55px;
}
div#modalReport table thead tr th:last-of-type{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55px;
}
div#modalReport table thead tr th:not(:first-of-type), div#modalReport table thead tr td:not(:first-of-type){
 text-align:center !important;
}

}



/******************/
/**** Settings ****/
/******************/
.avatar {
  vertical-align: middle;
  max-height: 130px;
  margin-right: 10px;
}

.bot-media {
  vertical-align: middle;
  width: 250px;
  margin-right: 10px;
}

.iconSetttingsTab {
  display: inline-block;
  width: 24px;
  height:24px;
  background-size: cover;
  vertical-align: middle;
}
.icon-settings-tab-user-admin {
  background-image: url(../images/settingstab_user_admin.svg);
}
.icon-settings-tab-instance-settings {
  background-image: url(../images/settingstab_instance_settings.svg);
}
.icon-settings-tab-roles-permissions {
  background-image: url(../images/user_activity_notes.svg);
}
.icon-settings-tab-social {
  background-image: url(../images/settingstab_social.svg);
}
.icon-settings-tab-notifications {
  background-image: url(../images/settingstab_notifications.svg);
}
.icon-settings-tab-security {
  background-image: url(../images/settingstab_security.svg);
}
.icon-settings-tab-ingestor {
  background-image: url(../images/settingstab_ingestor.svg);
}

.tab-icon{
  line-height: 56px;
}

div#settings .table td, .table th{
  vertical-align: middle;
}
div#settings .nav-tabs .nav-link.active {
  font-family: 'Open Sans';
  color: var(--ingestor-blue-color);
  background-color: rgba(45, 140, 254, 0.2);
  font-weight: bold;
}

div#settings .nav-tabs .nav-link.active  span.iconSetttingsTab {
  filter: invert(27%) sepia(50%) saturate(2878%) hue-rotate(200deg) brightness(80%) contrast(75%);
}

/* we reduce the font size from 18px to 14px
   because setting menus looks too big on aimee screen */
div#settings span.text {font-size:13px; vertical-align: -2px;}

div#settings table#permissions_table, div#settings table#permissions_modal_table {
    display:table;
    font-size:18px
}


@media (max-width: 768px) {
  div#settings h1.settings-title {text-align:left;}
  div#settings span.text {font-size:11px; vertical-align: unset;}
  div#settings span.text {display:none}
  div#settings .iconSetttingsTab {width: 20px;height: 20px;}
  div#settings .nav.nav-tabs {display:flex; padding-right:0px;border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);
    border-radius: 4px;
    background-color: white;}
  div#settings .nav.nav-tabs li {margin: 0 auto; text-align:center}
  div#settings .nav-tabs .nav-link {
    background-color: white;
    border: unset !important;
  }
  div#settings .nav-tabs .nav-link.active {
    background-color: white;
    border-bottom: 2px solid var(--ingestor-blue-color) !important;
    border-radius:0px;
  }
  /* Users tab */
  div#settings div#bot-settings-users-title-container div{
    padding-left:unset;
  }
  div#settings table#users_table {
    display:none;
  }
  div#settings div#users_cards{
    display:block;
  }
  div#settings div#myTabContent {
    padding: 10px;
    text-align:left;
  }
  div#settings div#users div.d-flex{
    display:block !important;
  }
  div#users div#users_cards div.card {
    font-size:11px;
    text-align:center;
    margin-bottom:10px;
  }
  div#users div#users_cards div.card-body{
    padding: 10px 0px;
    text-align:left;
  }
  div#users div#users_cards div.card-body button{
    line-height: 10px !important;
    height: 30px !important;
    text-align: center!important;
  }
    /* Instance tab */
    div#settings div#instance div#settings-instance-identity-upload-group{
      text-align: center;
    }
    div#settings div#instance ul li {
      margin: 0 auto;
    }

    div#settings div#instance button {
      width: 100%;
      font-size: 10px;
      max-height: 30px;
      text-align: center!important;
    }

    div#settings div#instance div#identity {
      margin: 0 auto;
    }
    div#settings div#instance div#identity button {
      width:100%;
      margin: 10px 0 0 0;
      font-size: 10px;
      max-height: 30px;
      text-align:center!important;
    }
    div#settings div#instance div#identity input, div#personality input {
      font-size: 10px;
      max-height: 30px;
    }
    div#settings div#instance div#identity .form-group,  div#personality .form-group {
      margin-bottom:5px;
    }
    div#settings div#instance div#identity .form-group:last-of-type, div#personality .form-group:last-of-type {
     margin-bottom:15px;
    }
    div#settings div#instance div#identity .settings-field-name, div#personality .settings-field-name {
     font-size: 10px;
      line-height: 10px;
    }
    div#settings div#instance .padding-tittle-content-settings{
     padding-bottom:10px;
    }
    div#settings div#instance div#personality form#personality_form div label{
      font-size:10px;
      padding-left:5px;
    }
    div#settings div#instance div#personality form#personality_form div.form-group:last-of-type label{
      padding-left:20px;
    }
    div#settings div#instance div#personality form#personality_form .form-group, div#identity > .form-group {
      text-align:left;
    }
    div#settings div#instance div#identity div label{
      padding-left:5px;
    }
    div#settings div#instance div#personality form#personality_form .form-group:last-of-type{
      margin-top:10px;
    }
    div#settings div#instance div#personality .checkmark, div#settings div#notification .checkmark,
    div#settings div#social .checkmark, div#settings div#ingestor .checkmark {
      height: 15px;
      width: 15px;
    }
    div#settings div#instance div#personality .check-container .checkmark:after,
    div#settings div#notification .check-container .checkmark:after,
    div#settings div#social .check-container .checkmark:after,
    div#settings div#ingestor .check-container .checkmark:after {
      height: 12px;
      width: 6px;
      left: 4px
    }
    /* Notification tab */
    div#settings table#send_report_table, table#sme_emails_table {
      display:none;
    }
    div#settings div#emails_cards, div#sme_emails_cards{
      display:block;
    }
    div#settings div#notification form div.form-group{
      text-align:left;
    }
    div#settings div#notification form div.form-group label{
      font-size:10px;
      padding-left:20px;
    }
    div#settings div#notification form div.form-group label.settings-field-name{
      padding-left:5px;
    }
    div#settings div#notification form div.form-group input, button{
      font-size: 10px;
      max-height: 40px;
    }
    div#settings div#notification form div.form-group input, div#settings div#notification button:last-of-type{
      width:100%;
    }
    div#settings div#notification div.card-body p{
      font-size:11px;
    }
    div#settings div#notification div.card-body button{
      font-size:11px;
      max-height:30px;
    }
    div#settings div#notification #send_notification_checks{
      margin-bottom:0px;
    }
    div#settings div#notification div#emails_cards  div{
      margin-bottom:10px;
    }
    div#settings div#notification #sme_help, div#settings div#notification #send_report_to{
      width:135px;
    }
    div#settings div#notification button{
      text-align:center !important;
    }
    /* Social tab */
    div#settings div#social label, input, button, form#social_form{
      font-size:11px;
      text-align:left !important;
    }
    div#settings div#social div div:first-of-type.form-group label{
      text-align:center !important;
    }
    div#settings div#social form div.form-group button:last-of-type{
      width:100%;
    }
    div#settings div#social div.row div{
      padding-left:unset;
      padding-right:unset;
    }
    div#settings div#social form div.form-group input, button{
      font-size: 10px;
      max-height: 30px;
      height:30px;
    }
    div#settings div#social form div.form-group button{
      text-align: center !important;
    }
    /* Ingestor tab */
    div#settings div#ingestor form#ingestor_form div.form-group{
      font-size:10px;
      padding-left:5px;
      text-align:left;
    }
    div#settings div#ingestor form#ingestor_form input{
      font-size:10px;
      height:30px;
      max-height:30px;
    }
    div#settings div#ingestor form#ingestor_form div.form-group:last-of-type{
      min-height:40px;
    }
    div#settings div#ingestor form#ingestor_form div.form-group button{
      width:100%;
      text-align: center !important;
    }
    div#settings div#ingestor form#ingestor_form div.form-group:nth-child(5){
      margin-bottom:unset;
    }
    div#settings div#ingestor label.settings-field-name {
      font-size: 11px;
      line-height: 14px;
      font-family: 'Open Sans Bold';
    }

}

@media (min-width:1024px) and (max-width:1439px){
div#users input#searchBar_users {
  height:30px;
  font-size:12px;
}
div#users table{
  font-size:12px;
}
div#users table td button {
  font-size: 12px !important;
  height: 24px !important;
  line-height: 9px !important;
}
div#settings-tabs ul li a {
  text-align:center
}
div#settings-tabs ul li a span:last-of-type {
  display:none;
}
}

div#settings li a span{
  pointer-events: none;
}

@media (min-width: 769px) {

  /* Users tab */
  div#settings table#users_table {
    display:table;
  }
  div#settings div#users_cards{
    display:none;
  }
  /* Notifications tab */
  div#settings table#send_report_table, table#sme_emails_table{
    display:table;
  }
  div#settings div#emails_cards, div#sme_emails_cards{
    display:none;
  }
  div#settings input, div#settings button, div#settings .nav-link{
    font-size:18px;
  }
}

@media (max-width: 320px) {
  div#settings .nav-link {padding: 0px 0.7rem;}
}

div#settings .nav-tabs .nav-link {
  border: 1px solid #dedede;
  font-family: 'Open Sans';
  color: var(--active);
  line-height: 56px;
  background-color: white;
  font-weight: unset;
}

div#settings .settings-widget-container{
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);
  border-radius: 4px;
  background-color: white;
  padding:40px;
}

.notifications-tab .padding-checkboxs-left{
  padding-left:30px;
}

.settings-title {
  font-size: 20px !important;
  line-height: 25px;
  font-family: 'Open Sans Bold';
}

.settings-field-name {
  font-size: 18px;
  line-height: 14px;
  font-family: 'Open Sans Bold';
}

div#settings div#modal-add-or-edit input,div#settings div#modal-add-or-edit select{
  margin-bottom:10px;
}


.settings-group-name {
  font-size: 16px;
}

.personality-tab {
  color: #212529;
}

.field-tooltip {
  width: 13px;
}

.tooltip {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.15);
  border-radius: 4px;
}

table{
  background-color: transparent;
  border: 0 0 2px 0;
}

.personality-tab.active {
  color: #154080;
  font-family: 'Open Sans Bold';
}

.personality-tab-bar {
  height: 2px;
  /*background-color:#F2F2F2;*/
  width: 100%;
}

@media (max-width: 320px) {
  .menu-mobile {
    margin-left: 1.7rem !important
  }
}

.personality-tab.active .personality-tab-bar {
  background-color: #154080;
}

/* The check-container */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: .2em;
}

/* On mouse-over, add a grey background color */
.check-container:hover input~.checkmark {
  background-color: #ccc;
  border-radius: .2em;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
  background-color: var(--ingestor-blue-color);
  border: 1px solid var(--ingestor-blue-color);
  border-radius: .2em;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 6px;
  width: 11px;
  height: 17px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.user-table {
  /* border: 1px solid #dedede; */
}

.user-table td,
.user-table thead th {
 border-bottom: 1px solid #dee2e6
}

 tbody tr:last-child td{
 border-bottom: unset;
 }


table.user-table thead tr th{
  border-top: unset;
}

.user-table thead th {
  vertical-align: bottom;
  color: #949BA3;
  /* background-color: #f8f9fb; */
  border-color: #dedede;
}

.btn-new-user {
  color: #fff;
  background-color: #15407f;
  border-color: #15407f;
}

.btn-delete-user {
  margin-right: 5%;
  background-color: #fbfbfb;
  border-color: #8e9093;
}

@media (max-width: 320px) {
  .table-mobile {
    margin-left: 1.1rem !important
  }
}

.users-item {
  border-bottom: 1px solid #dedede;
}

/*************/
/**** NAV ****/
/*************/
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-radius: 3px;
}

.nav-tabs .nav-link.active {
  font-family: 'Open Sans Bold';
  color: #212528;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}

.nav-tabs .nav-link {
  border: 1px solid #dedede;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  color: #848181;
  line-height: 56px;
}

.tab-content>.active {
  display: block;
}

.nav.nav-tabs {
  display: block;
  border-bottom: 0;
  border-right: 1px solid transparent;
}

select.btn {
  background-color: white;
  font-size: 1rem;
  border-color: #ced4da;
  border-radius: 0px;
  border-right: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*************/
/**** Ask ****/
/*************/

#question {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.15);
  border-radius: 4px;
  margin-right: 10px !important;
}

#question:focus{
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
}

#search-btn {
  background: #2D8CFE;
  /* Brilliant Azure */
  border: 0.5px solid #2D8CFE;
  box-sizing: border-box;
  /* Blue */
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.15);
  border-radius: 4px;
}

.reaction-btn {
  color: #ffc107;
  font-size: 2rem;
  font-weight: 500;
  background-color: white;
}

.action-btn {
  color: var(--ingestor-blue-color);
  font-size: 1.9rem;
  font-weight: 500;
  background-color: white;
  padding: 0px;
}

#helpButton {
  position: fixed;
  border-radius: 18px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px #CDCDCD;
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 6px;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
}

#cantFindAnswer {
  position: fixed;
  padding: 7px;
  bottom: 28px;
  right: 75px;
  cursor: pointer;
  color: #4582F7;
  background-color: white;
  box-shadow: 0px 2px 3px #CDCDCD;
  border-radius: 5px;
}

div#modalTitle.modal-title {
  font-family: 'Open Sans Bold';
  font-size: 18px;
}

div.modal-body {
  font-size: 14px;
}

span#currentQuestion {
  font-family: 'Open Sans Bold';
}

#helpMenu {
  position: fixed;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px #CDCDCD;
  bottom: 20px;
  right: 75px;
  z-index: 10;
}

.question-link {
  color: black;
}

.question-link:hover {
  color: black;
}

mark {
  background-color: #FFE2B7 !important;
}

div#input-response div.col-12 div.d-flex div.card-links{
  padding-left: 0px!important;
}

/*******************/
/**** Documents ****/
/*******************/
.btn-copy {
  color: #0c8cfb;
  border-color: #0c8cfb;
  padding: 1px 5px 1px 5px;
}

.link-gray {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  /* Davy's Grey */
  color: #565656;
  cursor: pointer;
  text-decoration: none;
}

.badge-document {
  background: rgba(45, 140, 254, 0.1);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2D8CFE;
  margin-bottom:unset;
}

.badge-anchor {
  background-color: #3c7fff;
  color: white;
}

.interactive-card:hover {
  border-bottom: 5px solid rgba(45, 140, 254, 0.2) !important;
}

.card {
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);
}

.favorite-on {
  color: #2D8CFE;
}

.favorite-off {
  color: #363F49;
}

.favorite-text {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.edit-question {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.0025em;
  color: #949BA3;
}

.btn-outline-question {
  padding: 15px;
  font-weight: 1000;
  line-height: 1px;
  font-size: 14px;
  height: 30px;
  background: #FBFCFC;
  color: #2D8CFE;
  border: 1.5px solid #2D8CFE;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-outline-question.cancel {
  color: #363F49;
  border: 0;
}

.edit-question-input {
  width: 100%;
  font-size: 16px;
  color: #363F49;
}

/**********************/
/**** Welcome page ****/
/**********************/
.wp-title {
  color: #3178c9;
  font-size: 48px;
  line-height: 50px;
  font-family: 'Open Sans Bold';
  margin-top: 210px;
}

.wp-paragraph {
  font-size: 21px;
  line-height: 25px;
  margin-top: 40px;
}

.wp-get-started-button {
  font-size: 14px;
  font-family: 'Open Sans Bold';
  margin-top: 40px;
  color: white;
  background-color: #3178c9;
  letter-spacing: 1px;
  border: 10px solid #3178c9;
  border-radius: 40px;
  width: 170px;
}

.wp-bottom-links {
  margin-bottom: 40px;
  margin-top: 210px;
}

.wp-link {
  margin-right: 15px;
  color: #8f8f8f;
}

.ingestor-img {
  margin-top: 60px;
  width: 700px;
}

.wp-request-demo {
  margin-top: 40px;
}

@media (max-width: 760px) {
  .wp-title {
    margin-top: 40px;
  }

  .wp-get-started-button {
    margin-top: 0px;
  }

  .wp-paragraph {
    margin-top: 40px;
  }

  .ingestor-img {
    margin-top: 60px;
    width: 100%;
  }
}

/**********************/
/**** User History ****/
/**********************/
.history-background {
  background-color: #f6f6f6;
}

.history-card {
  background-color: #fff;
  margin-bottom: 4px;
}

.history-question {
  font-size: 25px;
}

.ask-ĺink {
  color: black;
}

.ask-ĺink:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

.btn-question {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:100%
}

.history-subtitle {
  font-size: 16px;
  color: #6E757C;
  margin-right: 30px;
}

.history-favorite {
  font-size: 16px;
  color: #F4A93C;
  margin-right: 30px;
}

.detail-btn {
  background-color: white;
  outline: none;
}

.responses-box {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.response-title {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Open Sans Bold';
}

.note-content {
  font-size: 16px;
  color: #6E757C;
  width: 80%;
}


div#user-history{
  padding: 0px 10%;
}

.bold{
  font-weight:600;
}

.paddingLeft-25px{
  padding-left: 25px;
}

.paddingLeft-35px{
  padding-left: 35px;
}

div#user-history div.card-body {
  min-height: 90px;
  padding: 10px 20px;
}

div#user-history .content-container{
  padding-left:unset;
  padding-right:unset;
   margin-top:20px;
}
div#user-history div.card-body div.row div{
  width:20%;
  height:auto;
  border-right: 1px solid gray
}
div#user-history div.card-body div.row div:last-of-type{
  border-right: unset;
}
div#user-history div.card-body div.row div:not(:first-of-type){
padding-left: 20px;
}
div#user-history div.card-body div.row div p:first-child{
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #a1a1a1;
  padding-top: 10px;
}
div#user-history div.card-body div.row div p:last-child{
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 22px;
}

div#user-history .btn-link.focus, div#user-history .btn-link:focus,
div#user-history .btn-link.hover, div#user-history .btn-link:hover{
  text-decoration:unset !important;
}

div#user-history .timelapseQuestion{
  padding-left: .75rem;
}
div#user-history div#filters label{
  font-size:12px;
}

div#user-history .check-container .checkmark:after {
  left: 6px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


div#user-history .checkmark {
  height: 20px;
  width: 20px;
}

.icon-user-history {
  display: inline-block;
  width: 20px;
  height:21px;
  background-size: cover;
  vertical-align: middle;
}

.icon-user-activity-upvote {
  background-image: url(../images/user_activity_upvote.svg);
}
.icon-user-activity-downvote {
  background-image: url(../images/user_activity_downvote.svg);
}
.icon-user-activity-feedback {
  background-image: url(../images/user_activity_feedback.svg);
}
.icon-user-activity-notes {
  background-image: url(../images/user_activity_notes.svg);
}
.icon-user-activity-pinned {
  background-image: url(../images/user_activity_pinned.svg);
}

@media (max-width: 760px) {
  div#UA-overview-mob, div#filtersMobile{
    display:block !important;
  }
  div#UA-overview-web, div#filtersWeb{
    display:none !important;
  }
div#user-history div.mx-5{
  margin:unset !important;
}
div#user-history button#buttonTime-my-activity{
  width:100%;
  text-align:center !important;
  min-height:50px;
}
div#user-history div.card-body div p:first-child{
  margin-bottom: 0px;
  font-size: 10px;
  font-weight: 600;
  color: #a1a1a1;
  padding-top: 10px;
}
div#user-history div.card-body div p:last-child{
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 22px;
}
div#user-history div.card-body {
    min-height: unset;
    padding: 10px 0px 10px 0px;
}
div.popular-questions-title{
  margin-top:20px;
}
div#user-history div#title_time_block{
  width:60%;
}
div#user-history div#title_time_block button{
  font-size:11px;
  padding-left:0px;
}
div#user-history div#title_time_block p{
  font-size:10px;
  padding-left:0px;
  margin-bottom:unset;
}
div#user-history div#icons_block{
  width:65%;
}
div#user-history div#icons_block i{
  padding:6px;
}
div#user-history div#icons_block i span{
  height:11px;
  width:10px;
}
div#user-history div#icons_block > span{
  position: absolute;
  top: 45px;
  right: 10%;
  font-size: 16px;
}
div#user-history div.qa-question.fz-16{
  font-size:11px;
}
div#user-history div#flex-card-header{
  display:block !important;
}
div#user-history div.card-body > div{
  padding-left:0px;
  padding-right:0px;
}
div#user-history span.toggleable-icon{
  margin-top:2px;
  height:12px;
  width:12px;
}
div#user-history div.card-body div.row div{
  width:80%;
  font-size:11px;
}
div#user-history div.card-body label.search-suggestion {
  font-size: 12px;
  margin-bottom: 0px;
}
div#user-history div.card-body label.qa-verified {
  font-size: 9px;
}
div#user-history div#thumbs-box{
  font-size:15px;
}
div#user-history .qa-answer, div#user-history div#feedback-text, div#user-history div#note-text,
div#user-history a.nav-link.feedback-tab.pl-0{
  font-size:11px;
}
}

@media (min-width: 760px) {
  div#UA-overview-mob, div#filtersMobile{
    display:none !important;
  }
  div#UA-overview-web, div#filtersWeb{
    display:block;
  }
  }


div#settings .nav-tabs .nav-link.active {
  font-family: 'Open Sans';
  color: var(--ingestor-blue-color);
  background-color: rgba(45, 140, 254, 0.2);
  font-weight: 600;
}

div#settings .nav-tabs .nav-link.active  span.iconSetttingsTab {
  filter: invert(27%) sepia(50%) saturate(2878%) hue-rotate(200deg) brightness(80%) contrast(75%);
}

.user-history-icon-circlebase{
  background: rgba(54, 63, 73, 0.1);
  border-radius: 20px;
  font-size: 0px;
  text-align: center;
  border-radius:50%;
  display:inline-block;
  padding:10px;
}

/* Enterprise Dashboard */

div#dashboardInstance div.card-body {
  min-height: 90px;
  padding: 10px 20px;
}

div#dashboardInstance .content-container{
  padding-left:unset;
  padding-right:unset;
   margin-top:20px;
}
div#dashboardInstance div.card-body div.row div{
  width:25%;
  height:auto;
  border-right: 1px solid gray
}
div#dashboardInstance div.card-body div.row div:last-of-type{
  border-right: unset;
}
div#dashboardInstance div.card-body div.row div:not(:first-of-type){
padding-left: 20px;
}
div#dashboardInstance div.card-body div.row div p:first-child{
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  color: #a1a1a1;
  padding-top: 10px;
}
div#dashboardInstance div.card-body div.row div p:last-child{
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 22px;
}

.iconTotalizers{
  position: absolute;
    margin: auto !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


@media (min-width: 576px) {
  #instancesModal .modal-dialog {
      min-width: 1220px;
      margin: 1.75rem auto;
  }
}

div#dashboardInstances div.pointer-div{
  cursor:pointer;
  border-radius:4px; 
  padding:0px;
}


div#dashboardInstances div.totalizer-bg-icon{
  padding:0px; 
  height:100%; ; 
  background-color: #2D8CFE;
  width:100%; 
  border-radius:4px 0 0 4px;
  min-height:70px; 
  text-align:center;
}

div#dashboardInstances div.dashboard-card div.col-9{
  padding-right:5px;
}

div#dashboardInstances div.dashboard-card div.col-9 h5{
  padding-top: 5px;
  color: #888888;
  text-align: right;
  font-size: 12px;
  padding-right: 5px;
}

div#dashboardInstances div.dashboard-card div.card-body {
  border-radius:4px; 
  padding:0px;
}

div#dashboardInstances div.dashboard-card .graphs{
  border-radius:4px !important; 
  padding: 10px 20px !important;
}

div#dashboardInstances div.dashb-big-value{
  font-size:1.5rem;
  padding-right:5px; 
  text-align: right;
}

.margin-graphs-card-title{
  margin: 0;
}

.fz-12{
  font-size:12px;
}

.gray-close-modal{
  color: #6c757d;
}

.pointer{
 cursor: pointer;
}

.blue-ingestor-text{
  color:#2D8CFE;
}

div#dashboardInstance .table-information{
  font-size:14px; 
  color:#949ba4;
}

.p0{
  padding:0;
}


form#ingestor_form div.bootstrap-tagsinput{
  border:1px solid #ced4da;
}

/* Enterprise Dashboard Instance */


#dashboardInstance table tbody {
  height:auto;
  max-height:400px;
  overflow-y: auto;
  display:block;
  width:auto;
  min-width: 100%;
}

#dashboardInstance table thead {
  position:relative;
  display:inline-block;
  width:auto;
  min-width: 100%;
}

#dashboardInstance table td:nth-child(1), #dashboardInstance table th:nth-child(1),
#dashboardInstance table td:nth-child(2), #dashboardInstance table th:nth-child(2),
#dashboardInstance table td:nth-child(3), #dashboardInstance table th:nth-child(3),
#dashboardInstance table td:nth-child(4), #dashboardInstance table th:nth-child(4),
#dashboardInstance table td:nth-child(5), #dashboardInstance table th:nth-child(5) { 
  min-width: 195px; 
}

/*************/
/**** Tags Input ****/
/*************/

.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-cursor{
  color: #2D8CFE !important;
  text-decoration: none !important;
  outline: 0 !important;
  font-weight: bold !important;
  background-color: rgba(45, 140, 254, 0.1) !important;
}

.bootstrap-tagsinput {
  display: inline-block !important;
  vertical-align: middle !important;
  max-width: 100% !important;
  min-width: 100% !important;
  cursor: text !important;
  background: #FBFCFC !important;
  border: 1px solid #F2F2F2 !important;
  box-sizing: border-box !important;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05) !important;
  width: 100% !important;
  height: auto !important;
  min-height: calc(2.25rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-clip: padding-box !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

div.left-addon div.bootstrap-tagsinput{
  padding: .375rem 0px !important;
}

.bootstrap-tagsinput input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
  max-width: inherit !important;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


/*************/
/**** Ask ****/
/*************/

/* jumping dots */
div#wave {
  display:inline-block;
	text-align:center;
	margin-left: auto;
  margin-right: auto;
}

.dot {
  display:inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  margin-right: 1px;
  margin-left: 2px;
  margin-bottom:1px;
  animation: wave 1.3s linear infinite;
  background-color: #565656;
}

.dot:nth-child(2) {
  animation-delay: -1.1s;
}

.dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-5px);
	}
}

/* */

.ask-btn {
  font-family: 'Open Sans Bold';
}

.ask-card {
  border: 1px solid #F2F2F2;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 45px;
  padding-bottom: 90px;
}

.ask-title {
  margin-left: 8px;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Open Sans Bold';
}

.popular-questions-title {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #363F49;
}

.popular-questions-counterbtn-outline-question {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #363F49;
}

.search-suggestion {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #232529;
  padding-bottom: 5px;
}

.response-counter {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #565656;
}

.popular-questions-item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #363F49 !important;
  cursor: pointer;
}

.qa-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

div.qa-container table{
  display: block;
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 425px) {
  .qa-container {
    margin-bottom: 60px;
  }
}

.translate-box {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 19px;
  color: #949BA3;
  padding-top: .25rem;
  margin-right: 10px;
}

.translate-box a {
  color: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.translate-box a:hover {
  color: #2D8CFE;
  text-decoration: none;
}

.share-box {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 19px;
  color: #949BA3;
  padding-top: .25rem;
}

.share-box-item {
  font-size: 14px !important;
  cursor: pointer;
  color: #949BA3 !important;
}

a .share-box-item:hover {
  background: #2D8CFE;
  color: #2D8CFE;
}

.source-box {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 19px;
  color: #949BA3;
  padding-top: .25rem;
  margin-left: 10px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.source-box a {
  color: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.source-box a:hover {
  color: #2D8CFE;
  text-decoration: none;
}


/* change hover to all dropdowns
.dropdown-menu > a:hover, .dropdown-menu > a:focus {
background-color: #e6f1fc;
color: #2D8CFE !important;
} */

.share-box-item:focus,
.share-box-item:hover {
  background-color: #e6f1fc;
  color: #2D8CFE !important;
}

.qa-question {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
}

.qa-answer {
  font-style: normal;
  font-family: 'Open Sans','Symbola';
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.qa-answer a {
  color: #949BA3;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.qa-answer a:hover {
  color: #2D8CFE;
  text-decoration: none;
}

.qa-verified {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #565656;
  margin-top: 2px;
}

.like-box {
  color: #BABABA;
}

.toggleable-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  vertical-align: middle;
  cursor: pointer;
}

.pin-icon {
  background-image: url(/static/images/pin-icon.svg);
}

.pin-icon-pressed {
  background-image: url(/static/images/pin-icon-pressed.svg);
}

.passage-link {
  font-family: 'Open Sans Bold','Symbola';
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  text-decoration-line: underline;
  color: #000000;
  /*padding-top: 5px;*/
}

.feedback-tab {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #BABABA;
}

.feedback-tab.active {
  color: #232529;
}

.feedback-tab-bar {
  height: 1px;
  width: 100%;
}

.feedback-tab.active .feedback-tab-bar {
  background-color: #232529;
}

.note-text {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 1rem;
  color: #565656;
}

.note-last-modify {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  color: #BABABA;
}

.ask-panel {
  padding-top: 40px;
}

.ask-question {
  font-size: 18px;
  font-family: 'Open Sans Bold';
  margin-bottom: 0px;
}

.note-title {
  color: #15407f;
  font-family: 'Open Sans Bold';
  margin-bottom: 12px;
}

.note-edit-button {
  color: #4d4d4d !important;
}

.comment-title {
  color: #808080;
  font-family: 'Open Sans Bold';
  margin-bottom: 0px;
}

.like-box i:hover {
  color: #007bff;
}

.audio-btn {
  position: relative;
}

.audio-btn button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: transparent !important;
  cursor: pointer;
  position: absolute;
  left: -48px;
  top: 5px;
  outline: none;
}

.record-animation {
  width: 4px;
  height: 4px;
  left: -30.4px;
  top: 22px;
  border-radius: 50%;
  background: #ddeddc;
  position: absolute;
}

.shadow-animation {
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  }

  100% {
    box-shadow: 0 0 0 22px rgba(0, 0, 0, 0);
  }
}

.audio-btn button:active {
  border: 1px solid #5ca451;
  border-radius: 18px;
}

.audio-btn button#record i {
  font-size: 1.3em;
  color: #6d757c;
  position: absolute;
  left: 11.6px;
  top: 7px;
}


.audio-btn button#erase i {
  font-size: 1.3em;
  color: #6d757c;
  position: absolute;
  left: 4px;
  top: 7px;
}

.audio-btn button i:hover {
  color: #5ca451;
}

.audio-btn button:active i {
  left: 10.6px;
  top: 6px;
}

@media (max-width: 760px) {
  .audio-btn button i {
    font-size: 1.3rem !important;
    top:10px !important;
    }
  .ask-btn-position {
    position: absolute;
    transition: .5s ease;
    top: 100%;
    left: 1.5%;
    width: 96%;
  }

  .ask-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .ask-btn {
    width: 100%;
  }

  .ask-panel {
    padding-top: 0px;
  }

}

.card-searchs {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.0025em;
  color: #949BA3;
  cursor: pointer;
}

.ask-nv-card{
  border:0.5px solid #E2E5E9;
  background-color:#ffffff;
  padding: 20px !important;
}
.ask-nv-title-link{
color: #363F49;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-decoration: underline;
}
.ask-nv-title-link:hover, .ask-nv-title-link:active{
  color: #2D8CFE;
}

#ask-question .nav.nav-tabs , #ask-passage .nav.nav-tabs{
  display: flex;
  border-bottom: 1px solid #dee2e6;
  border-right: unset;
}

#ask-question .nav-tabs .nav-link , #ask-passage .nav-tabs .nav-link{
  border: 1px solid transparent;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}

#ask-question .nav-link , #ask-passage .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  font-feature-settings: 'kern' off;
  color: #808080;
}

#ask-question .nav-tabs .nav-link.active , #ask-passage .nav-tabs .nav-link.active{
    font-family: 'Open Sans Bold';
    color: #212528;
    border-color: #dee2e6 #dee2e6 #dee2e6;
    border-bottom:0px;
}

.preamble-disclaimer{
  font-family: 'Open Sans','Symbola';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #363F49;
  width:100%;
  background-color: #F0F0F5;
  border: 1px solid #E0E0EB;
  padding: 20px 15px !important;
}

/*************/
/**** Q&A ****/
/*************/

.favorite-star {
  margin-top: 9px;
}

.question-status-desc {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #565656;
}

@media (min-width: 321px) and (max-width: 425px) {
  .sm-button {
    padding: .25rem .4rem;
  }
}

@media (max-width: 320px) {
  .sm-button {
    padding: .15rem .3rem;
  }
}

/****************/
/**** Issues ****/
/****************/
.mobile-card {
  padding: 20px;
  margin-top: 20px;
}

@media (max-width: 425px) {
  .mobile-card {
    padding: 15px;
  }
}

.card-status {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #565656;
  text-align: justify;
}

.card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  text-align: justify;
  color: #232529;
}

.card-links {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0025em;
  cursor: pointer;
}

@media (max-width: 425px) {
  .card-text {
    text-align: start !important;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.issue-resolved {
  background: #ebf8f0;
  border: 0.5px solid #ebf8f0;
  box-sizing: border-box;
  border-radius: 10px;
  color: #22BF6F;
}

.issue-unresolved {
  background: #fae8ea;
  border: 0.5px solid #fae8ea;
  box-sizing: border-box;
  border-radius: 10px;
  color: #F2444A;
}

/*****************/
/**** Library ****/
/*****************/
.list-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  letter-spacing: 0.01em;
  /* Dark Gunmetal */
  color: #232529;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
}

.reaction-icon {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #BABABA;
}

.list-item-detail {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* Davy's Grey */
  color: #565656;
}

.list-item-badge {
  margin-top: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  width: 90px;
}

.badge-success {
  color: #28a745;
  background-color: #ebf8f0;
  border: 0.5px solid #ebf8f0;
}

.badge-primary {
  color: #FCB03F;
  background-color: #fef7ec;
  border: 0.5px solid #fef7ec;
}

.badge-warning {
  /* Dandelion */
  background: #FCB03F;
  opacity: 0.1;
  /* Dandelion */
  border: 0.5px solid #FCB03F;
  border-radius: 10px;
}

.dropdown-menu {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* Gray 2 */
  color: #4F4F4F;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  /* Brilliant Azure */
  background-color: #ecf2fe;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* Blue 1 */
  color: #2F80ED;
}

.navbar .btn {
  margin-right: 10px;
}

.dropdown-addfiles {
  background: #FFFFFF;
  box-sizing: border-box;
  /* blue */
  box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.15);
  border-radius: 4px;
  float: right !important;
}

.float-desk-mobile {
  float: right !important;
}

@media (max-width: 425px) {
  .float-desk-mobile {
    float: left !important;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1.1em;
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.btn-outline-ingestor {
  color: #2D8CFE;
  background-color: transparent;
  background-image: none;
  border-color: #2D8CFE;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
}


.btn-outline-ingestor:not(:disabled):not(.disabled).active,
.btn-outline-ingestor:not(:disabled):not(.disabled):active,
.show>.btn-outline-ingestor.dropdown-toggle,
.btn-outline-ingestor:hover {
  color: #fff;
  background-color: #2D8CFE;
  border-color: #2D8CFE;
}

.btn-outline-secondary {
  height: 38px;
  background: #FBFCFC;
  /* Gray 6 */
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-outline-gray {
  font-style: normal;
  font-weight: 1000;
  line-height: 14px;
  font-size: 12px;
  height: 30px;
  background: #FBFCFC;
  color: #565656;
  border: 1.5px solid #949BA3;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (max-width: 425px) {
  .btn-outline-gray {
    width: 100%;
  }
}

.search-input {
  background: #FBFCFC;
  /* Gray 6 */
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.separator {
  border: 0.5px solid #dfe2df;
}

.absolute-div {
  background-color: #f8f8fa;
  z-index: 100;
  position: fixed;
  width: 100%;
  padding-top: 40px;
}

@media only screen and (max-width: 425px){
  .absolute-div {
  padding-top: 10px;
}
}

.type-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #4C5464;
}

.no-found-font {
  font-style: normal;
  font-weight: bold;
  font-size: 301px;
  line-height: 287px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #0598E8;
}

.no-found-msg {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

#dragon {
  position: relative;
  left: 132px;
  top: 128px;
  z-index: -1;
}

#warrior {
  position: relative;
  left: -217px;
  top: 327px;
}

.not-found-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #5BE3FD;
  background-color: #142e4f;
  border-color: #5BE3FD;
}

@media (max-width: 425px) {
  .no-found-font {
    font-size: 130px;
    line-height: 177px;
  }

  .no-found-msg {
    font-size: 16px;
    line-height: 22px;
  }

  #dragon {
    left: 60px;
    top: 90px;
    width: 70%;
  }

  #warrior {
    left: -150px;
    top: 195px;
    width: 14%;
  }
}

@media (max-width: 375px) {
  #warrior {
    left: -132px;
    top: 190px;
    width: 14%;
  }
}

@media (max-width: 320px) {
  #warrior {
    left: -115px;
    top: 179px;
    width: 14%;
  }
}

/****************/
/**** Search ****/
/****************/
.inner-addon {
  position: relative;
}

.inner-addon .fa-search, .inner-addon .fa-tag{
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #4A535E;
}

.left-addon .fa-search, .inner-addon .fa-tag {
  left: 0px;
}

.right-addon .fa-search, .inner-addon .fa-tag {
  right: 0px;
}

.left-addon input {
  padding-left: 37px !important;
}

.right-addon input, .right-addon div.bootstrap-tagsinput{
  padding-right: 37px;
}

/**********************/
/**** Smart Search ****/
/**********************/
.smart-search-modal {
  max-width: 1224px;
}

.smart-search-header {
  border-bottom: 0;
}

.smart-search-tab {
  font-size: 14px;
  line-height: 25px;
  color: #949BA3;
}

.smart-search-tab:hover {
  color: #363F49;
}

.smart-search-tab.active {
  color: #363F49;
}

.smart-search-tab-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2px;
  width: 100%;
}

.mobile-close-modal {
  position: relative;
  left: 29px;
  top: -4px;
}

.smart-search-count {
  font-size: 14px;
  line-height: 19px;
  padding-top: 4px;
  padding-right: 10px;
  color: #949BA3
}

.doc-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #363F49;
}

.passage-text {
  font-size: 17px !important;
  line-height: 32px !important;
  text-align: justify !important;
  color: #363F49 !important;
}

@media (max-width: 320px) {
  .menu-mobile {
    margin-left: 1.7rem !important
  }

  .passage-text {
    font-size: 16px !important;
  }

  .smart-search-tab {
    font-size: 12px !important;
  }

  .smart-search-count {
    font-size: 12px !important;
  }
}

.smart-search-tab.active .smart-search-tab-bar {
  background-color: var(--primary);
}

#search-counter {
  font-size: 14px;
  line-height: 19px;
  padding-top: 10px;
}