<!doctype html>
<html>
<!--- HEADER -->
{% with title='Login' %}
{% include 'head.html' %}
{% endwith %}
<body>
{% include 'navbar.html' %}
<br/>
<div class="row">
  <div class="col">
    <div id="error-msg" class="mx-auto p-3 error-message text-center" style="display: none;"></div>
  </div>
</div>
<br/>

<script type="text/javascript" src="/static/libraries/validation/validations.js"></script>
<script type="text/javascript">
  function validateLoginCode(event) {
    event.preventDefault();
    var form = event.target;
    if (form.logincode.value == '') {
      showError("{{_('Login code is required')}}");
      return;
    }
    hideError();
    form.submit();
  }
</script>

<div class="row ml-0 collapse show col-12">
  <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 card forget-pass-card py-3">
    <br/>
    <br/>
    <h5>Complete two-factor authentication</h5>
    {% if msg %}
    <div class="alert alert-primary" role="alert">{{ msg | safe }}</div>
    {% endif %}
    {% if error_msg %}
    <div class="alert alert-danger" role="alert">{{ error_msg | safe }}</div>
    {% endif %}
    <br/>
    <form id="forgotPasswordForm" action="/login" method="post" onsubmit="validateLoginCode(event)">
      <input type="hidden" name="nonce"   value="{{ nonce }}"/>
      <input type="hidden" name="expires" value="{{ expires }}"/>
      <input type="hidden" name="email" value="{{ email }}"/>
      <h6>{{_('LOGIN CODE')}}</h6>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="logincode" value="" placeholder="Login code"  autocomplete="off" data-lpignore="true"/>
      </div>
      <br/>
      <br/>
      <div class="form-group">
          <button type="submit" class="btn btn-lg btn-success float-right">
            {{_('CONTINUE')}} <i class="fa fa-arrow-right"></i>
          </button>
      </div>
    </form>
  </div>
  <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
</div>

</body>
{% include 'footer.html' %}
</html>
