<div id="div_permissions">
    <div class="table-responsive">
        <table id="permissions_table" class="table table-responsive user-table col-12">
            <thead>

            <tr>
                <th class="text-left">{{_('Permission') | upper}}</th>
                {% for key, value in config.get_roles().items() %}
                <th class="role text-center" data-role="{{key}}">
                    <span class="nowrap">
                        {{key | upper}}
                        <button id="delete-role"
                                {% if value['users']|length > 0 %}
                                    disabled title="{{_('You can\'t delete a role that has active users')}}"
                                {% else %}
                                    title="{{_('Delete Role')}}"
                                {% endif %}

                            class="delete-role" type="button" onclick="deleteRole('{{key}}')">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </span>
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for key, value in permissions.items() %}
            <tr id="" class="text-left">
                <td>{{value.name}}</td>
                {% for role_key, role_value in config.get_roles().items() %}
                <td>
                    <div class="row">
                        <div class="col-lg-12" align="center"><label class="check-container">
                            <input class="form-check-input permission-check
                            {{role_key}} " data-permission="{{key}}"
                                {% if role_value['users']|length > 0 %}
                                    data-has-users="true"
                                    {% endif %}
                                type="checkbox"
                                id="{{(key + '_' + role_key)}}" name=""
                                {% if key in role_value.permissions %}
                                checked
                                {% endif %}
                                value=""
                                onchange="markPermissionsChanged()"
                                    {%if role_key == 'admin' and key == PERM_MODIFY_SETTINGS%}
                                            readonly="true" checked onclick="return showAdminSettingsPermissionError()"
                                    {% endif %}
                                    />
                            <span class="checkmark"></span>
                        </label>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    </div>
    {% include 'bot-settings-roles-homepage.html' %}
    {% include 'bot-settings-roles-forbidden-tags.html' %}
</div>