<form id="personality_form"  method="post" action="/save-instance-settings/{{ config.get_database_name() }}">
  <div class="form-group">
    <label class="settings-field-name" for="ask_preamble">{{_('ASK PREAMBLE')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.ask_preamble }}"/>
    <input type="text" class="form-control settings-field" id="ask_preamble" name="ask_preamble" placeholder="{{_('Ask preamble...')}}" value="{{ config.get_ask_preamble() }}" onchange="markInstanceChanged()"/>
 </div>

 <div class="form-group">
  <label class="settings-field-name" for="disclaimer">{{_('Q & A FOOTER')}}</label>
  <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.disclaimer }}"/>
  <input type="text" class="form-control settings-field" id="disclaimer" name="disclaimer" placeholder="{{_('Q & A Footer...')}}" value="{{ config.get_disclaimer() }}" onchange="markInstanceChanged()"/>
</div>

  <div class="form-group">
    <label class="settings-field-name" for="no_answer">{{_('NO ANSWER RESPONSE')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.no_answer_response }}"/>
    <input type="text" class="form-control settings-field" id="no_answer" name="no_answer" placeholder="{{_('No answer response...')}}" value="{{ config.get_no_answer() }}" onchange="markInstanceChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="meh_msg">{{_("CAN'T FIND ANSWER")}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.misunderstanding_response }}"/>
    <input type="text" class="form-control settings-field" id="meh_msg" name="meh_msg" placeholder="{{_('Can\'t find answer...')}}" value="{{ config.get_meh_msg() }}" onchange="markInstanceChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="comment_prompt">{{_('FEEDBACK PROMPT')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.feedback_prompt }}"/>
    <input type="text" class="form-control settings-field" id="comment_prompt" name="comment_prompt" value="{{ config.get_comment_msg() }}" onchange="markInstanceChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="comment_confirmation">{{_('FEEDBACK CONFIRMATION')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.feedback_confirmation }}"/>
    <input type="text" class="form-control settings-field" id="comment_confirmation" name="comment_confirmation" value="{{ config.get_comment_confirmation() }}" onchange="markInstanceChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="notes_prompt">{{_('NOTE PROMPT')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.note_prompt }}"/>
    <input type="text" class="form-control settings-field" id="notes_prompt" name="notes_prompt" value="{{ config.get_notes_msg() }}" onchange="markInstanceChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="notes_confirmation">{{_('NOTE CONFIRMATION')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.note_confirmation }}"/>
    <input type="text" class="form-control settings-field" id="notes_confirmation" name="notes_confirmation" value="{{ config.get_note_confirmation() }}" onchange="markInstanceChanged()"/>
  </div>

  <input type="hidden" id="display_name_hidden" name="display_name"/>

  <div class="form-group">
    <label class="check-container">{{_('Only display verified QA pairs in search results')}}
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.personality.require_verification }}"/>
      <input class="form-check-input" type="checkbox" id="requireVerification" name="require_verification" value="required" onchange="markInstanceChanged()">
      <script type="text/javascript">
        $('#requireVerification')[0].checked = {% if config.get_require_verification() == 'required' %} true {% else %} false {% endif %};
      </script>
      <span class="checkmark"></span>
    </label>
  </div>


</form>