<div class="form-group d-flex" id="bot-settings-users-title-container">
    <div class="col-8">
      <h1 class="settings-title" style="margin-top:unset;">{{_('Home page')}}</h1>
      <p class="forgot-password-gray" id="usersLength">
        {{_('Home page management')}}
      </p>
    </div>
  </div>

  <table id="pages_table" class="table user-table col-12">
    <tbody>
      {% for role_key, role_value in config.get_roles().items() %}
      <tr id="" class="text-left" data-role="{{role_key}}">
        <td>
          <div class="row">

            <div class="d-flex" >
                <p style="padding-right: 10px; margin: auto 0px;">{{role_key | upper}}</p>
                <button class="btn btn-outline-secondary dropdown-toggle mr-0 " type="button" id="dropdownPages_{{role_key}}"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if role_value.homepage %}
                     {{ homepage_translations[role_value.homepage.name] }}
                  {% else %}
                    {{_('Default')}}
                  {% endif %}
                </button>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPages">
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/ask/', 'Ask', '', '{{_('Ask')}}')">{{_('Ask')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/issues/', 'Issues', 'PERM_VIEW_ISSUES', '{{_('Issues')}}')">{{_('Issues')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/questions/', 'Q&A', 'PERM_VIEW_QA', '{{_('Q&A')}}')">{{_('Q&A')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/library/', 'Library', 'PERM_VIEW_LIBRARY', '{{_('Library')}}')">{{_('Library')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/dashboard/', 'Dashboard', 'PERM_VIEW_DASHBOARD', '{{_('Dashboard')}}')">{{_('Dashboard')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/settings/', 'Settings', 'PERM_MODIFY_SETTINGS', '{{_('Settings')}}')">{{_('Settings')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '/training/', 'Training', '', '{{_('Training')}}')">{{_('Training')}}</button>
                  <button class="dropdown-item" onclick="setHomePage('{{ role_key }}', '', 'Default', '', '{{_('Default')}}')">{{_('Default')}}</button>
                </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script>
  var rol_pages_home = {{ config.get_roles() | tojson }};

  function setHomePage(rol, url, title, permission, title_translation) {
    for (var key in rol_pages_home) {
      if (key == rol) {
        rol_pages_home[key]['homepage'] = {
          'name': title,
          'url': url,
          'permission': permission
        }
        $('#dropdownPages_' +rol).html(title_translation);
      }
    }
  }
</script>