<div class="form-group d-flex" id="bot-settings-users-title-container">
  <div class="col-8">
  <h1 class="settings-title" style="margin-top:unset;">{{_('Roles and Permissions')}}</h1>
  <p class="forgot-password-gray" id="usersLength">
    {{_('Roles and permissions management')}}
  </p>
  </div>
  <div class="col-4 text-right pr-0">
    <button type="button" style="font-size:18px;" data-toggle="modal" data-titlemodal="{{_('Add Role')}}"
            data-labelbttnsave="{{_('ADD')}}"
            data-labelbttncancel="{{_('CANCEL')}}" data-target="#modal-add-role"
            class="btn btn-outline-ingestor h-button"
            onclick="editUser()">+ {{_('ADD NEW')}}</button>
  </div>
</div>

<div id="role-error-box" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
    <span id="role-error-box-msg"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% include 'bot-settings-roles-permissions-table.html' %}



<div class="form-group text-align-right">
  <button type="button" class="btn btn-outline-ingestor h-button" onclick="updateRoles(this.form)">{{_('UPDATE SETTINGS')}}</button>
</div>

<div id="modal-add-role" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title" value="">{{_('Add new role')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div id="role-error-box-modal" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
            <span id="role-error-box-modal-msg"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <form onsubmit="return saveRole(this)">
          <table id="permissions_modal_table" class="table table-responsive user-table col-12">
            <thead>
            <tr>
              <th>
                <label for="new_role_name" class="settings-field-name">{{_('Role Name') | upper }}</label>
                <input type="text" class="form-control form-control-lg settings-field"
                       id="new_role_name" name="new_role_name"/>
              </th>
            </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" style="font-size:18px;" id="cancelRoleModalButton" onclick="cancelRoleModal()" class="btn btn-outline-secondary mr-auto">{{_('CANCEL')}}</button>
            <button id="saveRoleButton" style="font-size:18px; line-height: 20px;" type="button" class="btn btn-outline-ingestor" onclick="saveRole(this.form)">{{_('SAVE')}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#modal-add-role').on('shown.bs.modal', function() {
            $("#new_role_name").focus();
        });
    });
    function deleteRole(roleName) {

        showConfirmModal("{{_('Warning')}}", "{{_('Are you sure you want to delete this role?')}}", function(status) {
            if (status) {
                var roleData = {"role":roleName}
                $.ajax({
                    url: "/delete_role/{{ filter['bot'] }}/"+roleName,
                    method: 'GET'
                }).fail(function(xhr, status, errorMessage){
                    showRoleErrorBox( status + ' ' + errorMessage);
                }).done(function(response) {
                    if (response.error) {
                        showRoleErrorBox(response.message);
                    } else {
                        reloadRolesAndPermissionsTable()
                        console.log('ok')
                    }
                });
            }
        });
    }
    function saveRole(form) {
        if (!(/^[0-9a-zA-Z\-_]+$/.test($('#new_role_name').val()))) {
            showRoleErrorBoxModal("{{_('You must specify a name for the new role without spaces or special characters')}}");
            return false;
        }
        var role = $('#new_role_name').val();
        $.ajax({
            url: "/add_role/{{ filter['bot'] }}/"+role,
            method: 'GET'
        }).fail(function(xhr, status, errorMessage){
            showRoleErrorBox( status + ' ' + errorMessage);
        }).done(function(response) {
            if (response.error) {
                showRoleErrorBox(response.message);
            } else {
                resetRolePopUp();
                cancelRoleModal();
                reloadRolesAndPermissionsTable();
                console.log('ok')
            }
        });
        return false;
    }

    function reloadRolesAndPermissionsTable(){
        $.ajax({
            url: "/show_roles/{{ filter['bot'] }}",
            method: 'GET',
        }).fail(function(xhr, status, errorMessage){
            showRoleErrorBox( status + ' ' + errorMessage);
            location.reload(true);
        }).done(function(response) {
            if (response.error) {
                showRoleErrorBox(response.message);
                location.reload(true);
            } else {
                $("#div_permissions").replaceWith(response);
            }
        });
    }


    function cancelRoleModal() {
        $('#modal-add-role').modal('toggle');
    }
    function resetRolePopUp() {
        $('#new_role_name').val('');
    }
    function showRoleErrorBox(message) {
        showRoleError(message, "role-error-box");
    }
    function showRoleErrorBoxModal(message) {
        showRoleError(message, "role-error-box-modal");
    }
    function showRoleError(message, box) {
        $("#"+box+"-msg").html(message);
        $("#"+box).removeClass('d-none');
        setTimeout(function() {
            $("#"+box).addClass('d-none');
        }, 7000);
    }
    function validateSettingsPermission(){
        if ($("[data-permission='{{PERM_MODIFY_SETTINGS}}'][data-has-users='true']:checked").length < 1) {
            showRoleErrorBox("{{_('You must have at least one set of users who can access and edit the Settings Page')}}")
            return false;
        } else {
            return true;
        }
    }

    function showAdminSettingsPermissionError() {
        showRoleErrorBox("{{_('Admin role must have Settings permission always on')}}");
        return false;
    }
    function updateRoles() {
        // validate settings permission enabled for at leas one role
        if (!validateSettingsPermission()) {
            return false;
        }

        var roles = buildRolesObject();

        console.log(roles);
        $.ajax({
            url: '/save_roles/{{ filter['bot'] }}',
            method: 'POST',
            data: JSON.stringify(roles),
            dataType:'json'
        }).fail(function(xhr, status, errorMessage){
            showError(xhr.responseJSON.error_message);
            $('html, body').animate( { scrollTop : 0 }, 800 );
            setTimeout(function() {
                $('#error-msg').removeClass('show')
                $('#error-msg').css('display', 'none');
            }, 7000);
        }).done(function(response) {
            if (response.error) {
                showError( status + ' ' + errorMessage);
            } else {
                showSuccess('{{_("Your changes have been saved")}}');
                reloadRolesAndPermissionsTable();
                permissionsChanged = false;
            }
            $('html, body').animate( { scrollTop : 0 }, 800 );
            setTimeout(function() {
                $('#success-msg').removeClass('show')
                $('#success-msg').css('display', 'none');
            }, 7000);
        });
        return false;

    }

    function buildRolesObject() {
        var roles = {}
        $('#permissions_table .role').each(function(idx, el){
            var role = $(el).attr('data-role');
            var selector = "input."+role+".permission-check:checked";
            roles[role] = {};
            roles[role]['permissions'] = [];
            roles[role]['forbidden_tags'] = [];
            $(selector).each(function (index, element) {
                var permission = $(element).attr('data-permission');
                roles[role]['permissions'].push(permission);
            });
            var tags = $('#tagsForbidden_' +role).val()
            if(tags != ''){
                tags = tags.split(",")
                roles[role]['forbidden_tags'] = tags
            }
            if (!(rol_pages_home[role]['homepage'] === undefined)) {
                roles[role]['homepage'] = rol_pages_home[role]['homepage']
            }
            console.log(roles[role]);
        });

        return roles;
    }

</script>
<style>
    button.delete-role {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: transparent !important;
        cursor: pointer;
        /*position: absolute;*/
        /*left: -48px;*/
        /*top: 5px;*/
        outline: none;
    }
    label.check-container{
        display: inline!important;
    }
</style>