<div class="form-group d-flex" id="bot-settings-users-title-container">
  <div class="col-8">
    <h1 class="settings-title" style="margin-top:unset;">{{_('Forbidden Tags')}}</h1>
    <p class="forgot-password-gray" id="usersLength">
      {{_('Forbidden tags management')}}
    </p>
  </div>
</div>

<table id="tags_table" class="table user-table col-12">
  <tbody>
    {% for role_key, role_value in config.get_roles().items() %}
    <tr id="" class="text-left" data-role="{{role_key}}">
      <td>
        <div class="row">{{role_key | upper}}
          <div class="col-12 my-2">
            <input class="col-12" placeholder="Search tag or tags" id="tagsForbidden_{{role_key}}" name="tagsForbidden" type="text" data-role="tagsinput" value="{{ tagsForbidden }}" />
        </div>
              <script type="text/javascript">
                initTagsInput("tagsForbidden_{{role_key}}", "{{ config.get_bot_name() }}")

              </script>

        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  var forbidden_tags_roles = {{ config.get_roles() | tojson }}

  for (var key in forbidden_tags_roles) {
    var tags = forbidden_tags_roles[key].forbidden_tags
    if(!(tags === undefined)) {
      $(tags).each(function(index, tag) {
        $('#tagsForbidden_'+key).tagsinput('add', tag);
      })
    }
  }

</script>