<ul class="nav padding-tittle-content-settings" id="myTab" role="tablist">
  <li class="nav-item">
    <a id="identity-tab" class="nav-link smart-search-tab p-0 pr-4 active" data-toggle="tab" href="#identity" role="tab" aria-controls="identity" aria-selected="true">
      {{_('IDENTITY')}} <div id="searchQABar" class="smart-search-tab-bar"></div>
    </a>
  </li>
  <li class="nav-item">
    <a id="personality-tab" class="nav-link smart-search-tab p-0" data-toggle="tab" href="#personality" role="tab" aria-controls="personality" aria-selected="false">
      {{_('PERSONALITY')}}<div id="searchLibrary" class="smart-search-tab-bar"></div>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="identity" class="tab-pane active" role="tabpanel" aria-labelledby="identity-tab">
    {% include 'bot-settings-identity.html' %}
  </div>
  <div id="personality" class="tab-pane" role="tabpanel" aria-labelledby="personality-tab">
    {% include 'bot-settings-personality.html' %}
  </div>
</div>

<div class="form-group text-align-right">
  <button type="button" class="btn btn-outline-ingestor h-button" onclick="updateInstance()">{{_('UPDATE SETTINGS')}}</button>
</div>