<div class="form-group">
  <label class="settings-title">{{_('Social')}}</label>
</div>

<form id="social_form"  method="post" action="/save-social-settings/{{ config.get_database_name() }}">
  <div class="form-group">
    <label class="settings-field-name settings-group-name">{{_('EMAIL')}}</label>
    <div class="form-group">
      <label class="check-container">{{_('Include expert contact information in emails')}}
        <input class="form-check-input" type="checkbox" id="includeSmeContact" name="include_sme_contact" value="true" onchange="markSocialChanged()">
        <script type="text/javascript">
          $('#includeSmeContact')[0].checked = {% if config.get_include_sme_contact() == 'true' %} true {% else %} false {% endif %};
        </script>
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="form-group">
      <label class="check-container">{{_('Include Ingestor contact information in emails')}}
        <input class="form-check-input" type="checkbox" id="includeIngestorContact" name="include_ingestor_contact" value="true" onchange="markSocialChanged()">
        <script type="text/javascript">
          $('#includeIngestorContact')[0].checked = {% if config.get_include_ingestor_contact() == 'true' %} true {% else %} false {% endif %};
          </script>
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="settings-field-name settings-group-name ">{{_('SLACK')}}</label>
    <br/>
    <div class="form-group">
      <label class="settings-field-name" for="welcome_msg">{{_('WELCOME MESSAGE')}}</label>
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.welcome_message }}"/>
      <input type="text" class="form-control settings-field" id="welcome_msg" name="welcome_msg"
             placeholder="{{_('Welcome message...')}}" value="{{ config.get_welcome_msg() }}" onchange="markSocialChanged()"/>
    </div>

    <div class="form-group">
      <label class="settings-field-name" for="help_list">{{_('HELP LIST')}}</label>
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.help_list }}"/>
      <input type="text" class="form-control settings-field" id="help_list" name="help_list"
             placeholder="{{_('Help list...')}}" value="{{ config.get_help_list() }}" onchange="markSocialChanged()"/>
    </div>

    <div class="row">
      <div class="col-md-4 no-padding-left">
        <div class="form-group">
          <label class="settings-field-name" for="share_text">{{_('SHARE BUTTON LABEL')}}</label>
          <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.share_button_label }}"/>
          <input type="text" class="form-control settings-field" id="share_text" name="share_text"
                 placeholder="{{_('Share button label...')}}" value="{{ config.get_share_text() }}" onchange="markSocialChanged()"/>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label class="settings-field-name" for="share_msg">{{_('SHARE CONFIRMATION')}}</label>
          <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.share_confirmation }}"/>
          <input type="text" class="form-control settings-field" id="share_msg" name="share_msg"
                 placeholder="{{_('Share confirmation text...')}}" value="{{ config.get_share_msg() }}" onchange="markSocialChanged()"/>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="settings-field-name settings-group-name">{{_('SMS')}}</label>
    <br/>
    <div class="form-group">
      <label class="settings-field-name" for="sms_help_msg">{{_('SMS HELP RESPONSE')}}</label>
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.sms_help_response }}"/>
      <input type="text" class="form-control settings-field" id="sms_help_msg" name="sms_help_msg"
             placeholder="{{_('SMS help response...')}}" value="{{ config.get_sms_help_msg() }}" onchange="markSocialChanged()"/>
    </div>

    <div class="form-group">
      <label class="settings-field-name" for="sms_switch_msg">{{_('SMS SWITCH RESPONSE')}}</label>
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.sms_switch_response }}"/>
      <input type="text" class="form-control settings-field" id="sms_switch_msg" name="sms_switch_msg"
             placeholder="{{_('SMS switch response...')}}" value="{{ config.get_sms_switch_msg() }}" onchange="markSocialChanged()"/>
    </div>

    <div class="form-group">
      <label class="check-container">{{_('Require First Prompt')}}
        <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.require_first_prompt }}"/>
        <input class="form-check-input" type="checkbox" id="requireFirstPrompt" name="require_first_prompt" value="required" onchange="markSocialChanged()" onclick="isRequired()">
        <script type="text/javascript">
          function isRequired() {
            var checkBox = document.getElementById("requireFirstPrompt");
            var div = document.getElementById("firstPrompt");
            div.style.display = checkBox.checked ? "block" : "none";
          }
          $('#requireFirstPrompt')[0].checked = {% if config.get_first_prompt() != '' %} true {% else %} false {% endif %};
        </script>
        <span class="checkmark"></span>
      </label>
    </div>

    <div id="firstPrompt" class="form-group">
      <script type="text/javascript">isRequired();</script>
      <label class="settings-field-name" for="first_prompt">{{_('FIRST PROMPT')}}</label>
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.social.first_prompt }}"/>
      <input type="text" class="form-control settings-field" id="first_prompt" name="first_prompt"
             placeholder="{{_('First prompt...')}}" value="{{ config.get_first_prompt() }}" onchange="markSocialChanged()"/>
    </div>
  </div>

  <div class="form-group text-align-right">
    <button type="button" class="btn btn-outline-ingestor h-button" onclick="updateSocial(this.form)">{{_('UPDATE SETTINGS')}}</button>
  </div>
</form>