<script type="text/javascript">
  var smeLists = {{ experts | safe }}.map(e => e.email);
  var reportLists = {{ send_report_emails | safe }}.map(e => e.email);

  var smeHelpData = {
    emails: smeLists,
    lastIndex: smeLists.length,
    listId: 'sme_emails_table',
    cardsId: 'sme_emails_cards',
    inputId: 'sme_help',
    name: 'smeHelpData'
  }

  var sendReportData = {
    emails: reportLists,
    lastIndex: reportLists.length,
    listId: 'send_report_table',
    cardsId: 'emails_cards',
    inputId: 'send_report_to',
    name: 'sendReportData'
  }

  function updateNotifications(form) {
    $('#sme_help_val').val(smeHelpData.emails.toString());
    $('#send_report_to_val').val(sendReportData.emails.toString());
    form.submit();
  }

  function addSme() {
    addElement(smeHelpData);
  }

  function addUserToReport() {
    addElement(sendReportData);
  }

  function addElement(obj) {
    $('#val-error-msg').hide();
    var inputValue = $(`#${obj.inputId}`).val();

    if (inputValue.length != 0) {
      if (!validateEmailAddresses(inputValue)) {
        $('#val-error-msg').html("{{_('Invalid emails. Enter email addresses, separated by commas.')}}");
        $('#val-error-msg').show();
        return false;
      }
    } else {
      return false;
    }

    inputValue = inputValue.replace(/ /g,'');
    var emails = inputValue.split(',');

    emails.forEach(function(email) {
      if (!obj.emails.includes(email)) {
        addElemToList(obj, email)
      }
    });
    $( `#${obj.inputId}`).val(null);
    markNotificationChanged();
  }

  function addElemToList(obj, email) {
    obj.emails.push(email);
    var newElemRowTemplate = `
    <tr id="${obj.inputId}${obj.lastIndex}">
      <td style="word-break: break-all;" class="align-left" >${email}</td>
      <td class="align-center">
        <button type="button" class="btn btn-outline-gray h-button uppercase" onclick="deleteElem(${obj.name}, '${obj.lastIndex}', '${email}')">{{_('Delete')}}</button>
      </td>
    </tr>`;
    var newEmailCard = `   
     <div class="card col-12" id="${obj.inputId}${obj.lastIndex}">
      <div class="card-body flex">
        <p><b>Email: </b>${email}</p>
        <button type="button" class="btn btn-outline-gray h-button uppercase" onclick="deleteElem(${obj.name}, '${obj.lastIndex}', '${email}')">Delete</button>
      </div>
    </div>`
    obj.lastIndex += 1;
    $(`#${obj.listId} tr:last`).after(newElemRowTemplate);
    $( "#" + obj.cardsId ).append(newEmailCard);
  }

  function deleteElem(obj, index, email) {
    var i = obj.emails.indexOf(email);
    obj.emails.splice(i, 1);
    $( `#${obj.inputId}${index}`).remove();
    markNotificationChanged();
  }

</script>

<div class="form-group">
  <label class="settings-title">{{_('Notification')}}</label>
</div>

<form id="notifications_form" class="notifications-tab"  method="post" action="/save-notifications-settings/{{ config.get_database_name() }}">
  <input id="sme_help_val" name="sme_help_val" type="hidden">
  <input id="send_report_to_val" name="send_report_to_val" type="hidden">

  <div class="form-group">
    <label class="settings-field-name" for="sme_help">{{_('EXPERT EMAIL ADDRESSES')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.notifications.sme_email_addresses }}"/>
    <div class="d-flex">
      <input type="text" class="form-control settings-field" id="sme_help" name="sme_help" placeholder="{{_('Enter email address')}}" value=""/>
      <button type="button" style="margin-left: 20px;" class="btn btn-outline-ingestor h-button" onclick="addSme()">{{_('ADD')}}</button>
    </div>
  </div>

  <table id="sme_emails_table" class="table user-table col-12">
    <thead>
      <tr>
        <th class="align-left">{{_('EMAIL ADDRESSES')}}</th>
        <th class="align-right">{{_('ACTIONS')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for sme in experts %}
      <tr id="sme_help{{sme.index}}">
        <td style="word-break: break-all;" class="align-left">{{sme.email}}</td>
        <td class="align-right">
          <button type="button" class="btn btn-outline-gray h-button uppercase" onclick="deleteElem({{'smeHelpData'}}, '{{sme.index}}','{{sme.email}}')">{{_('Delete')}}</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="sme_emails_cards">
    {% for sme in experts %}
    <div class="card col-12" id="sme_help{{sme.index}}">
      <div class="card-body">
        <p><b>Email: </b>{{sme.email}}</p>
        <button type="button" class="btn btn-outline-gray h-button uppercase" onclick="deleteElem({{'smeHelpData'}}, '{{sme.index}}','{{sme.email}}')">{{_('Delete')}}</button>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="form-group" id="send_notification_checks">
    <label class="settings-field-name" for="sme_help">{{_('SEND NOTIFICATION TO:')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.notifications.send_notifications_to }}"/>
    <div class="d-flex">
      <div>
        <label class="check-container">{{_('Users')}}
          <input class="form-check-input" type="checkbox" id="sendUserNotifications" name="send_user_notifications" value="" onchange="markNotificationChanged()">
          <span class="checkmark"></span>
          </label>  
      </div>
      <div class="padding-checkboxs-left">
        <label class="check-container">{{_('Experts')}}
          <input class="form-check-input" type="checkbox" id="sendExpertNotifications" name="send_expert_notifications" value="" onchange="markNotificationChanged()">
          <span class="checkmark"></span>
          </label>  
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="send_report_to">{{_('SEND WEEKLY REPORT TO:')}}</label>
    <div class="d-flex">
      <input type="text" class="form-control settings-field" id="send_report_to" name="send_report_to" placeholder="{{_('These people will receive a weekly report on user and expert activity.')}}" value=""/>
      <button type="button" style="margin-left: 20px;" class="btn btn-outline-ingestor h-button" onclick="addUserToReport()">{{_('ADD')}}</button>
    </div>
  </div>

  <table id="send_report_table" class="table table-responsive user-table col-12">
    <thead>
      <tr>
        <th class="align-left">{{_('EMAIL ADDRESSES')}}</th>
        <th class="align-right">{{_('ACTIONS')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in send_report_emails %}
      <tr id="send_report_to{{user.index}}">
        <td class="align-left" style="word-break: break-all;">{{user.email}}</td>
        <td class="align-right">
          <button type="button" class="btn btn-outline-gray h-button uppercase" onclick="deleteElem({{'sendReportData'}}, '{{user.index}}','{{user.email}}')">{{_('Delete')}}</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="emails_cards">
    {% for user in send_report_emails %}
    <div class="card col-12" id="send_report_to{{user.index}}">
      <div class="card-body flex">
        <p><b>{{_('Email')}}: </b>{{user.email}}</p>
        <button type="button" class="btn btn-outline-gray h-button uppercase" onclick="deleteElem({{'sendReportData'}}, '{{user.index}}','{{user.email}}')">{{_('Delete')}}</button>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="form-group text-align-right">
    <button type="button" class="btn btn-outline-ingestor h-button" onclick="updateNotifications(this.form)">{{_('UPDATE SETTINGS')}}</button>
  </div>
</form>
<script type="text/javascript">
  $('#sendUserNotifications')[0].checked = {% if config.get_send_user_notifications() == 'true' %} true {% else %} false {% endif %};
  $('#sendExpertNotifications')[0].checked = {% if config.get_send_expert_notifications() == 'true' %} true {% else %} false {% endif %};
</script>
