<div class="form-group">
    <label class="settings-title">{{_('Security')}}</label>
</div>

<script type="text/javascript">
    function turnOn2Fa() {
        $('#enable_2fa_email')[0].checked = $('#enable_2fa')[0].checked;
        markSecurityChanged();
    }

    function updateSecurity(form) {
        form.submit();
    }
</script>
<form id="security_form" class="security-tab" method="post" action="/save-security-settings/{{ config.get_database_name() }}">
    <div class="form-group">
        <h2>{{_('Add an extra layer of security')}}</h2>
    </div>
    <div class="form-group">
        <div class="policy-paragraph">
            {{_('This can be used to make sure that it\'s really you signing in or to contact you if there\'s suspicious activity in your account. We\'ll ask for a security code to confirm that it\'s you logging in.')}}
        </div>
    </div>
    <br>
    <div class="form-group mb-4">
        <label class="check-container">{{_('Enable 2 factor authentication')}}
            <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.enable_two_factor_authentication }}"/>
            <input class="form-check-input" type="checkbox" id="enable_2fa" name="enable_2fa" value="true" onchange="turnOn2Fa()">
            <script type="text/javascript">
                $('#enable_2fa')[0].checked = {% if config.get_enable_2fa() %} true {% else %} false {% endif %};
            </script>
            <span class="checkmark"></span>
        </label>
    </div>

    <div id="2fa_box" class="ml-5 d-none">
        <div class="form-group">
            <label class="check-container">
                <label class="settings-title" for="enable_2fa_email">{{_('Use your email')}}</label>
                <div>{{_('We’ll send a code to your registered email address')}}</div>
                <input class="form-check-input" type="checkbox" id="enable_2fa_email" name="enable_2fa_email" value="true">
                <script type="text/javascript">
                    $('#enable_2fa_email')[0].checked = {% if config.get_enable_2fa_email() %} true {% else %} false {% endif %};
                </script>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <div class="form-group text-align-right">
        <button type="button" class="btn btn-outline-ingestor h-button" onclick="updateSecurity(this.form)">{{_('UPDATE SETTINGS')}}</button>
    </div>
</form>