<script type="text/javascript">
  function uploadAvatar(form, inputId) {
    var errorImg = '{{ tooltip_data.error_msg.image }}'
    var errorSize = '{{ tooltip_data.error_msg.size }}'

    if (validateAvatar(form, inputId, errorImg, errorSize)) {
      form.submit();
    }
  }

  function deleteAvatar(form) {
    bootbox.confirm("{{_('Are you sure you want to delete the avatar image?')}}", function(result) {
      if (result) {
        form.submit();
      }
    });
  }
</script>
<form id="update_avatar_form" method="post" enctype="multipart/form-data" action="/upload-bot-avatar/{{ config.get_database_name() }}">
  <div class="form-group" id="settings-instance-identity-upload-group">
    <img src="{% if config.get_avatar_url() %}{{ config.get_avatar_url() }}{% else %}/static/images/logo-small.png{% endif %}" class="avatar">
    <input id="avatarInput" name="avatarInput" type="file" accept="image/*" style="display:none;" onchange="uploadAvatar(this.form, 'avatarInput')"/>
    <button type="button" class="btn btn-outline-ingestor avatar-btn h-button" onclick="document.getElementById('avatarInput').click()">{{_('NEW IMAGE')}}</button>
    <button type="button" class="btn btn-outline-gray avatar-btn h-button" onclick="deleteAvatar(this.form)">{{_('DELETE')}}</button>
  </div>
</form>

<div class="form-group">
  <label class="settings-field-name" for="name">{{_('DATABASE NAME')}}</label>
  <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.identity.database_name }}"/>
  <input type="text" class="form-control settings-field" name="name" placeholder="Database Name..." value="{{ config.get_database_name() }}" readonly/>
</div>

<div class="form-group">
  <label class="settings-field-name" for="welcome_msg">{{_('DISPLAY NAME')}}*</label>
  <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.identity.display_name }}"/>
  <input type="text" class="form-control settings-field" id="display_name" name="display_name" placeholder="Display name" value="{{ config.get_display_name() }}" onchange="markInstanceChanged()"/>
</div>

<form id="update_favicon_form" method="post" enctype="multipart/form-data" action="/upload-favicon/{{ config.get_database_name() }}">
  <div class="form-group" id="settings-instance-identity-upload-group">
    <img src="{% if config.get_favicon_url() %}{{ config.get_favicon_url() }}{% else %}/static/images/logo-small.png{% endif %}" class="avatar">
    <input id="faviconInput" name="faviconInput" type="file" accept="image/*" style="display:none;" onchange="uploadAvatar(this.form, 'faviconInput')"/>
    <button type="button" class="btn btn-outline-ingestor avatar-btn h-button" onclick="document.getElementById('faviconInput').click()">{{_('NEW IMAGE')}}</button>
    <button type="button" class="btn btn-outline-gray avatar-btn h-button" onclick="deleteAvatar(this.form)">{{_('DELETE')}}</button>
  </div>
</form>