<ul class="nav padding-tittle-content-settings" id="myTab" role="tablist">
    <li class="nav-item">
        <a id="two-factor-tab" class="nav-link smart-search-tab p-0 pr-4 active" data-toggle="tab"
           href="#two-factor" role="tab" aria-controls="two-factor" aria-selected="true">
            {{_('SECURITY')}} <div id="searchQABar" class="smart-search-tab-bar"></div>
        </a>
    </li>
    <li class="nav-item">
        <a id="permissions-tab" class="nav-link smart-search-tab p-0" data-toggle="tab"
           href="#permissions" role="tab" aria-controls="permissions" aria-selected="false">
            {{_('PERMISSIONS')}}<div id="searchLibrary" class="smart-search-tab-bar"></div>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div id="two-factor" class="tab-pane active" role="tabpanel" aria-labelledby="two-factor-tab">
        {% include 'bot-settings-two-factor.html' %}
    </div>
    <div id="permissions" class="tab-pane" role="tabpanel" aria-labelledby="permissions-tab">
        {% include 'bot-settings-roles-permissions.html' %}
    </div>
</div>
