<script type="text/javascript">

  var filterTags = {{ filter_tags | safe }}.map(e => e.tag);
  var lastIndex = filterTags.length;

  function changeQuestionSearch() {
    if(! $('#question_search')[0].checked) {
      $('#answer_search')[0].checked = false;
    }
    markIngestorChanged();
  }

  function changeAnswerSearch() {
    if(! $('#question_search')[0].checked) {
      $('#question_search')[0].checked = true
      $('#answer_search')[0].checked = true
    }
    markIngestorChanged();
  }

  function updateIngestor() {
    var tagsUpdatedValue = $("#filter_tags").val();
    $('#filter_tags_val').val(tagsUpdatedValue);
    $('#ingestor_form').submit();
  }

  function addTag() {
    $('#val-error-msg').hide();
    var inputValue = $('#filter_tags').val();

    if (inputValue.length != 0) {
      if (!validateTags(inputValue)) {
        $('#val-error-msg').html("{{_('Invalid tags.')}}");
        $('#val-error-msg').show();
        return false;
      }
    } else {
      return false;
    }

    inputValue = inputValue.trim();
    var tags = inputValue.split(' ').filter(tag => tag != '');

    tags.forEach(function(tag) {
      if (!filterTags.includes(tag)) {
        filterTags.push(tag);
        var newTag = `
          <p id="filter_tag${lastIndex}" class='badge badge-document badges-filter-tag'>
            ${tag}<button type="button" class="close mx-1" onclick="removeTag('${lastIndex}','${tag}')"><span> &times;</span></button>
          </p>`;
        $("#tag-section").append(newTag);
        lastIndex ++;
      }
    });
    $('#filter_tags').val(null);
    markIngestorChanged();
  }

  function removeTag(index, tag) {
    var i = filterTags.indexOf(tag);
    filterTags.splice(i, 1);
    $( `#filter_tag${index}`).remove();
    markIngestorChanged();
  }

</script>

<div class="form-group">
  <label class="settings-title">{{_('Ingestor')}}</label>
</div>

<form id="ingestor_form"  method="post" action="/save-ingestor-settings/{{ config.get_database_name() }}">
  <input id="filter_tags_val" name="filter_tags_val" type="hidden">
  <div class="form-group">
    <label class="settings-field-name" for="email_alias">{{_('EMAIL ALIAS')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.email_alias }}"/>
    <input type="text" class="form-control settings-field" id="email_alias" name="email_alias" placeholder="{{_('Email alias...')}}" value="{{ config.get_email_alias() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="ingestor_help">{{_('INGESTOR HELP')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.ingestor_help }}"/>
    <input type="text" class="form-control settings-field" id="ingestor_help" name="ingestor_help" placeholder="{{_('Ingestor Help...')}}" value="{{ config.get_ingestor_help() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="avatar_destination_url">{{_('AVATAR DESTINATION URL')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.avatar_destination_url }}"/>
    <input type="url" class="form-control settings-field" id="avatar_destination_url" name="avatar_destination_url" value="{{ config.get_avatar_destination_url() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="check-container">{{_('Public instance')}}
      <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.public_instance }}"/>
      <input class="form-check-input" type="checkbox" id="public" name="public" value="true" onchange="markIngestorChanged()">
      <script type="text/javascript">
        $('#public')[0].checked = {% if config.get_public() == 'true' %} true {% else %} false {% endif %};
      </script>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="settings-title">{{_('Ask page')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.ask_page }}"/>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="form-group col-4">
        <label class="check-container">{{_('Question search')}}
          <input class="form-check-input" type="checkbox" id="question_search" name="question_search" value="true" onchange="changeQuestionSearch()">
          <script type="text/javascript">
            $('#question_search')[0].checked = {% if config.get_question_search() == 'true' %} true {% else %} false {% endif %};
          </script>
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="form-group col-4">
        <label class="check-container">{{_('Answer search')}}
          <input class="form-check-input" type="checkbox" id="answer_search" name="answer_search" value="true" onchange="changeAnswerSearch()">
          <script type="text/javascript">
            $('#answer_search')[0].checked = {% if config.get_answer_search() == 'true' %} true {% else %} false {% endif %};
          </script>
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="form-group col-4">
        <label class="check-container">{{_('Library search')}}
          <input class="form-check-input" type="checkbox" id="library_search" name="library_search" value="true" onchange="markIngestorChanged()">
          <script type="text/javascript">
            $('#library_search')[0].checked = {% if config.get_library_search() == 'true' %} true {% else %} false {% endif %};
            </script>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="ingestor_help">{{_('HELP ACTION')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.help_action }}"/>
    <input type="text" class="form-control settings-field" id="help_action" name="help_action" placeholder="{{_('Help action URL...')}}" value="{{ config.get_help_action() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="filter_tags">{{_('FILTER TAGS')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.filter_tags }}"/>
    <div class="d-flex">
    <input class="form-control settings-field col-12" placeholder="Search by tag/tags..." id="filter_tags" name="filter_tag" type="text" data-role="tagsinput" value="" />
      </div>
  </div>

  <div class="form-group">
    <label class="settings-title">{{_('Security')}}</label>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="password_expiration_days">{{_('PASSWORD EXPIRATION DAYS')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.password_expiration_days }}"/>
    <input type="text" class="form-control settings-field" id="password_expiration_days" name="password_expiration_days" placeholder="Number of days to request change password, 0 means passwords do not expire" value="{{ config.get_password_expiration_days() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="number_invalid_attempts">{{_('NUMBER OF INVALID LOGIN ATTEMPTS ALLOWED')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.number_of_invalid_login_attempts_allowed }}"/>
    <input type="text" class="form-control settings-field" id="number_invalid_attempts" name="number_invalid_attempts" placeholder="0 means do not validate invalid attempts" value="{{ config.get_number_invalid_attempts() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="ip_filter_mask">{{_('IP FILTERING MASK')}}</label>
    <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.ip_filtering_mask }}"/>
    <input type="text" class="form-control settings-field" id="ip_filter_mask" name="ip_filter_mask" placeholder="" value="{{ config.get_ip_filter_mask() }}" onchange="markIngestorChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-title">{{_('Secure Content')}}</label>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="form-group col-12">
        <label class="check-container">{{_('Enable enhanced content security features.')}}
          <img class="field-tooltip" src='/static/images/field-info.svg' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_data.ingestor.safety_feature }}"/>
          <input class="form-check-input" type="checkbox" id="secure_content" name="secure_content" value="true" onchange="markIngestorChanged()">
          <script type="text/javascript">
            $('#secure_content')[0].checked = {% if config.get_secure_content() == 'false' %} false {% else %} true {% endif %};
          </script>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group" style="margin-bottom:50px;">
    <button type="button" class="btn btn-outline-ingestor float-right" style="line-height: 20px;" onclick="updateIngestor()">{{_('UPDATE')}}</button>
  </div>
</form>

<script type="text/javascript">
  var currentTags = {{ filter_tags | safe }};
  var settingsTags = [];
  for(i in currentTags){
    settingsTags.push(currentTags[i].tag);
  }
  console.log(currentTags);
  console.log(settingsTags);
  $("#filter_tags").val(settingsTags);
  initTagsInput("filter_tags", "{{ filter['bot'] }}")
</script>