<div class="form-group d-flex" id="bot-settings-users-title-container">
  <div class="col-8">
  <h1 class="settings-title" style="margin-top:unset;">{{_('User Administration')}}</h1>
  <p class="forgot-password-gray" id="usersLength">
    {{ngettext('You have %(num)s user', 'You have %(num)s users', users['total']) }}
  </p>
  </div>
  <div class="col-4 text-right">
    <button type="button" style="font-size:18px;" data-toggle="modal" data-titlemodal="{{_('Add User')}}" data-labelbttnsave="{{_('ADD')}}" data-labelbttncancel="{{_('CANCEL')}}" data-target="#modal-add-or-edit" class="btn btn-outline-ingestor h-button" onclick="editUser()">+ {{_('ADD NEW')}}</button>
  </div>
</div>

<div class="table-responsive">
<table id="users_table" class="table  user-table col-12">
  <thead>
    <tr>
      <th colspan="4"><input type="text" class="form-control form-control-lg settings-field" id="searchBar_users" name="searchBar_users"
        placeholder="{{_('Search by field')}}" value="" onchange="()"/>
      </th>
      <th colspan="2">
      </th>
    </tr>
    <tr class="text-left">
      <th>{{_('NAME')}}</th>
      <th> </th>
      <th>{{_('EMAIL ADDRESS')}}</th>
      <th>{{_('ROLE')}}</th>
      <th>{{_('PHONE NUMBER')}}</th>
      <th>{{_('ACTIONS')}}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users.records %}
    <tr id="user{{user.index}}" class="text-left">
      <td>{{user['full-name']}}</td>
      {% if not user.logincode %}
      <td>
          <a data-toggle="tooltip" title="{{_('The user did not receive an email code')}}">
              <i class="fas fa-lock" style="color: red;font-size: 14px;"></i>
          </a>
      </td>
      {% elif user.logincode and not user.passhash2 %}
      <td>
        <a data-toggle="tooltip" title="{{_('The user did not create a password')}}">
          <i class="fas fa-lock" style="color: orange;font-size: 14px;"></i>
        </a>
      </td>
      {% else %}
      <td>
        <a data-toggle="tooltip"title="{{_('The user is authenticated.')}}">
          <i class="fas fa-unlock-alt" style="color: green;font-size: 14px;"></i>
        </a>
      </td>
      {% endif %}
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user['phone-number']}}</td>
      <td>
        <button type="button" style="font-size:18px;" class="btn btn-outline-gray h-button uppercase" data-toggle="modal" data-titlemodal="{{_('Edit User')}}"
                data-target="#modal-add-or-edit" data-labelbttnsave="{{_('SAVE')}}" data-labelbttncancel="{{_('DELETE')}}" onclick="editUser({{user.index}})">{{_('Edit')}}</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div id="users_cards">
  {% for user in users.records %}
  <div class="card col-12" id="user{{user.index}}">
    <div class="card-body">
      <p><b>{{_('User')}}: </b>{{user['full-name']}}</p>
      {% if not user.logincode %}
      <p><b>{{_('Authentication status:')}} </b> <i class="fas fa-lock" style="color: red;font-size: 14px;"></i>{{_('The user did not receive an email code')}}</p>
      {% elif user.logincode and not user.passhash2 %}
      <p><b>{{_('Authentication status:')}}: </b> <i class="fas fa-lock" style="color: orange;font-size: 14px;"></i>{{_('The user did not create a password')}}</p>
      {% else %}
      <p><b>{{_('Authentication status:')}} </b> <i class="fas fa-unlock-alt" style="color: green;font-size: 14px;"></i> {{_('The user is authenticated.')}} </p>
      {% endif %}
      <p><b>{{_('Email')}}: </b>{{user.email}}</p>
      <p><b>{{_('Role')}}: </b>{{user.role_desc}}</p>
      <p><b>{{_('Phone Number')}}: </b>{{user['phone-number']}}</p>
      <button type="button" class="btn btn-outline-gray h-button uppercase col-12" data-toggle="modal" data-titlemodal="{{_('Edit User')}}"
                data-target="#modal-add-or-edit" data-labelbttnsave="{{_('SAVE')}}" data-labelbttncancel="{{_('DELETE')}}" onclick="editUser({{user.index}})">{{_('Edit')}}</button>
    </div>
  </div>
  {% endfor %}

</div>

<!--Modal New User / Edit User -->

<div id="modal-add-or-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <script>
    $(document).ready(function() {
      $('#modal-add-or-edit').on('shown.bs.modal', function() {
        $("#role").focus();
        reloadRoles();
      });
    });
    function reloadRoles() {
        var role = $("#role").val()
        console.log(role);
        $.ajax({
            url:"/get_roles/{{ filter['bot'] }}",
            method:'GET'
        })
            .fail(function(){
                console.log("error retrieving roles")
            })
            .done(function(data){
                $("#role").empty()
                $.each(data, function(key, value){
                    $("#role").append($("<option></option>").attr("value", value).text(value))
                });
                $("#role").val(role)
            });

    }
  </script>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title" value=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div id="user-error-box" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
            <span id="error-box-msg"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <form method="post">
          <input id="userid" name="userid" type="hidden">
          <div class="col-12">
            <label for="recipient-name" class="settings-field-name">{{_('SELECT ROLE')}}</label>
            <select id="role" class="form-control">
              {% for key, value in config.get_roles().items() %}
              <option value="{{key}}">{{key}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-12">
            <label for="recipient-name" class="settings-field-name">{{_('TITLE')}}</label>
            <input id="title" class="form-control" placeholder="{{_('Insert a title')}}" ></input>
          </div>
          <div class="d-flex">
            <div class="col-12 col-md-6">
              <label for="recipient-name" class="settings-field-name">{{_('FIRST NAME')}}*</label>
              <input id="first-name" class="form-control" placeholder="{{_('Insert first name')}}" ></input>
            </div>
            <div class="col-12 col-md-6">
              <label for="recipient-name" class="settings-field-name">{{_('LAST NAME')}}*</label>
              <input id="last-name" class="form-control" placeholder="{{_('Insert last name')}}" ></input>
            </div>
          </div>
          <div class="col-12">
            <label for="recipient-name" class="settings-field-name">{{_('MOBILE NUMBER')}}</label>
            <input id="phone-number" type="text" max-length="11" class="form-control" placeholder="{{_('Insert mobile number')}}" ></input>
          </div>
          <div class="col-12">
            <label for="recipient-name" class="settings-field-name">{{_('EMAIL')}}*</label>
            <input id="email" class="form-control" placeholder="{{_('Insert an email')}}" ></input>
          </div>
          <div class="col-12">
            <input id="from_bot_list" type="hidden" class="form-control"></input>
            <input id="authzero_id" type="hidden" class="form-control"></input>
          </div>
          <div class="modal-footer">
            <button type="button" style="font-size:18px;" id="cancelButton" class="btn btn-outline-secondary mr-auto"></button>
            <button id="saveButton" style="font-size:18px; line-height: 20px;" type="button" class="btn btn-outline-ingestor" onclick="saveUser()"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$('a[data-toggle="tooltip"]').tooltip({
    animated: 'fade',
    placement: 'bottom',
});


  $('#phone-number').on('input', function (event) {
    this.value = this.value.replace(/[^0-9\(\)\+\-]/g, '');
  });

  $("#searchBar_users").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#users_table tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

  $('#modal-add-or-edit').on('show.bs.modal', function (event) {
    var titleAction = event.relatedTarget.dataset.titlemodal;
    var labelBttnSave = event.relatedTarget.dataset.labelbttnsave;
    var labelBttnCancel = event.relatedTarget.dataset.labelbttncancel;
    $("#modal-title").html(titleAction);
    $("#saveButton").html(labelBttnSave);
    $("#cancelButton").html(labelBttnCancel);
    if (labelBttnCancel == 'CANCEL') {
      $("#cancelButton").attr("onclick","cancelModal()");
    } else {
      $("#cancelButton").attr("onclick","deleteUser()");
    }
  });

  var userList = {{ users.records | tojson }};

  function editUser(index) {
    if (index === undefined) { // A new User
      resetPopUp();
    } else { // An existing User
      var currentUser = userList[index];
      $('#userid').val(currentUser['userid']);
      $('#role').val(currentUser['role']);
      $('#title').val(currentUser['title']);
      $('#first-name').val(currentUser['first-name']);
      $('#last-name').val(currentUser['last-name']);
      $('#phone-number').val(currentUser['phone-number']);
      $('#email').val(currentUser['email']);
      $('#from_bot_list').val(currentUser['from_bot_list']);
      $('#authzero_id').val(currentUser['authzero_id']);
    }
  }

  function resetPopUp() {
    $('#userid').val('');
    $('#role').val('user');
    $('#title').val('');
    $('#first-name').val('');
    $('#last-name').val('');
    $('#phone-number').val('');
    $('#email').val('');
    $('#from_bot_list').val(0);
    $('#authzero_id').val('');
  }

  function saveUser(form) {
    var userData = {
      'userid': $('#userid').val(),
      'role': $('#role').val(),
      'title': $('#title').val(),
      'first-name': $('#first-name').val(),
      'last-name': $('#last-name').val(),
      'phone-number': $('#phone-number').val(),
      'email': $('#email').val(),
      'from_bot_list': $('#from_bot_list').val(),
      'authzero_id':$('#authzero_id').val()
    }
    var validator = validateUser(userData)
    if (! validator.isValid) {
      showErrorBox(validator.message);
      return false;
    }
    if (!validateEmailAddresses(userData['email'])) {
      showErrorBox('{{_('Invalid Email')}}');
      return false;
    }

    $.ajax({
      url: '/add_user/{{ filter['bot'] }}',
      method: 'POST',
      data: userData
    }).done(function(response) {
      if (response.error) {
        showErrorBox(response.message);
      } else {
        resetPopUp();
        window.location = '/settings/{{ filter["bot"] }}';
      }
    });
    document.body.style.cursor='wait';
  }

  function validateUser(userData) {
    var requiredFields = [
      { field: 'first-name', label: ' {{_('First Name')}}' },
      { field: 'last-name', label: ' {{_('Last Name')}}' },
      { field: 'email', label: ' {{_('Email')}}' }],
    invalidFields = [],
    valid = true;
    requiredFields.forEach(function(elem) {
      if (userData[elem.field].trim() == '') {
        invalidFields.push(elem.label);
        valid = false;
      }
    });
    var res = { 'isValid': valid }
    if (invalidFields.length == 1) {
      res['message'] = `{{_('Field')}}<strong>${invalidFields[0]}</strong> {{_('is required.')}}`
    } else {
      res['message'] = `{{_('Fields')}}<strong>${invalidFields.toString()}</strong> {{_('are required.')}}`
    }
    return res;
  }

  function deleteUser() {
    var userid = $('#authzero_id').val();

    if (userid == '') {
      userid = $('#email').val();
    }
    if (userid == '') {
      userid = $('#phone-number').val();
    }

    bootbox.confirm("{{_('Are you sure?')}}", function(result) {
      if(result) {
        $.ajax({
          url: '/users_delete/{{ filter["bot"] }}',
          data: { id: userid },
          method: 'POST'
        }).done(function(response) {
          if(response.error) {
          } else {
            resetPopUp();
            window.location = '/settings/{{ filter["bot"] }}';
          }
        });
      }
    });
  }

  function cancelModal() {
    $('#modal-add-or-edit').modal('toggle');
  }

  function showErrorBox(message) {
    $("#error-box-msg").html(message);
    $("#user-error-box").removeClass('d-none');
    setTimeout(function() {
      $("#user-error-box").addClass('d-none');
    }, 7000);
  }

  function show_alert_box(message, existingUsers) {
    var msg = message;
    if (existingUsers) {
      msg += ': ' + existingUsers.join(', ') + '.';
    }
    $("#alert-msg").html(msg);
    $("#alert-msg").removeClass('d-none');
    setTimeout(function() {
      $("#alert-msg").addClass('d-none');
    }, 6000);
  }

  function enableButton() {
    var userId = $('#userId').val();
    if (userId == "") {
      $('#saveButton').prop('disabled', true);
    } else {
      $('#saveButton').prop('disabled', false);
    }
  }
</script>