<!doctype html>
<html>

{% with title='Instances' %}
{% include 'head.html' %}
{% endwith %}

<body>

    {% include 'navbar.html' %}

    <div id="app">
        <div class="container row col-12">
            <div class="col-0 col-md-2"></div>
            <div class="dashboard-card col-12 col-md-8 px-0">
                <div class="col-12 px-0">
                    <div class="popular-questions-title ml-0 m-bottom-20">{{ _('Your instances') }}</div>
                        {% for bot in bots.keys() %}
                        <div class="col-12 pointer p-0 instanceElement" onclick="javascript:location.href='./instance_root/{{ bot }}'">
                            <div class="col-md-12 pointer col-12 p-2 px-4">
{#                            <div class="list-item-title p-2"> {{ bots[bot] }}</div>#}
                            <div class="list-item-title p-2"> {{ bot }}</div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>
{% include 'footer.html' %}

</html>