<!-- from https://codepen.io/Kaperstone/pen/wrZqOV -->
<style>
  .activity-chart ol, li {
    padding: 0;
    margin: 0;
    list-style:none;
  }

  .activity-chart h1 {
    font-size: 1.5em;
    margin: 70px 42px;
  }

  .activity-chart, h1 {
    color: #525252;
  }

  .days li, .day-key {
    background: #eee;
  }

  .activity-chart {
    width: 720px;
    height: 205px;
    padding-left: 110px; /* center in container */
    margin: 50px 150px;
    position: relative;
  }

  /****************************/
  /*** Day of week heading ***/
  /****************************/
  .days-of-week {
    width: 15px;
    position: absolute;
    left: -10px;
    top: 80px;
  }

  @-moz-document url-prefix() {
    .days-of-week { left: 23px; }
  }

  .days-of-week {
    font-size: 0.7em;
  }
  .days-of-week li:nth-child(2) {
    margin: 13px 0;
  }

  /**********************/
  /*** Month headings ***/
  /**********************/
  .activity-chart, ::after, ::before {
    box-sizing: content-box;
    max-height: 65px;
  }

  .month ol {
    position: absolute;
    top: -55px;
    left: -30px;
  }

  .month li {
    float: right;
    margin-left: 39px;
    font-size: 0.75em;
  }

  /*****************/
  /*** Draw days ***/
  /*****************/
  .days {
    font-size: 0.75em;
    margin-top: 15px;
    float: right;  /* needed to float onto screen */
    max-height: 30px;
  }

  /*
  Offset so days of the week line up
  over-specified to win specificity battle
  */
  .activity-chart .offset:hover {
    outline: none;
  }
  .activity-chart .offset {
    background: none;
  }

  /*****************************/
  /*** Create vertical weeks ***/
  /*****************************/
  .week {
    width: 108px;
    transform: rotate(90deg);
  }

  .days li, .key li {
    width: 12px;
    height: 12px;
    float: right; /* order days starting at the bottom right */
  }

  .days .bold {
    font-weight: bold;
  }
  .days li {
    margin: 1.5px;
  }
  /************************************/
  /*** color-code by activity level ***/
  /************************************/
  .activity-chart .activity       { background: #d6e685; }
  .activity-chart .activity-two   { background: #8cc665; }
  .activity-chart .activity-three { background: #44a340; }
  .activity-chart .activity-four  { background: #1e6823; }

  .key {
    position: absolute;
    bottom: -35px;
    right: 55px;
  }

  .key ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .key li {
    margin: 0px 2px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .activity-chart {
      padding-left: 15px;
      margin: 60px 150px;
    }
    .month ol {
      position: absolute;
      top: -55px;
      left: -127px;
    }
  }

  /**************/
  /*** TABLET ***/
  /**************/
  @media (min-width: 425px) and (max-width: 768px) {
    .activity-chart {
      width: 554px;
      padding-left: 15px;
      margin: 60px 82px;
    }
    .activity-chart, ::after, ::before {
      box-sizing: content-box;
      max-height: 60px;
    }
    .month ol {
      position: absolute;
      top: -43px;
      left: -117px;
    }
    .month li {
      float: right;
      margin-left: 28px;
      font-size: 0.7em;
    }
    .week {
      width: 91px;
      transform: rotate(90deg);
    }
    .days li, .key li {
      width: 8.6px;
      height: 8.6px;
      float: right;
    }
  }
</style>

<script type="text/javascript">
    function getValueClass(value, maxValue) {
        var fraction = value / maxValue;
        if (fraction > 0.75) {
            return 'activity-four';
        } else if(fraction > 0.50) {
            return 'activity-three';
        } else if(fraction > 0.25) {
            return 'activity-two';
        } else if(fraction > 0) {
            return 'activity';
        } else {
            return '';
        }
    }

    $(document).ready(function() {

        $.get( "/stats/{{ data_origin }}/{{ bot_id }}", function( data ) {

          /** check max value **/
          var maxValue = 0;
          Object.keys(data).forEach(function(key) {
            if (data[key] > maxValue) {
               maxValue = data[key];
            }
          });

          /*** draw months ***/
          var month = moment();
          var outputMonth = "<ol class = 'month'>";
          for (i = 0; i <= 12; i++) {
            var durationMonth = moment.duration({'months' : 1});
            outputMonth += "<li>";
            outputMonth += moment(month).locale('{{language}}').format("MMM");
            outputMonth += "</li>";
            month = moment(month).subtract(durationMonth);
          }
          outputMonth += "</ol>";

          var output = "<ol><div class = 'week'>";
          var day = moment();

          /* Calculate the offset for days of the week to line up correctly */
          var dayOfWeekOffset = 6 - (parseInt(moment().format("d"),10));
          for (i = 0; i < (dayOfWeekOffset); i++) { output += "<li class = 'offset'></li>"; }

          /*** draw calendar ***/

          for (i = 365; i >= 0; i--) {
            var dayKey = moment(day).format("YYYY-MM-DD");
            var dayLabel = moment(day).format("MMM DD");
            var value = data[dayKey];
            if (value == undefined) {
                value = 0;
            }
            var onclick = "";
            if (value > 0) {
                onclick = "onclick=\"window.location='/issues/{{ filter['bot'] }}?date=" + dayKey + "&solved='\"";
            }
            output += "<li class='" + getValueClass(value, maxValue) + "' " +
                "data-toggle='tooltip' data-placement='top' " + onclick +
                "title='" + dayLabel + "<br/>" + value + "'>";
            output += "</li>";

            var duration = moment.duration({'days' : 1});
            day = moment(day).subtract(duration);
          }

          output += "</div></ol>";
          document.getElementById("month_{{ data_origin }}_{{ bot_id }}").innerHTML = outputMonth;
          document.getElementById("days_{{ data_origin }}_{{ bot_id }}").innerHTML = output;

          $('[data-toggle="tooltip"]').tooltip({trigger : 'hover', html: true});
        });
    });
</script>


<div class="activity-chart">
  <div id="month_{{ data_origin }}_{{ bot_id }}" class="month"></div>
  <div>
  <div id="days_{{ data_origin }}_{{ bot_id }}" class="days"></div>
  </div>
  <div class = "key">
      <span>{{_('Less')}}</span>
      <ul>
        <li class="activity-four"></li>
        <li class="activity-three"></li>
        <li class="activity-two"></li>
        <li class="activity"></li>
        <li class="day-key"></li>
      </ul>
      <span>{{_('More')}}</span>
  </div>
</div>
