<div id="cantFindAnswerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editQuestionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="modalTitle" class="modal-title">{{_('Submit your question to an expert')}}</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div>{{_('You asked: ')}} <span id="currentQuestion">{{ question }}</span></div>
        </div>
        <div class="form-group">
          <textarea id="misunderstandingComment" type="text" class="form-control" aria-describedby="basic-addon2" maxlength="500" rows="4"
                    placeholder="{{_('When your expert responds, you will receive an email notification.')}}"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button id="saveButton" type="button" class="btn btn-outline-question" onclick="store_misunderstanding_and_show()" style="color: #363F49; border-color: #363F49;">{{_('PROCEED')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>
