
<h1 style='text-align:center'>{{ title}}</h1>
<canvas id="chart-area_{{ data_origin }}"></canvas>

<script>

var COLORS40 = ['#ff007e', '#ff0066', '#ff0048', '#ff0000', '#ff3000', '#fd6600',
    '#ffa300', '#ffb000', '#ffb900', '#ffc000', '#ffe400', '#ffe800', '#f6ee00',
    '#e1f400', '#c4fb00', '#4eeb00', '#00f200', '#00fd3c', '#00c260', '#00c273',
    '#00c286', '#00c29d', '#00c1b6', '#00c0ca', '#00c0e7', '#00b9f1', '#00b5ff',
    '#00b0ff', '#00abff', '#00a1ff', '#005dff', '#4231ff', '#8000fe', '#a000ef',
    '#f009ff', '#ff00ff', '#ff00f9', '#ff00d9', '#ff00b2', '#ff0098'];

    function randomColor() {
        var pos = Math.floor(Math.random() * COLORS40.length);
        var color = COLORS40[pos];
        COLORS40.splice(pos, 1);
        return color;
     };

    $(document).ready(function() {

        $.get( "/stats/{{ data_origin }}/{{ filter['bot_mongo_id'] | safe}}", function( data ) {

            var config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [],
                    }],
                    labels: []
                },
                options: {
                    responsive: true,
                    legend: { position: 'bottom'}
                }
            };

            var chartData = [];
            var chartLabels = [];
            var colors = [];
            Object.keys(data).forEach(function(key) {
              chartLabels.push(key);
              chartData.push(data[key]);
              colors.push(randomColor());
            });

            config.data.datasets[0].data = chartData;
            config.data.labels = chartLabels;
            config.data.datasets[0].backgroundColor = colors;

            var ctx = document.getElementById('chart-area_{{ data_origin }}').getContext('2d');
            window.myPie = new Chart(ctx, config);
        });
    });

</script>
