<h1 id="chart-title-bars_{{ data_origin }}" style='text-align:center'>{{ title}}</h1>

<canvas id="chart-bars_{{ data_origin }}"></canvas>

<script>

    $(document).ready(function() {

        $.get( "/stats/{{ data_origin }}/{{ filter['bot_mongo_id'] | safe}}", function( json_data ) {
            var data = json_data['chart'];
            var displayLabels = json_data['display_labels'];
            // this url is used when the user click in a bar
            filter_{{ data_origin }} = json_data['filter'];

            if (data.length > 0) {
                var barChartData = {
                    datasets: [{
                        data: []
                    }]
                };

                var chartData = [];
                var chartLabels = [];
                var chartColors = [];

                // we need the key to create url on click (global on purpose)
                labelKeyMap{{ data_origin }} = {};

                data.forEach(function(item) {
                   var label = item['label'];
                   // separate by words to display multiple rows
                   var labelList = label.split(' ');
                   if (labelList.length == 1) {
                       chartLabels.push(label);
                   } else {
                       chartLabels.push(labelList);
                   }
                   chartData.push(Math.round(item['value']));
                   chartColors.push(item['color']);
                   labelKeyMap{{ data_origin }}[item['label']] = item['key'];
                });

                barChartData.datasets[0].data = chartData;
                barChartData.labels = chartLabels;
                barChartData.datasets[0].backgroundColor = chartColors;

                var ctx = document.getElementById('chart-bars_{{ data_origin }}').getContext('2d');
                window.{{ data_origin }}BarChart = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        legend: {
                            display: false,
                            position: 'top',
                        },
                         scales: {
                            xAxes: [{
                                    display: displayLabels,
                                    scaleLabel: {display: false},
                                    /* display always the label, even if too big */
                                    ticks: { autoSkip: false},
                                }],
                            yAxes: [{
                                    ticks: {min: 0}
                                }]}

                    }
                });

                (window.{{ data_origin }}BarChart.canvas).onclick = function(evt) {
                     var activePoints = {{ data_origin }}BarChart.getElementsAtEvent(evt);
                     if (activePoints.length > 0 && filter_{{ data_origin }} != null) {
                         // let's say you wanted to perform different actions based on label selected
                         // if the label is a array for multi rows
                         var label = activePoints[0]._model.label;
                         if (typeof(label) != 'string') {
                            label = label.join(" ");
                         }
                         console.log('label ' + label);
                         var key = labelKeyMap{{ data_origin }}[label];
                         if (key != 'None') {
                             document.body.style.cursor = 'wait';
                             setTimeout(function() {
                                window.location = '/issues/{{ filter['bot'] }}' + filter_{{ data_origin }} + key;
                                }, 1);
                         }
                     }
                }



            } else {
                var ctx = $('#chart-title-bars_{{ data_origin }}').css('display', 'none');
            }

        });
    });


</script>

