<div id="cookies-overlay" class="overlay" style="display:none">
    <div class="row cm-background" id="cookies-msg" style="display:none">
        <div class="row cm-message">
            <div class="col-md-11">
                <span>
                    {{_('We use cookies to improve your experience on our website. We do not share these data with any third parties. By browsing our website, you consent to our use of cookies. For more details about our privacy policies.')}}<a href="../privacy-conditions" target="_blank"> {{_('Learn more')}}</a>
                </span>
            </div>
            <div class="col-md-1">
                <div class="text-center">
                    <button class="btn btn-success" onclick="acceptCookies()">I Agree</button>
                </div>
            </div>
        </div>
    </div>
</div>