<!doctype html>
<html>

{% with title='Dashboard' %}
{% include 'head.html' %}
{% endwith %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript" src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
<script src="/static/libraries/word-cloud/wordcloud2.js"></script>

<body>

{% include 'navbar.html' %}
{% include 'chart-timeline.html' %}

<div class="container" id="dashboard">

    <div class="dropdown fix-btn-dashboard">
        <button class="btn btn-outline-ingestor dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{_('ACTIVITY REPORT')}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for day in days %}
            <a class="dropdown-item" data-day="{{day.name}}" onclick="displayReport('{{day.value}}')">{{ day.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="total_searches_card">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-subtitle">{{_('Total searches')}}</h5>
                <div class="dashb-big-value" id="total_searches"></div>
                <div class="card-footer" style="display:none" id="total_searches_footer">
                    <span id="total_searches_compare"></span> {{_('than last month')}}
                </div>
            </div>
        </div>
        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="sucessful_searches_card">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-subtitle">{{_('Successful searches')}}</h5>
                <div class="dashb-big-value" id="sucessful_searches"></div>
                <div class="card-footer" style="display:none" id="sucessful_searches_footer">
                    <span id="sucessful_searches_compare"></span>{{_(' than last month')}}
                </div>
            </div>
        </div>
        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="unique_users_card">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-subtitle">{{_('Unique users')}}</h5>
                <div class="dashb-big-value" id="unique_users"></div>
                <div class="card-footer" style="display:none" id="unique_users_footer">
                    <span id="unique_users_compare"></span>{{_(' than last month')}}
                </div>
            </div>
        </div>
        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="points_card">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-subtitle">{{_('Points')}}</h5>
                <div class="dashb-big-value" id="points"></div>
                <div class="card-footer" style="display:none" id="points_footer">

                </div>
            </div>
        </div>
    </div>

    <div class="row d-none d-md-block">
        <div class="dashboard-card col-lg-12 border-0">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-title">{{_('Activity')}}</h5>
                {% with data_origin='queue_by_date', bot_id=filter['bot_mongo_id'] %}
                {% include 'calendar-heat.html' %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="dashboard-card col-lg-7 border-0">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-title">{{_('Resolved vs. unresolved issues')}}</h5>
                <canvas id="chart-timeline-resolved-issues" class="d-none d-sm-block" style="width: 100%;"></canvas>
                <canvas id="chart-timeline-resolved-issues-mobile" class="d-block d-sm-none" style="height: 85vh; width: 80vh;"></canvas>
            </div>
        </div>
        <div class="dashboard-card col-lg-5 border-0">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-title">{{_('Top users')}}</h5>
                <div id="user-list">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="dashboard-card col-lg-6 border-0">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-title">{{_('Frequently searched')}}</h5>
                <canvas id="word-cloud-canvas" style="width:100%">
                </canvas>
            </div>
        </div>
        <div class="dashboard-card col-lg-6 border-0">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-title">{{_('Average wait time (hours)')}}</h5>
                <canvas id="chart-average-wait-time" style="width:100%">
                </canvas>
            </div>
        </div>
    </div>

    <div id="reportContainer"></div>

    <div class="row d-none d-md-block">
        <div class="dashboard-card col-lg-12 border-0">
            <div class="card-body shadow bg-white m-2">
                <h5 class="card-title">Tags</h5>
                <div class="col-12 my-2">
                    <div>
                        {% if bot_tags %}
                          {% for tag in bot_tags %}
                              <p class='badge badge-document badges-issues-qa'>{{ tag }}</p>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- container -->

<script type="text/javascript">
    // changing locale globally
    moment.locale('{{language}}');

    function displayReport(day) {
        console.log(day);
        $('#reportContainer').html('');
        $('body').css('cursor', 'wait');

        $.ajax({ url: '/report/{{ filter['bot'] }}/' + day}).done(function(report) {
            $('#reportContainer').html(report);
            $('#modalReport').modal('toggle');
            $('body').css('cursor', 'auto');
        });
    }

    //// Modal JS

    // end Modal JS

    function dataToCard(value, prior_value, card_prefix, less_is_better) {
        $('#' + card_prefix).html(value);
        // the value could have a '%' get the numeric valuie only
        value = parseInt(value);
        if (prior_value != undefined) {
            prior_value = parseInt(prior_value);
            // differential percentage
            if (prior_value != 0) {
                percentage = Math.round((value - prior_value) * 100 / prior_value);
            } else {
                percentage = 100;
            }
            if (less_is_better) {
                comparission_class = value < prior_value ? 'better' : 'worst';
            } else {
                comparission_class = value < prior_value ? 'worst' : 'better';
            }
            text = '' + percentage + '% '+ (value < prior_value ? '{{_('less')}}' : '{{_('more')}}');
            $('#' + card_prefix + '_compare').html(text);
            $('#' + card_prefix + '_compare').addClass(comparission_class);
            $('#' + card_prefix + '_footer').show();
        }
    };

    function updateUsersCard(data) {
        var users_list = data.results['unique_users'];
        var users_count = data.results['unique_users_count'];
        var users_data = [];
        for (var i=0; i < users_list.length; i++) {
            users_data.push({'id': users_list[i], 'count': users_count[i]});
        }
        // sort by usage from more to less
        users_data.sort(function (a, b) {
            if (a.count > b.count) {
                return -1;
            }
            if (a.name < b.count) {
                return 1;
            }
            // a must be equal to b
            return 0;
            });

        var user_list_html = '';
        users_data.forEach(user_data => {
            user_list_html += '<div class="row">' +
                '<div class="col-9" style="padding-right:0">' +
                    '<a href="/user-history/{{filter['bot']}}?since=30&userid=' + user_data['id'] + '">' + user_data['id'] + '</a>' +
                '</div>' +
                '<div class="col-3 text-right">' + user_data['count'] + '</div>' +
                '</div>';
        });
        $('#user-list').html(user_list_html);
    }

    function updateAverageTimeCard(month_data, prior_month_data) {
        // 'chart-average-wait-time'
        var data = [Math.round(month_data['average_resolution_time'] / 60)];
        var labels = ['{{_('This month')}}'];
        if (prior_month_data != undefined) {
            data.push(Math.round(prior_month_data['average_resolution_time'] / 60));
            labels.push('{{_('Previous month')}}');
        }
        var barChartData = {
            datasets: [{
                data: data,
                backgroundColor: ['darkblue', 'darkblue']
            }],
            labels: labels
        };

        if (window.AverageBarChart == undefined) {
            var ctx = document.getElementById('chart-average-wait-time').getContext('2d');
            window.AverageBarChart = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                        position: 'top',
                    },
                    scales: {
                    xAxes: [{
                            display: true,
                            scaleLabel: {display: false},
                            /* display always the label, even if too big */
                            ticks: { autoSkip: false},
                        }],
                    yAxes: [{
                            ticks: {min: 0}
                        }]}

                }
            });
        } else {
            window.AverageBarChart.data = barChartData;
            window.AverageBarChart.update()
        }

    }

    function updateWordCloud(data) {
        var wordsDict = data['word_cloud'];
        var wordCloudList = [];
        var totalWight = 0;
        for (word in wordsDict) {
            // remove one char words
            if (word.length <= 1) {
                continue;
            }
            if (word.indexOf('@') > -1 || word.indexOf('&') > -1) {
                continue;
            }
            // do not add numbers
            if (isNaN(parseInt(word))) {
                wordCloudList.push([word, wordsDict[word]]);
                totalWight += wordsDict[word];
            }
        }

        var wordCloud = WordCloud(document.getElementById('word-cloud-canvas'), {
            list: wordCloudList,
            weightFactor: function (size) {
                /* magic number: 1.5 was by try and error */
                return size * 1.5 * $('#word-cloud-canvas').width() / totalWight;
            },
            rotateRatio: 0,
            minSize: 7
        });

    }

    function updateSuccesPercent(month_data, prior_data) {
        var success_percent = '0%';
        if (month_data.results['log_count'] > 0) {
            success_percent = Math.round(month_data.success_with_help * 100 /
                month_data.results['log_count']) + '%';
        }
        var prior_success_percent = undefined;
        if (prior_data) {
            if (prior_data.results['log_count'] > 0) {
                prior_success_percent = Math.round(prior_data.success_with_help * 100 /
                prior_data.results['log_count']) + '%';
            }
        }
        dataToCard(success_percent, prior_success_percent,
            'sucessful_searches', false);
    }

    function updateMonthPoints(this_month, card_prefix) {
        text = '{{_('This month')}} ' + this_month;
        $('#' + card_prefix + '_footer').html(text);
        $('#' + card_prefix + '_footer').show();
    };

    function updateAllPoints(total, card_prefix) {
        $('#' + card_prefix).html(total);
    };


    $('body').css('cursor', 'wait');

    $.ajax({ url: '/dashboard_all_points/{{ filter['bot'] }}'})
        .done(function (data) {
            updateAllPoints(data['all_points'], 'points')
        });

    $.ajax({ url: '/dashboard_month_points/{{ filter['bot'] }}'})
    .done(function (data) {
        updateMonthPoints(data['month_points'], 'points')
    });

    $.ajax({ url: '/dashboard_month_json/{{ filter['bot'] }}'})
        .done(function (month_data) {
            // load month data first
            // first row cards
            // dataToCard(month_data.open_issues, undefined,
            //    'open_issues', true);
            dataToCard(month_data.results['log_count'], undefined,
                'total_searches', false);
            updateSuccesPercent(month_data, undefined);
            dataToCard(month_data.results['unique_users'].length, undefined,
                'unique_users', false);
            // users
            updateUsersCard(month_data);
            // timeline
            updateTimeLineCard(month_data);
            // word cloud
            updateWordCloud(month_data);
            // average time
            updateAverageTimeCard(month_data);

            $.ajax({ url: '/dashboard_prior_month_json/{{ filter['bot'] }}'})
                .done(function (prior_month_data) {
                    // reload first row of cards with
                    // the comparison to the year
                    //dataToCard(month_data.open_issues,
                    //    prior_month_data.open_issues,
                    //    'open_issues', true);
                    dataToCard(month_data.results['log_count'],
                        prior_month_data.results['log_count'],
                        'total_searches', false);
                    updateSuccesPercent(month_data, prior_month_data);
                    dataToCard(month_data.results['unique_users'].length,
                        prior_month_data.results['unique_users'].length,
                        'unique_users', false);
                    // average time
                    updateAverageTimeCard(month_data, prior_month_data);
                });

            $('body').css('cursor', 'auto');
        });
</script>

</body>
{% include 'footer.html' %}
</html>
