<!doctype html>
<html>
{% with title='Document' %}
{% include 'head.html'%}
{% endwith %}
<!--- HEADER -->
<body>
{% include 'navbar.html' %}

<script type="text/javascript">
  function downloadDocument(bot_id, doc_id) {
    doc_id = clean_id(doc_id, 'doc');
    actual_location = window.location;
    window.location = '/download_document/' + bot_id + '/' + doc_id + actual_location.search;
  }

  function uploadProcessedFile(form) {
    var dialog = bootbox.dialog({
      message: '<p class="text-center">Processing file...</p>',
      closeButton: false
    });
    form.submit()
  }

  function copyText(passagePath) {
    var passageText = $('#passageText' + passagePath).text();
    passageText = filterLine(passageText, 'anchor:');
    copy(passageText);
  }

  function copyLink(passagePath) {
    var current_location = new URL(window.location);
    var passageLink = current_location.origin + current_location.pathname + '#' + passagePath;
    copy(passageLink);
  }

  function copy(text) {
    const textElem = document.createElement('textarea');
    textElem.value = text;
    document.body.appendChild(textElem);
    textElem.select();
    document.execCommand('copy');
    document.body.removeChild(textElem)
  }

  var searchText;
  var totalEncounters;
  var isFirefox = typeof InstallTrigger !== 'undefined';
  var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));
  var currentSelection;

  function onkeySearch(event, text, prev) {
    if (event.keyCode === 13) {
      event.preventDefault();
      searchWord(text, prev);
    }
  }

  function searchWord(text, prev) {
    if (text != searchText) {
      cleanSearch(searchText);
      doSearch(text);
      searchText = text;
      $('#inputSearch').focus();
    }
    if (prev) {
      selectCurrent(getPrevious);
    } else {
      selectCurrent(getNext);
    }
  }

  function selectCurrent(orientationFunc) {
    // Return the last search back to normal
    var currentId = 'searchId' + currentSelection;
    var currentSelect = document.getElementById(currentId);
    searchHighlight(currentSelect);

    orientationFunc(); // Find next or prev
    // Search and highlight the current search
    currentId = 'searchId' + currentSelection;
    currentSelect = document.getElementById(currentId);
    selectHighlight(currentSelect);

    // Scroll to selected element
    moveTo(currentId, 50); // 50 offset for separate the searched word from the navbar
  }

  function moveTo(elementId, offset) {
    offset = offset | 0;
    var searchBox = $("#searchBox");
    var cuNavbar = $("#cuNavbar");
    var extraHeight = cuNavbar.outerHeight();
    extraHeight += searchBox.outerHeight();
    var element = document.getElementById(elementId);
    var yPosition = element.getBoundingClientRect().y;
    window.scrollTo(0, yPosition + window.scrollY - extraHeight - offset);
  }

  function getNext() {
    currentSelection += 1;
    if (currentSelection > totalEncounters) {
      currentSelection = 1;
    }
  }

  function getPrevious() {
    currentSelection -= 1;
    if (currentSelection == 0) {
      currentSelection = totalEncounters;
    }
  }

  function selectHighlight(element) {
    highlightElement(element, "#FDFF47");
  }

  function searchHighlight(element) {
    highlightElement(element, "#FFE2B7");
  }

  function highlightElement(element, color) {
    if(element != null) {
      element.style.backgroundColor = color;
    }
  }

  function doSearch(text) {
    var total = highlightText(text, "#FFE2B7");
    totalEncounters = total;
    currentSelection = 0;
    if (total >= 0) {
      var label = total == 1 ? 'match' : 'matches';
      $('#search-counter').text(`${total} ${label}`);
      $('#search-buttons').removeClass('d-none');
    } else {
      $('#search-counter').text('');
      $('#search-buttons').addClass('d-none');
    }
  }

  function cleanSearch(text) {
    return insertHTML(text, function(total) {
      document.execCommand('insertHTML', false, `<b>${text}</b>`);
    });
  }

  function highlightText(text, color) {
    return insertHTML(text, function(total) {
      /* Safari has problems with the function execCommand, breaking the element in some cases, this can be fixed using a parent div. */
      if(!isSafari){
        document.execCommand('insertHTML', false, `<b id='searchId${total}' style="background-color: ${color};" >${text}</b>`);
      } else {
        document.execCommand('insertHTML', false,
        `<div><b id='searchId${total}' style="background-color: ${color};" >${text}</b></div>`);
      }
    });
  }

  function insertHTML(text, modifyFunc) {
    /* Firefox has problems starting the iterations in -1, so a 0 starting value fixes that problem. */
    if(isFirefox){
      var total = 0;
    } else {
      var total = -1;
    }
    if (window.find && window.getSelection) {
      document.designMode = "on";
      var sel = window.getSelection();
      sel.collapse(document.body, 0);

      while (window.find(text)) {
        total = total + 1;
        modifyFunc(total);
        sel.collapseToEnd();

      }

      document.designMode = "off";
    }
    return total;

  }


  function findNext() {
    var text = $('#inputSearch').val();
    searchWord(text);
  }

  function findPrev() {
    var text = $('#inputSearch').val();
    searchWord(text, true);
  }

  function fixPosition() {
    if (window.location.hash) {
      moveTo(window.location.hash.replace("#", ""), -30); // -30 offset for fix the anchor on bottom of navbar.
    }
  }

  window.onload = fixPosition;
  window.onhashchange = fixPosition;

</script>

<div id="searchBox" class="row absolute-div">
  <div class="col-12 offset-xl-2 col-xl-8 ">
    <div class="row">
      <div class="col-5">
        <div class="popular-questions-counter mb-3 mt-3" onclick="javascript:show_library('{{ filter.bot }}')" style="cursor: pointer; align-items: center; display: flex;">
          <i class="fas fa-arrow-left pr-2"></i> {{_('Back to library')}}
        </div>
      </div>

      <div class="col-7">
        <div class="d-flex justify-content-end popular-questions-counter mb-3 mt-3">

          <div id="search-counter"></div>
          <div id="search-buttons" class="mt-2 mr-3 d-none">
            <a class="pl-2 pointer" onclick="findPrev()">
              <i class="fas fa-chevron-left return-link"></i>
            </a>
            <a class="pl-2 pointer" onclick="findNext()">
              <i class="fas fa-chevron-right return-link"></i>
            </a>
          </div>

          <div class="inner-addon left-addon d-none d-sm-block">
            <i class="fas fa-search"></i>
            <input id="inputSearch" class="form-control mr-sm-2 search-input" type="search" placeholder="{{_('Search for an entry')}}" value="{{ filter['text'] }}" onkeyup="onkeySearch(event, this.value)">
          </div>
          {% if (next or prev) and filter['quantity'] %}
          <div class="mt-2 ml-3">
            <a class="return-link {% if not prev %}link-disable{% endif %} pr-2" href="javascript:displayDocument('{{ filter.bot }}', '{{ prev }}', {{filter['quantity']}}, {{filter['position']-1}})">
              <i class="fas fa-chevron-left"></i>
            </a>

            <label style="color: #00000080;">{{ filter['real_position'] }} {{_('of')}} {{ filter['quantity'] }}</label>

            <a class="return-link {% if not next %}link-disable{% endif %} pl-2" href="javascript:displayDocument('{{ filter.bot }}', '{{ next }}', {{filter['quantity']}}, {{filter['position']+1}})">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-12 pb-2">
        <div class="inner-addon left-addon d-block d-sm-none">
          <i class="fas fa-search"></i>
          <input id="inputSearch" class="form-control mr-sm-2 search-input" type="search" placeholder="{{_('Search for an entry')}}" value="{{ filter['text'] }}" onkeyup="onkeySearch(event, this.value)">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="welcomeArea" class="row ml-0 collapse show" style="padding-top: 180px">
  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="row">
      <div class="col-12 px-0">
        <div class="popular-questions-title ml-0">{{ document.title }}</div>
      </div>
      <div class="col-xl-5 col-12 p-0 pb-3">
        <div class="popular-questions-counter mb-4">{{_('Uploaded')}} {{ document.created }}</div>
      </div>
      <div class="col-xl-7 col-12 p-0 pb-3">
        <div class="d-flex flex-row-reverse">

          {% if document.stored_name %}
          <div class="pl-4 pt-1">
            {% if not secure_content %}
            <button class="btn btn-outline-ingestor" onclick="downloadDocument('{{ filter.bot }}', '{{ document.doc_id }}')">
              <i class="fas fa-download pr-1"></i>{{_('DOWNLOAD')}}
            </button>
            {% endif %}
          </div>
          {% endif %}

          {% if has_permission(filter['bot'], PERM_MODIFY_LIBRARY) %}
            <div class="pl-4 pt-1">
              <button class="btn btn-outline-ingestor" onclick="remove_document('{{ filter.bot }}', '{{ document.doc_id }}')">
                <i class="fa fa-trash pr-1" aria-hidden="true"></i><a>{{_('Remove')}}</a>
              </button>
            </div>

            {% if is_ingestor_user and document.stored_name %}
            <div class="pl-4 pt-1">
              <form id="processedFileForm" method="post" enctype="multipart/form-data" action="/upload-processed-file/{{ filter.bot }}">
                <input id="docPath" name="docPath" type="hidden" value="{{ document.doc_id }}">
                <input id="processedFile" name="processedFile" type="file" accept=".zip,.rar,.7zip" style="display:none;" onchange="uploadProcessedFile(this.form)"/>

                <div class="dropdown dropdown-addfiles float-desk-mobile">
                  <button class="btn btn-outline-ingestor dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus pr-2"></i> {{_('UPLOAD')}}
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item nowrap" onclick="document.getElementById('processedFile').click()"
                    data-target="#newFileModal">{{_('Upload ZIP file')}}</a>
                    <a class="dropdown-item nowrap" href="javascript:openUpdateFileModal('{{ document.doc_id }}')">{{_('Upload new version')}}</a>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          {% endif %}

        </div>
      </div>
    </div>
    <div id="passagesSection">
      {% for passage in document.passages %}
      <div class="card mb-1 table-responsive interactive-card" style="padding: 20px; margin-top:20px">
        <div class="row">
          <div class="col-12 px-0">
            <div class="row">
              <p style="font-size:75%; font-weight: 600;display: inline-block; margin-right: auto;">{{_('Passage')}} {{ passage.order }}</p>
              {% for tag in passage.tags %}
                {% if tag not in passage.anchors %}
                  <p class='badge badge-document' style="margin-bottom:auto;">{{ tag }}</p>
                  {% endif %}
                {% endfor %}
              {% for tag in passage.tags %}
                {% if tag in passage.anchors %}
                  <p class='badge badge-document badge-anchor' style="margin-bottom:auto;">{{ tag }}</p>
                {% endif %}
              {% endfor %}
            </div>
            <a id="passage_{{ passage.order }}"></a>
            <a id="{{ passage.escaped_id }}"></a>
            {% for anchor in passage.anchors %}
              <a id="{{ anchor }}"></a>
            {% endfor %}
            <div id="passageText{{ passage.escaped_id }}" class="d-none">{{ passage.text }}</div>
          </div>
        </div>
        <div style="margin-top:15px;font-style: normal;font-weight: normal; font-size: 14px;line-height: 26px;text-align: justify;color: #232529;"> {{ passage.html | safe }}</div>
        <div class="col-12 col-md-3 offset-md-9 px-0">
          <div class="d-flex flex-row-reverse">
            <div class="card-links p-3" onclick="copyLink('{{ passage.link }}')">
              <i class="fas fa-link pr-1"></i><a>{{_('Copy Link')}}</a>
            </div>
            <div class="card-links p-3" onclick="copyText('{{ passage.escaped_id }}')">
              <i class="far fa-copy pr-1"></i><a>{{_('Copy Passage')}}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-0 col-md-2"></div>
</div>

{% include 'new-file-modal.html' %}

</body>
{% include 'footer.html' %}
</html>
