<!doctype html>
<html>

{% with title='Dashboard' %}
{% include 'head.html' %}
{% endwith %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript" src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
<script src="/static/libraries/word-cloud/wordcloud2.js"></script>

<body>

{% include 'navbar.html' %}
{% include 'chart-timeline.html' %}

<div class="container" id="dashboardInstance">
  <div class="row" style="margin-top:40px;">
    <div class="col-12">
      <h3 class="d-block fz-12 pointer" onclick="displayDashboard();">
        <span><img src="/static/images/backarrow.svg" alt="backarrow"></span>Back to Enterprise dashboard
      </h3>
    </div>
    <div class="col-7">
      <h2 class="blue-ingestor-text">{{instance_data.display_name}}</h2>
    </div>

    <div class="col-5 no-margin-right padding-right-dropdowns-chips-alignment" style="padding-right: 20px;">
      <div class="btn-group float-desk-mobile" >
        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownInstances" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ instance_data.bot_id }}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownInstances">
            {% for bot in bot_filter %}
            <a class="dropdown-item" href="javascript:displayInstance('{{ bot.bot_id }}')">{{ bot.bot_id }}</a>
            {% endfor %}
          </div>
        </div>

        <div class="btn-group dropdown my-2 mr-2">
          <button class="btn btn-outline-secondary dropdown-toggle ml-0 no-margin-right" type="button" id="dropdownTime"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['days'] == 7 %}
              {{_('Past Week')}}
            {% elif filter['days'] == 30 %}
              {{_('Past Month')}}
            {% else %}
              {{_('Past Year')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTime">
            <a class="dropdown-item" href="javascript:set_since('7')">{{_('Past Week')}}</a>
            <a class="dropdown-item" href="javascript:set_since('30')">{{_('Past Month')}}</a>
            <a class="dropdown-item" href="javascript:set_since('365')">{{_('Past Year')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block" style="padding-top:20px;">
    <div class="col-12" style="padding: 0 26px;">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div>
              <p>{{_('Users')}}</p>
              <p>{{ instance_data.total_users }}</p>
            </div>
            <div>
              <p>{{_('Active users ')}}</p>
              <p>{{ instance_data.active_users }}</p>
            </div>
            <div>
              <p>{{_('Searches made by users')}}</p>
              <p>{{ instance_data.total_searches }}</p>
            </div>
            <div>
              <p>{{_('Q&A pairs')}}</p>
              <p>{{ instance_data.total_qa_pairs }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block">
    <div class="dashboard-card col-lg-12 border-0">
      <div class="card-body shadow bg-white m-2">
        <h5 class="card-title margin-graphs-card-title">{{_('Activity of ')}}{{instance_data.display_name}}</h5>
        <canvas id="activityInstance" width="500px" height="200px" max-height="300px"></canvas>
        <div  class="fz-12" style="text-align: right;">
          <a href="#" onclick="exportCSVFile(convertGraphDataToCsv(), 'Activity')">{{_('Download CSV')}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-none" style="padding: 0 20px">
    <div class="col-4 p0" >
      <div class="dashboard-card col-lg-12 border-0 p0">
        <div class="card-body shadow bg-white m-2">
          <h5 class="card-title margin-graphs-card-title">{{_('Top active users')}}</h5>
          {% for topuser in topusers %}
          <div class="row col-12">
            <div id="userAvatar" class="navbar-avatar" style="background-image: url('{{topuser.image}}');"></div>
            <p>{{topuser.user}}</p>
          </div>
          <div class="row col-12">
            <p>Searches: {{topuser.qa}}</p>
            <p>Issues created: {{topuser.ic}}</p>
            <p>Issues resolved: {{topuser.ir}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-8 p0">
      <div class="dashboard-card col-lg-12 border-0 p0">
        <div class="card-body shadow bg-white m-2">
          <h5 class="card-title margin-graphs-card-title">{{_('Recent searches')}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block">
    <div class="dashboard-card col-lg-12 border-0">
      <div class="card-body shadow bg-white m-2">
        <h5 class="card-title margin-graphs-card-title">{{_('Searches made by users')}}</h5>
        <p class="table-information">In this instance {{searches|length}} searches were made by users.</p>
        <div class="table-responsive">
        <table id="searches_table" class="table user-table col-12 fz-12">
          <thead>
            <tr>
              <th colspan="3">
                <div class="inner-addon left-addon">
                  <i style="padding:14px;" class="fas fa-search"></i>
                  <input type="text" class="form-control settings-field fz-12" id="searchBar_searches"
                  name="searchBar_searches" placeholder="{{_('Search for a question')}}" onkeyup="filterSearches(this.value)"/>
                </div>
              </th>
              <th colspan="2" style="vertical-align: middle; text-align: right;">
                <div class="inner-addon left-addon">
                  <a href="#" onclick="exportCSVFile(searches, 'Searches')">{{_('Download CSV')}}</a>
                </div>
              </th>
            </tr>
            <tr class="text-left">
              <th>{{_('QUESTION')}}</th>
              <th>{{_('TAGS')}}</th>
              <th>{{_('NAME')}}</th>
              <th>{{_('ROLE')}}</th>
              <th>{{_('DATE OF CREATION')}}</th>
            </tr>
          </thead>
          <tbody id="table_searches_body">
            {% for search in searches %}
            <tr class="text-left" data-filter="{{ search.question | safe }}">
              <td style="max-width: 80px; word-break: break-all">{{search.question | safe}}</td>
              <td>
                {% for tag in search['tags']%}
                <p class='badge badge-document badges-issues-qa'>{{ tag }}</p>
                {% endfor %}
              </td>
              <td>{{search.user}}</td>
              <td>{{search.role | title}}</td>
              <td>{{search.doc.strftime('%b %d - %H:%M') | upper}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>

  <div class="d-block">
    <div class="dashboard-card col-lg-12 border-0">
      <div class="card-body shadow bg-white m-2">
        <h5 class="card-title margin-graphs-card-title">{{_('Q&A pairs')}}</h5>
        <p class="table-information">In this instance {{qapairs |length}} Q&A pairs were created and/or verified by SME’s.</p>
        <div class="table-responsive">
        <table id="qapairs_table" class="table user-table col-12 fz-12" >
          <thead>
            <tr>
              <th colspan="3">
                <div class="inner-addon left-addon">
                  <i style="padding:14px;" class="fas fa-search"></i>
                  <input type="text" class="form-control settings-field fz-12" id="searchBar_qapairs" name="searchBar_qapairs"
                  placeholder="{{ _('Search for a question') }}" onkeyup="filterQa(this.value)"/>
                </div>
              </th>
              <th colspan="2" style="vertical-align: middle; text-align: right;">
                <div class="inner-addon left-addon">
                  <a href="#" onclick="exportCSVFile(qapairs, 'QA_pairs')">{{_('Download CSV')}}</a>
                </div>
              </th>
            </tr>
            <tr class="text-left">
              <th>{{_('QUESTION')}}</th>
              <th>{{_('TAGS')}}</th>
              <th>{{_('NAME')}}</th>
              <th>{{_('ROLE')}}</th>
              <th>{{_('DATE OF CREATION')}}</th>
            </tr>
          </thead>
          <tbody id='table_qa_body'>
            {% for qapair in qapairs %}
            <tr class="text-left" data-filter="{{ qapair['question']}}">
              <td>{{qapair['question']}}</td>
              <td>
                {% for tag in qapair['tags']%}
                <p class='badge badge-document badges-issues-qa'>{{ tag }}</p>
                {% endfor %}
              </td>
              <td>{{qapair['user']}}</td>
              <td>{{qapair['role'] | title}}</td>
              <td>{{qapair['doc'].strftime('%b %d - %H:%M') | upper}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>

  <div class="d-block">
    <div class="dashboard-card col-lg-12 border-0">
      <div class="card-body shadow bg-white m-2">
        <h5 class="card-title margin-graphs-card-title">{{_('Users login information')}}</h5>
        <p class="table-information" class=>This instance has {{ userslogin | length }} users.</p>
        <div class="table-responsive">
        <table id="userslogin_table" class="table user-table col-12 fz-12">
          <thead>
            <tr>
              <th colspan="3">
                <div class="inner-addon left-addon">
                  <i style="padding:14px;" class="fas fa-search"></i>
                  <input type="text" class="fz-12 form-control settings-field" id="searchBar_userslogin"
                  name="searchBar_userslogin" placeholder="{{ _('Search by user') }}" onkeyup="filterUsers(this.value)"/>
                </div>
              </th>
              <th colspan="2" style="vertical-align: middle; text-align: right;">
                <div class="inner-addon left-addon">
                  <a href="#" onclick="exportCSVFile(userslogin, 'users_logins')">{{_('Download CSV')}}</a>
                </div>
              </th>
            </tr>
            <tr class="text-left">
              <th>{{_('USERNAME')}}</th>
              <th>{{_('ROLE')}}</th>
              <th>{{_('EMAIL')}}</th>
              <th>{{_('REGISTERED')}}</th>
              <th>{{_('LAST LOGIN')}}</th>
            </tr>
          </thead>
          <tbody id='table_users_body'>
            {% for user in userslogin %}
            <tr class="text-left" data-filter="{{user['user']}}">
              <td>{{user['user']}}</td>
              <td>{{user['role'] | title }}</td>
              <td>{{user['email']}}</td>
              <td>{{user['registered']}}</td>
              <td>{{user['lastlogin']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  function filterSearches(filter) {
    filterTable(filter, 'table_searches_body')
  }

  function filterQa(filter) {
    filterTable(filter, 'table_qa_body')
  }

  function filterUsers(filter) {
    filterTable(filter, 'table_users_body')
  }

  function filterTable(filter, tableBodyClassName) {
    var tableBody = $('#' + tableBodyClassName);
    tableBody.children().each(function(index, row) {
      if ((filter == '') ||
          (row.attributes['data-filter'].value.toLowerCase().indexOf(filter.toLowerCase()) > -1)) {
        row.style.display = 'block';
      } else {
        row.style.display = 'none';
      }
    });
  }


  var timeFormat = 'YYYY/MM/DD';
  var instance_activity = {{instance_data.activity | tojson}};

  var activityInstanceChart = document.getElementById('activityInstance').getContext('2d');
  var activityInstance = new Chart(activityInstanceChart, {
    type: 'line',
    data: { datasets: instance_activity },
    options: {
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          type: "time",
          time: {
            format: timeFormat,
            tooltipFormat: 'll'
          },
          scaleLabel: {
            display: true                   }
          }
        ],
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      }
    }
  });

  function displayDashboard() {
    location.href = "/enterprise-dashboard" + location.search;
  }

  function displayInstance(botName) {
    location.href = "/enterprise-dashboard/" + botName + location.search;
  }

  function convertToCSV(objArray) {

      if (objArray.length < 1) return null;

      var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
      var str = '';

      //get headers from firs record
      row = array[0];
      var line = '';
      for (var key in row) {
          if (line != '') line += ','
          line += key.split(',').join(' ');
      }
      str += line + '\r\n';

      for (var i = 0; i < array.length; i++) {
          var line = '';
          for (var index in array[i]) {
              if (line != '') line += ','
              var value = array[i][index];
              if (typeof value == "string") {
                  value = value.split(',').join(' ');
              } else if (Array.isArray(value)) {
                  value = value.join(' ');
              }

              line += value;
          }

          str += line + '\r\n';
      }

      return str;
  }

  function convertGraphDataToCsv() {
      activityForExport = {};
      $(instance_activity).each(function(idx, element) {
          label = element.label;
          console.log(label);
          $(element.data).each(function(idx_p, element_p){
              date = element_p.x;
              data_row = activityForExport[date];
              if (data_row == undefined) {
                  activityForExport[date] = {'Date':date};
              }
              row = activityForExport[date];
              row[label] = element_p.y;
          });
      });
      activityArray = [];
      for (var key in activityForExport) {
          if (activityForExport.hasOwnProperty(key)) {
              activityArray.push(activityForExport[key]);
          }
      }
      return activityArray;
  }

  function exportCSVFile(items, fileTitle) {

      // Convert Object to JSON
      var jsonObject = JSON.stringify(items);

      var csv = this.convertToCSV(jsonObject);

      var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

      var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
      if (navigator.msSaveBlob) { // IE 10+
          navigator.msSaveBlob(blob, exportedFilenmae);
      } else {
          var link = document.createElement("a");
          if (link.download !== undefined) { // feature detection
              // Browsers that support HTML5 download attribute
              var url = URL.createObjectURL(blob);
              link.setAttribute("href", url);
              link.setAttribute("download", exportedFilenmae);
              link.style.visibility = 'hidden';
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
          }
      }
  }
  searches = {{searches | tojson}};
  qapairs = {{qapairs | tojson}};
  userslogin = {{userslogin | tojson}};
</script>