<!doctype html>
<html>

{% with title='Dashboard' %}
{% include 'head.html' %}
{% endwith %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript" src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
<script src="/static/libraries/word-cloud/wordcloud2.js"></script>

<body>

{% include 'navbar.html' %}
{% include 'chart-timeline.html' %}
{% include 'enterprise-dashboard-instance-modal.html' %}

<div class="container" id="dashboardInstances">
    <div class="row">
        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="total_searches_card">
            <div class="card-body row shadow bg-white m-2 pointer-div" data-toggle="modal" data-target="#instancesModal" >
                <div class="col-3 totalizer-bg-icon">
                <img  src="/static/images/ed-instances-icon.svg" class="iconTotalizers" alt="Instances-icon"></div>
                <div class="col-9">
                    <h5>{{_('Total instances')}}</h5>
                    <div class="dashb-big-value">{{top_data_general.total_instances}}</div>
                </div>
            </div>
        </div>

        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="total_searches_card">
            <div class="card-body row shadow bg-white m-2">
                <div class="col-3 totalizer-bg-icon">
                <img src="/static/images/ed-users-icon.svg" class="iconTotalizers" alt="Instances-icon"></div>
                <div class="col-9">
                    <h5>{{_('Total users')}}</h5>
                    <div class="dashb-big-value">{{top_data_general.total_users}}</div>
                </div>
            </div>
        </div>

        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="total_searches_card">
            <div class="card-body row shadow bg-white m-2">
                <div class="col-3 totalizer-bg-icon">
                <img src="/static/images/ed-searches-icon.svg" class="iconTotalizers" alt="Instances-icon"></div>
                <div class="col-9">
                    <h5>{{_('Total searches')}}</h5>
                <div class="dashb-big-value">{{top_data_general.total_searches}}</div>
                </div>
            </div>
        </div>

        <div class="dashboard-card col-md-6 col-lg-3 border-0" id="total_searches_card">
            <div class="card-body row shadow bg-white m-2">
                <div class="col-3 totalizer-bg-icon">
                <img src="/static/images/ed-qa-pairs-icon.svg" class="iconTotalizers" alt="Instances-icon"></div>
                <div class="col-9">
                    <h5>{{_('Total Q&A pairs')}}</h5>
                <div class="dashb-big-value">{{top_data_general.total_qa_pairs}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 no-margin-right padding-right-dropdowns-chips-alignment">
        <div class="btn-group float-desk-mobile">
            <div class="btn-group dropdown my-2 mr-3">
                <button class="btn btn-outline-secondary dropdown-toggle ml-0 no-margin-right" type="button" id="dropdownTime"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if filter['days'] == 7 %}
                    {{_('Past Week')}}
                    {% elif filter['days'] == 30 %}
                    {{_('Past Month')}}
                    {% else %}
                    {{_('Past Year')}}
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTime">
                    <a class="dropdown-item" href="javascript:set_since('7')">{{_('Past Week')}}</a>
                    <a class="dropdown-item" href="javascript:set_since('30')">{{_('Past Month')}}</a>
                    <a class="dropdown-item" href="javascript:set_since('365')">{{_('Past Year')}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block">
        <div class="dashboard-card col-lg-12 border-0">
            <div class="card-body graphs shadow bg-white m-2">
                <h5 class="card-title margin-graphs-card-title">{{_('Active users per instance')}}</h5>
                <canvas id="activeUsers" width="500px" height="200px" max-height="300px"></canvas>
            </div>
        </div>
    </div>

    <div class="d-block">
        <div class="dashboard-card col-lg-12 border-0">
            <div class="card-body graphs shadow bg-white m-2">
                <h5 class="card-title margin-graphs-card-title">{{_('Searches per instance')}}</h5>
                <canvas id="userSearches" width="500px" height="200px" max-height="300px"></canvas>
            </div>
        </div>
    </div>
</div> 

<script type="text/javascript">
    // changing locale globally
    moment.locale('{{language}}');

    var timeFormat = 'YYYY/MM/DD';

    var active_users = {{active_users | tojson}};
    var activeUsersChart = document.getElementById('activeUsers').getContext('2d');
    var activeUsers = new Chart(activeUsersChart, {
        type: 'line',
        data: { datasets: active_users },
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: timeFormat,
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true                   }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var searches_per_bot = {{searches_per_bot | tojson}};
    var userSearchesChart = document.getElementById('userSearches').getContext('2d');
    var userSearches = new Chart(userSearchesChart, {
        type: 'line',
        data: { datasets: searches_per_bot },
        options: {
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        format: timeFormat,
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true                   }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });

    //// Modal JS
</script>

</body>
{% include 'footer.html' %}
</html>
