<div class="modal" tabindex="-1" role="dialog" id="instancesModal">
  <div id="instances-table">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{_('Instances')}}</h5>
          <button type="button" class="close gray-close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <table id="instances_table" class="table user-table col-12 fz-12">
            <thead>
              <tr class="text-left">
                <th>{{_('INSTANCE')}}</th>
                <th>{{_('USERS')}}</th>
                <th>{{_('SEARCHES')}}</th>
                <th>{{_('Q&A PAIRS')}}</th>
              </tr>
            </thead>
            <tbody>
              {% for instance in instances_data %}
              <tr class="text-left" style="cursor:pointer;" data-dismiss="modal" aria-label="Close" onclick="displayInstance('{{instance['bot_name']}}')">
                <td>{{instance['name']}}</td>
                <td>{{instance['total_users']}}</td>
                <td>{{instance['total_searches']}}</td>
                <td>{{instance['total_qa_pairs']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function displayInstance(botName) {
    location.href = "/enterprise-dashboard/" + botName + location.search;
  }
</script>
