<!doctype html>
<html>
{% with title='Error' %}
{% include 'head.html' %}
{% endwith %}
<!--- HEADER --> 
<body>
{% include 'navbar.html' %}

<!-- BAR WITH COLORS -->
<div style="height:5px;background-color:red;width:100%"></div>


<div class="container">
    <br/>
    <div class="alert alert-danger" role="alert">
      {{ error_message | safe }}
    </div>
</div>

</body>
{% include 'footer.html' %}
</html>

