<html>
{% include 'head.html' %}
<head>
  <title></title>
</head>
<body style="background-color: #142e4f">
  <div class="container">
    <div class="pb-2"></div>
    <div class="d-flex justify-content-center">
      <img id="dragon" src="/static/images/dragon.svg">
      <img id="warrior" src="/static/images/warrior.svg">
    </div>
    <div class="d-flex justify-content-center">
      <div class="no-found-font">{{ error_code }}</div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="no-found-msg mb-5">
        {% if error_message %}
            {{ error_message }}
        {% else %}
            {{_('Oops! The page you’re trying to view does not exist.')}}
        {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-center">
      <form action="/">
        <button type="submit" class="btn not-found-btn my-5">{{_('Go to home page')}}</button>
      </form>
    </div>
    <div class="d-flex justify-content-center mt-5">
    <span class="no-found-msg">Contact us: <a href="mailto:help@ingestor.com" style="color: #5BE3FD; text-decoration: underline"> help@ingestor.com</a></span>
    </div>
  </div>
</body>
</html>