<!-- FILTERS -->
<style>
  .navbar .btn {
    margin-right: 10px;
  }
</style>

<div class="row col-md-12 col-xs-12" style="padding:0px;">
  <div class="col-12 col-md-10 col-xs-12 px-0">
    <div class="popular-questions-title ml-0">{{_('Questions and Answers')}}</div>
    <div class="popular-questions-counter mb-4">
      {{ngettext('You have %(num)s entry', 'You have %(num)s entries', filter['quantity']) }}
    </div>
  </div>
  <div class="col-md-2 col-8 p-0">
    {% if has_permission(filter['bot'], PERM_MODIFY_QA) %}
    <div class="dropdown-addfiles" style="display: inline-flex;">
      <button type="button" class="btn btn-outline-ingestor my-2 my-sm-0" data-toggle="modal" data-target="#newQaModal">
        <i class="fas fa-plus pr-2"></i>{{_('ADD NEW QUESTION')}}
      </button>
    </div>
    {% endif %}
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light justify-content-between row col-md-12 col-xs-12 pl-0 pr-0"
  style="background: #FFFFFF; border: 1px solid #F2F2F2; box-sizing: border-box;box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);border-radius: 4px;">
  <form class="my-2 my-lg-0 row col-md-12 col-12 pl-0 ">
    <div class="col-md-6 col-12 vertical-align-by-margin no-padding-right">
      <div class="inner-addon left-addon">
        <i class="fas fa-search"></i>
        <input class="form-control mr-sm-2 search-input" type="search" placeholder="{{_('Search for an entry')}}"
          value="{{ filter['text'] }}" onchange="set_search(this.value)">
      </div>
    </div>
    <div class="col-md-6 col-12 no-margin-right padding-right-dropdowns-chips-alignment">
      <div class="btn-group float-desk-mobile">
        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mr-0 " type="button" id="dropdownStatus"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['status'] == 2 %}
            {{_('Verified')}}
            {% elif filter['status'] == 1 %}
            {{_('Needs review')}}
            {% elif filter['status'] == 0 %}
            {{_('Needs answer')}}
            {% else %}
            {{_('Any status')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownStatus">
            <a class="dropdown-item" href="javascript:set_status('')">{{_('Any status')}}</a>
            <a class="dropdown-item" href="javascript:set_status('0')">{{_('Needs answer')}}</a>
            <a class="dropdown-item" href="javascript:set_status('1')">{{_('Needs review')}}</a>
            <a class="dropdown-item" href="javascript:set_status('2')">{{_('Verified')}}</a>
          </div>
        </div>

        {% if filter_tags %}
        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownTags" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['tag'] in filter_tags %}
              {{ filter['tag'] }}
            {% else %}
              {{_('Any tag')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTags">
            <a class="dropdown-item" href="javascript:set_tag('')">{{ _('Any tag') }}</a>
            {% for tag in filter_tags %}
            <a class="dropdown-item" href="javascript:set_tag('{{ tag }}')">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle ml-0 no-margin-right" type="button" id="dropdownTime"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['days'] == 1 %}
            {{_('Today')}}
            {% elif filter['days'] == 7 %}
            {{_('Past Week')}}
            {% elif filter['days'] == 30 %}
            {{_('Past Month')}}
            {% elif filter['days'] == 365 %}
            {{_('Past Year')}}
            {% else %}
            {{_('Any time')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTime">
            <a class="dropdown-item" href="javascript:set_since('9999')">{{_('Any time')}}</a>
            <a class="dropdown-item" href="javascript:set_since('1')">{{_('Today')}}
              <span class="badge badge-light">{{ filter['quantities_by_range']['1'] }}</span>
            </a>
            <a class="dropdown-item" href="javascript:set_since('7')">{{_('Past Week')}}
              <span class="badge badge-light">{{ filter['quantities_by_range']['7'] }}</span>
            </a>
            <a class="dropdown-item" href="javascript:set_since('30')">{{_('Past Month')}}
              <span class="badge badge-light">{{ filter['quantities_by_range']['30'] }}</span>
            </a>
            <a class="dropdown-item" href="javascript:set_since('365')">{{_('Past Year')}}
              <span class="badge badge-light">{{ filter['quantities_by_range']['365'] }}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if filter['direction'] == '1' %} active {% endif %}"
              href="javascript:set_direction(1)">{{_('Ascending')}}</a>
            <a class="dropdown-item {% if filter['direction'] == '-1' %} active {% endif %}"
              href="javascript:set_direction(-1)">{{_('Descending')}}</a>
          </div>
        </div>

      </div>
    </div>
  </form>
</nav>