<footer class="footer">
    <hr>
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                <!-- <h5>Ingestor</h5> -->
                <!-- <br> -->
                <a href="/privacy-conditions" target="_blank">{{_('Privacy Policy')}}</a>,
                <a href="/terms-of-use" target="_blank">{{_('Terms and Conditions')}}</a>
            </div>

            <div class="col-lg-3">
                <p><strong>© 2020 Ingestor - {{_('All Rights Reserved')}}</strong></p>
            </div>


            <!-- <div class="col-lg-2 col-md-6 col-sm-12">
                <p>Follow us</p>
                <hr>
                <p><a href="https://www.facebook.com/IngestorAI/" target="_blank"><i class="fab fa-facebook "></i> Facebook</a></p>
                <p><a href="https://www.linkedin.com/company/ingestorai/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></p>
                <p><a href="https://twitter.com/IngestorCo/" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></p>
            </div>

            <div class="col-lg-5 col-sm-12">
                <p>Contact us</p>
                <hr>
                <p><i class="far fa-map"></i>1808 Adams Mill Road, NW, Third Floor Washington, DC 20009</p>
                <p><i class="far fa-envelope"></i> info@ingestor.com</p>
            </div> -->
        </div>
    </div>
</footer>