<!doctype html>
<html>
<!--- HEADER -->
{% with title='Login' %}
{% include 'head.html' %}
{% endwith %}
<body>
{% include 'navbar.html' %}
<br/>
<div class="row">
  <div class="col">
    <div id="error-msg" class="mx-auto p-3 error-message text-center" style="display: none;"></div>
  </div>
</div>
<br/>

<script type="text/javascript" src="/static/libraries/validation/validations.js"></script>
<script type="text/javascript">
  {% if error_msg %}
  showError("{{ error_msg }}");
  {% endif %}

  function validateChangePassword(event) {
    {% if not nonce %}
    registerStepOne(event);
    {% else %}
    registerStepTwo(event);
    {% endif %}
  }
</script>

<div id="forgotPassword" class="collapse show col-12">
  <div class="col-12 col-md-4 offset-md-4 card forget-pass-card">
    <div class="paddingtop20">
      <h5>{{ title }}</h5>
      {% if msg %}
      <div class="alert alert-primary" role="alert">{{ msg }}</div>
      {% endif %}
      <br/>
      <form id="forgotPasswordForm" action="/forget-password" method="post" autocomplete="off" onsubmit="validateChangePassword(event)">
      <input type="hidden" name="nonce"   value="{{ nonce }}"/>
      <input type="hidden" name="expires" value="{{ expires }}"/>

      {% if not nonce %}
      <h6>{{_('WORK EMAIL')}}</h6>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="email" placeholder="Enter your registered work email" value="{{ email }}" data-lpignore="true"/>
      </div>
      {% else %}
      <input type="hidden" name="email" value="{{ email }}"/>
      <h6>{{_('LOGIN CODE')}}</h6>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="logincode" value="" placeholder="Login code" data-lpignore="true"
        {% if not is_iphone %} onfocus="removeReadOnly(this);" readonly {% endif %}/>
      </div>
      <h6>{{_('PASSWORD')}}</h6>
      <div class="form-group">
        <input type="password" class="form-control form-control-lg" name="password" value="" data-lpignore="true"
        {% if not is_iphone %} onfocus="removeReadOnly(this);" readonly {% endif %}/>
        <ol class="password-rules">
          <br/>
          <li>{{_('Contain at least 8 characters')}}</li>
          <li>{{_('Include at least one symbol (&percnt;, &, $, +, !, @, # or *)')}}</li>
          <li>{{_('Include upper and lower case characters')}}</li>
          <li>{{_('Include at least one number (0,1,2,3)')}}</li>
          <li>{{_('Not contain spaces')}}</li>
        </ol>
      </div>
      <h6>REPEAT PASSWORD</h6>
      <div class="form-group">
        <input type="password" class="form-control form-control-lg" name="password2" value="" data-lpignore="true"
        {% if not is_iphone %} onfocus="removeReadOnly(this);" readonly {% endif %}/>
      </div>
      {% endif %}
      <br/>
      <br/>
      <div class="form-group text-align-right">
          <button type="submit" class="btn btn-lg txt-white ingestor-blue-border ingestor-blue-bg">
            {% if not nonce %}{{_('CONTINUE')}}{% else %}{{_('RESET PASSWORD')}}{% endif %}
          </button>
      </div>
    </form>
    </div>

  </div>
</div>

</body>
{% include 'footer.html' %}
</html>
