<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

    <script type="text/javascript" src="/static/libraries/cu-scripts.js"></script>
    <script type="text/javascript" src="/static/libraries/web-audio-recording/RecorderService.js"></script>
    <script type="text/javascript" src="/static/libraries/web-audio-recording/encoder-wav-worker.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/cu.css">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.css">
    <script src="/static/libraries/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/static/libraries/typeahead/typeahead.bundle.js"></script>
    <!-- download from https://github.com/xcash/bootstrap-autocomplete -->
    <script src="/static/libraries/bootstrap/bootstrap-autocomplete.js"></script>

    <link rel="shortcut icon" href="/static/images/favicon.png">
    <title>{% if filter['bot_display_name'] %}{{ filter['bot_display_name'] }}{% else %}Ingestor{% endif %} {{ title }}</title>
    <script type="text/javascript">
        window.onload = function () {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox();
                });
        }
    </script>

</head>
