<!doctype html>
<html>

<!--- HEADER -->
{% with title='Login' %}
{% include 'head.html' %}
{% endwith %}

<body>

{% include 'navbar.html' %}

<script type="text/javascript" src="/static/libraries/validation/validations.js"></script>
<script type="text/javascript">
    {% if current_user.is_authenticated %}
    window.location = '/instances';
    {% endif %}
    {% if error %}
    window.onload = function() {
        showError("{{error}}");
    }
    {% endif %}

    function validateRegister(event) {
        setNext(event.target);
        {% if not nonce %}
        registerStepOne(event)
        {% else %}
        registerStepTwo(event)
        {% endif %}
    }
</script>

<br/>

<div class="row">
    <div class="col">
        <div id="error-msg" class="mx-auto p-3 error-message text-center" style="display: none;"></div>
    </div>
</div>
<br/>

<div id="loginOptions" class="row ml-0 collapse show col-12">
    <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
    <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4 no-horizontal-padding">
        <ul class="nav nav-pills nav-fill" id="loginTab">
            <li class="nav-item">
                <a id="login-tab" class="nav-link {% if page != 'register' %} active {% endif %} nav-login-custom-height" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
                    {{_('LOG IN')}}
                </a>
            </li>
            <li class="nav-item">
                <a id="register-tab" class="nav-link {% if page == 'register' %} active {% endif %} nav-login-custom-height" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">
                    {{_('REGISTER')}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
</div>

<div id="welcomeArea" class="row  ml-0 collapse show col-12">
    <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 card login-panel">
        <div class="card-content">
        <div class="tab-content paddingtop20">
            <div class="tab-pane fade show {% if page != 'register' %} active {% endif %}" id="login" role="tabpanel" aria-labelledby="login-tab">
                <h5>{{_('Welcome Back!')}}</h5>
                <br/>
                <form action="/login" id="loginForm" method="post" onsubmit="validateLogin(event)">
                    <h6>{{_('WORK EMAIL')}}</h6>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" name="email" value="{{ email }}" autocomplete="off" data-lpignore="true"/>
                    </div>
                    <h6>{{_('PASSWORD')}}</h6>
                    <div class="form-group">
                        <input id="loginPassword" type="password" class="form-control form-control-lg" name="password" value="" autocomplete="off" data-lpignore="true"/>
                    </div>
                    <input type="hidden" name="nonce" value="{{ nonce }}"/>
                    <input type="hidden" name="expires" value="{{ expires }}"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6 no-padding-left vertical-align-by-margin">
                                <a class="forgot-password-gray" href="/forget-password">{{_('Forgot Password?')}}</a>
                            </div>
                            <div class="col-6 no-padding-right">
                                <button id="loginButton" type="submit" class="btn btn-lg txt-white ingestor-blue-bg ingestor-blue-border float-right">
                                    {{_('LOG IN')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade show {% if page == 'register' %} active {% endif %}" id="register" role="tabpanel" aria-labelledby="register-tab">
                <h5>{{_('Welcome!')}}</h5>
                {% if page == 'register' and msg %}
                <div class="alert alert-primary" role="alert">{{ msg | safe}}</div>
                {% endif %}
                <br/>
                <form action="/register" id="registerForm" method="post" onsubmit="validateRegister(event)">
                    <h6>{{_('WORK EMAIL')}}</h6>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" name="email" value="{{ email }}" autocomplete="off" data-lpignore="true"/>
                    </div>

                    {% if nonce %}
                    <h6>{{_('LOGIN CODE')}}</h6>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg loginfield" name="logincode" value="" autocomplete="off" data-lpignore="true" {% if not is_iphone %} onfocus="removeReadOnly(this);" readonly {% endif %}/>
                    </div>
                    <h6>{{_('PASSWORD')}}</h6>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg loginfield" name="password" value="" autocomplete="off" data-lpignore="true"
                        {% if not is_iphone %} onfocus="removeReadOnly(this);" readonly {% endif %}/>
                        <ol class="password-rules">
                            <br/>
                            <li>{{_('Contain at least 8 characters')}}</li>
                            <li>{{_('Include at least one symbol (&percnt;, &, $, +, !, @, # or *)')}}</li>
                            <li>{{_('Include upper and lower case characters')}}</li>
                            <li>{{_('Include at least one number (0,1,2,3)')}}</li>
                            <li>{{_('Not contain spaces')}}</li>
                        </ol>
                    </div>
                    <h6>{{_('REPEAT PASSWORD')}}</h6>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg loginfield" name="password2" value=""  autocomplete="off" data-lpignore="true"
                        {% if not is_iphone %} onfocus="removeReadOnly(this);" readonly {% endif %}/>
                    </div>
                    {% endif %}

                    <input type="hidden" name="nonce" value="{{ nonce }}"/>
                    <input type="hidden" name="expires" value="{{ expires }}"/>
                    <input type="hidden" name="next" value="{{ next }}"/>

                    <br/>
                    <br/>
                        <div class="row form-group">
                            <div class="col-6">
                            </div>
                            <div class="col-6 no-padding-right">
                                <button type="submit" class="btn btn-lg txt-white ingestor-blue-border ingestor-blue-bg float-right">
                                    {{_('REGISTER')}}
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
</div>

</body>
{% include 'footer.html' %}
</html>
