<div class="card mobile-card" id="input-response">
  <div style="margin-left: auto; margin-bottom: 20px;">
    {% if value['tags'] %}
    <div id="tags_{{ value['id'] }}" class="row">
      <div class="col-12 px-0">
        {% for tag in value['tags'] %}
        <p class='badge badge-document'>{{ tag }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="pb-3" id="tags_edit_{{ value['id'] }}" style="display:none">
    <div class="col-12 pl-0 pr-0" style="margin-bottom:20px; margin-top:10px;">
      <input class="col-12" placeholder="Add tag/tags..." id="tagsInputResponse_{{ value['id'] }}" type="text" data-role="tagsinput" />
    </div>
  </div>

  <div class="row">
    <div class="col-12 px-0">
      <span class="card-status my-1">
        {% if verified %}
          {{_('Verified Answer')}}
        {% else %}
          {{_('Unverified answer')}}
        {% endif %}
      </span>
      {% if has_permission(filter['bot'], PERM_VERIFY) %}
      {% if not verified %}
      <div class="dropdown-addfiles" style="display: inline-flex; margin-left:auto;">
        <button type="button" class="btn btn-outline-ingestor my-2 my-sm-0" onclick="verify('{{ filter['bot'] }}', '{{ input.id }}', '{{ key }}')">
          <i class="fas fa-check mr-1"></i>{{_('MARK AS VERIFIED')}}
        </button>
      </div>
      {% endif %}
    {% endif %}
    </div>
    <div class="col-12 d-block d-sm-none px-0">
      {% if has_permission(filter['bot'], PERM_VERIFY) %}
        {% if not verified %}
        <div class="dropdown-addfiles mt-2" style="float: left!important">
          <button type="button" class="btn btn-outline-ingestor" onclick="verify('{{ filter['bot'] }}', '{{ input.id }}', '{{ key }}')">
            <i class="fas fa-check mr-1"></i>{{_('MARK AS VERIFIED')}}
          </button>
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12 px-0" id="display_zone_{{ value['id'] }}">
      <div class="card-text pt-3">{{ value['formated'] | safe}}</div>
    </div>
    <div class="col-12 px-0 pt-2" style="display:none" id="edit_zone_{{ value['id'] }}">
      <textarea id="textarea_{{ value['id'] }}" rows=6 class='form-control edit-area col-12'>{{ value['text'] }}</textarea>
    </div>
    <div class="col-12 px-0">
      <div class="d-flex justify-content-between">
          <div class="card-links p-3">
            {% if verified %}
            <i class="fas fa-check-circle" style="color:#65b544"></i>
            {{_('Verified by')}} {{ value['verifier'] }} • {{ value['verified_elapsed'] }}
            {% endif %}
          </div>
          <div class="d-flex justify-content-end">
            {% if has_permission(filter['bot'], PERM_MODIFY_QA) %}
            <div class="card-links p-3" onclick="remove_response('{{ filter['bot'] }}', '{{ input.id }}', '{{ key }}')">
              <i class="far fa-trash-alt pr-1"></i><a>{{_('Remove')}}</a>
            </div>
            <div class="card-links p-3" style="display:none" id="btn_save_{{ value['id'] }}" onclick="save_response('{{ value['id'] }}')">
              <i class="fas fa-check pr-1"></i><a>{{_('Save')}}</a>
            </div>
            <div class="card-links p-3" style="display:none" id="btn_cancel_{{ value['id'] }}" onclick="cancel_edit_response('{{ value['id'] }}')">
              <i class="fas fa-times pr-1"></i><a>{{_('Cancel')}}</a>
            </div>
            <div class="card-links p-3" id="btn_edit_{{ value['id'] }}" onclick="edit_response('{{ value['id'] }}')">
              <i class="fas fa-edit pr-1"></i><a>{{_('Edit')}}</a>
            </div>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
<script>
  var currentTags = {{ value['tags'] | safe }};
  $("#tagsInputResponse_{{ value['id'] }}").val(currentTags);
  initTagsInput("tagsInputResponse_{{ value['id'] }}", "{{ filter['bot'] }}")
</script>