<!doctype html>
<html>

{% with title='Instances Manager' %}
{% include 'head.html' %}
{% endwith %}

<body>

    {% include 'navbar.html' %}

    <div id="app">
        <div class="container col-12 row" data-app id="instancesManager">
            <div class="col-0 col-md-2"></div>
            <div class="dashboard-card col-12 col-md-8 border-0">
                <div class="card-body shadow bg-white m-2">
                    <ul class="nav padding-tittle-content-settings" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a id="instancesABM-tab" class="nav-link smart-search-tab p-0 pr-4 active" data-toggle="tab"
                                href="#instancesABM" role="tab" aria-controls="instancesABM" aria-selected="true">
                                {{_('INSTANCES')}} <div id="instancesABMBar" class="smart-search-tab-bar"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="ingestorUsersABM-tab" class="nav-link smart-search-tab p-0" data-toggle="tab"
                                href="#ingestorUsersABM" role="tab" aria-controls="ingestorUsersABM"
                                aria-selected="false">
                                {{_('INGESTOR USERS')}}<div id="ingestorUsersABMBar" class="smart-search-tab-bar"></div>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="instancesABM" class="tab-pane active" role="tabpanel"
                            aria-labelledby="instancesABM-tab">
                            <h5 class="p-bttm-10">
                                {{_('Create an instance')}}
                            </h5>
                            <div v-cloak class="alert"
                                v-bind:class="{ 'alert-success': instanceCreationSuccess, 'alert-danger': !instanceCreationSuccess }"
                                v-if="alertInstanceCreation" role="alert">
                                [[instanceCreationMsg]]
                                <button type="button" class="close" v-on:click="displayAlertCreateInstance(false)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Instance creation form -->
                            <form class="row d-flex justify-content-between">
                                <div class="col-3 no-padding-left">
                                    <input @keydown.space.prevent class="form-control settings-field fz-12"
                                        placeholder="{{_('Instance Name')}}" required id="bot_name" type="text"
                                        v-model="instance.bot_name" />
                                </div>
                                <div class="col-3">
                                    <input class="form-control settings-field fz-12" required id="display_name"
                                        placeholder="{{_('Display name')}}" type="text"
                                        v-model="instance.display_name" />
                                </div>
                                <div class="col-3">
                                    <input @keydown.space.prevent class="form-control settings-field fz-12" required
                                        id="sponsor" placeholder="{{_('Sponsor')}}" type="text"
                                        v-model="instance.sponsor" />
                                </div>
                                <div class="col-3" style="text-align:right">
                                    <button v-on:click="save_instance"
                                        :disabled="!instance.display_name || !instance.bot_name || !instance.sponsor"
                                        type="submit"
                                        class="btn ingestor-blue-bg txt-white">{{_('Create Instance')}}</button>
                                </div>

                            </form>
                            <!-- Instances table -->
                            <v-card-title>
                                {{_('Instances Table')}}
                                <v-spacer></v-spacer>
                                <v-text-field v-model="searchInstances" append-icon="mdi-magnify"
                                    label="{{_('Search instance')}}" single-line hide-details></v-text-field>
                            </v-card-title>
                            <div v-cloak class="alert"
                                v-bind:class="{ 'alert-success': dialogDeleteInstanceSuccess, 'alert-danger': !dialogDeleteInstanceSuccess }"
                                v-if="alertInstanceDelete" role="alert">
                                [[instanceDeleteMsg]]
                                <button type="button" class="close" v-on:click="displayAlertDeleteInstance(false)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <v-data-table :sort-by.sync="sortbyInstance" :sort-desc.sync="sortDescInstance"
                            :footer-props="footer_props" :headers="headersInstances"
                                :items="instanceTableEntries" :search="searchInstances"
                                class="elevation-1">
                                <template v-slot:item.actions="{ item }">
                                    <v-icon v-if="item.sponsor === emailUser" small
                                        @click.stop="callDisplayGetDataDeleteInstanceDialog(item)">
                                        mdi-delete
                                    </v-icon>
                                </template>

                                <template v-slot:footer.page-text="items"> [[ items.pageStart ]] - [[ items.pageStop ]]
                                    {{_('of')}} [[ items.itemsLength ]] </template>
                            </v-data-table>
                            <!-- Instance delete dialog -->
                            <v-dialog v-cloak v-model="dialogDeleteInstance" max-width="500px">
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{_('Take a moment... are you absolutely sure?')}}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container>
                                            <div class="flash-warn flash-full">
                                                <b>{{_('WARNING!')}}</b>
                                            </div>
                                            <div>
                                                <p class="padding-message-delete-instance"><span
                                                        v-html="dialogDeleteInstanceMessage"></span> .
                                                    {{_('All of the content will be lost.')}}
                                                </p>
                                            </div>
                                            <div>
                                                <p>{{_('Please type ')}}<b>[[instance.display_name]]</b>
                                                    {{_('to confirm')}}</p>
                                            </div>
                                            <div class="padding-message-delete-instance">
                                                <input class="form-control settings-field fz-12" placeholder=""
                                                    id="input_bot_name_delete" type="text"
                                                    v-model="inputInstanceToDelete" />
                                            </div>

                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <button class="btn ingestor-cancel"
                                            @click="dialogDeleteInstance = false">{{_('Cancel')}}</button>
                                        <button :disabled="instance.display_name != inputInstanceToDelete"
                                            class="btn ingestor-blue-bg txt-white"
                                            @click="deleteInstance()">{{_('Confirm')}}</button>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </div>
                        <div id="ingestorUsersABM" class="tab-pane" role="tabpanel"
                            aria-labelledby="ingestorUsersABM-tab">
                            <h5 class="p-bttm-10">
                                {{_('Add Ingestor user')}}

                            </h5>
                            <div v-cloak class="alert"
                                v-bind:class="{ 'alert-success': ingestorUserCreationSuccess, 'alert-danger': !ingestorUserCreationSuccess }"
                                v-if="alertIngestorUserCreation" role="alert">
                                [[ingestorUserCreationMsg]]
                                <button type="button" class="close" v-on:click="displayAlertCreateIngestorUser(false)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="row d-flex justify-content-between">
                                <div class="col-9 no-padding-left">
                                    <input @keydown.space.prevent class="form-control settings-field fz-12"
                                        placeholder="{{_('User email')}}" required id="ingestorUserID" type="text"
                                        v-model="ingestorUserID" />
                                </div>
                                <div class="col-3" style="text-align:right">
                                <button v-on:click="save_ingestorUser" :disabled="!ingestorUserID" type="submit"
                                    class="btn ingestor-blue-bg txt-white">{{_('Add Ingestor user')}}</button>
                                </div>
                            </form>

                            <v-card-title>
                                {{_('Users Table')}}
                                <v-spacer></v-spacer>
                                <v-text-field v-model="searchUsers" append-icon="mdi-magnify"
                                    label="{{_('Search Ingestor user')}}" single-line hide-details></v-text-field>
                            </v-card-title>
                            <div v-cloak class="alert"
                                v-bind:class="{ 'alert-success': ingestorUserDeleteSuccess, 'alert-danger': !ingestorUserDeleteSuccess }"
                                v-if="alertIngestorUserDelete" role="alert">
                                [[ingestorUserDeleteMsg]]
                                <button type="button" class="close" v-on:click="displayAlertDeleteIngestorUser(false)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <v-data-table :sort-by.sync="sortByUser" :sort-desc.sync="sortDescUser"
                             :footer-props="footer_props" :headers="ingestorUsersTableTitles"
                                :items="ingestorUsersTableEntries" :search="searchUsers" class="elevation-1">
                                <template v-slot:item.actions="{ item }">
                                    <v-icon v-if="!(item.user_id == emailUser || item.user_id == telephoneUser)" small
                                        @click.stop="callDisplayGetDataDeleteIngestorUserDialog(item.user_id)">
                                        mdi-delete
                                    </v-icon>
                                </template>

                                <template v-slot:footer.page-text="items"> [[ items.pageStart ]] - [[ items.pageStop ]]
                                    {{_('of')}} [[ items.itemsLength ]] </template>
                            </v-data-table>

                            <v-dialog v-cloak v-model="dialogDeleteIngestorUser" max-width="500px">
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{_('Take a moment... are you absolutely sure?')}}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container>
                                            <div class="flash-warn flash-full">
                                                <b>{{_('WARNING!')}}</b>
                                            </div>
                                            <div>
                                                <p class="padding-message-delete-instance"><span
                                                        v-html="dialogDeleteIngestorUserMessage"></span> .
                                                    {{_('All of the content will be lost.')}}
                                                </p>
                                            </div>
                                            <div>
                                                <p>{{_('Please type ')}}<b>[[ingestorUserID]]</b>
                                                    {{_('to confirm')}}</p>
                                            </div>
                                            <div class="padding-message-delete-instance">
                                                <input class="form-control settings-field fz-12" placeholder=""
                                                    id="input_user_ingestor_delete" type="text"
                                                    v-model="inputIngestorUserToDelete" />
                                            </div>

                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <button class="btn ingestor-cancel"
                                            @click="dialogDeleteIngestorUser = false">{{_('Cancel')}}</button>
                                        <button :disabled="ingestorUserID != inputIngestorUserToDelete"
                                            class="btn ingestor-blue-bg txt-white"
                                            @click="deleteIngestorUser()">{{_('Confirm')}}</button>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>

                        </div>
                    </div>

                </div>

                <div v-if="loaderIsVisible" class="loader-overlay">
                    <div class="loader"></div>
                    <span class="text" v-html="loaderText"></span>
                </div>
            </div>
        </div>
    </div>


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>



    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                /* Global variables */
                emailUser: '',
                telephoneUser: '',
                loaderText: '',
                loaderIsVisible: false,
                footer_props: {
                    'items-per-page-options': [],
                    'items-per-page-text': null,
                    'disable-items-per-page': true
                },
                /* Instances ABM - Table variables */
                instance: {
                    bot_name: '',
                    display_name: '',
                    sponsor: ''
                },
                headersInstances: [{
                        text: "{{_('Instance name')}}",
                        align: 'start',
                        sortable: true,
                        value: 'bot_name',
                    },
                    {
                        text: "{{_('Display name')}}",
                        value: 'display_name'
                    },
                    {
                        text: "{{_('Sponsor')}}",
                        value: 'sponsor'
                    },
                    {
                        text: "{{_('Actions')}}",
                        value: 'actions',
                        sortable: false
                    },
                ],
                instanceTableEntries: [],
                searchInstances: '',
                /** Instances ABM - Table alert delete **/
                alertInstanceDelete: false,
                sortByUser: 'user_id',
                sortbyInstance: 'bot_name',
                sortDescInstance: false,
                sortDescUser: false,
                instanceDeleteMsg: '',
                dialogDeleteInstanceSuccess: true,
                /** Instances ABM - Table dialog delete **/
                inputInstanceToDelete: '',
                dialogDeleteInstanceMessage: 'mensaje inicial',
                dialogDeleteInstance: false,
                /** Instances ABM - Table alert creation **/
                alertInstanceCreation: false,
                instanceCreationSuccess: true,
                instanceCreationMsg: '',
                /*Ingestor user id in Create form*/
                ingestorUserID: '',
                /*Ingestor users table headers*/
                ingestorUsersTableTitles: [{
                    text: "{{_('Ingestor user')}}",
                    align: 'start',
                    sortable: true,
                    value: 'user_id',
                }, {
                    text: "{{_('User name')}}",
                    value: 'full_name',
                }, {
                    text: "{{_('Actions')}}",
                    value: 'actions',
                    sortable: false
                }],
                searchUsers: '',
                /*Ingestor users table data*/
                ingestorUsersTableEntries: [],
                /*Ingestor users table update trigger*/
                updateIngestorUsersTable: 0,
                /*Ingestor users table total entries count*/
                ingestorUsersTableTotal: 0,
                /* initial state of dialog to delete ingestor user*/
                dialogDeleteIngestorUser: false,
                dialogDeleteIngestorUserMessage: 'Confirmation message',
                /*Ingestor user creation alert display*/
                alertIngestorUserCreation: false,
                /*Ingestor user creation alert message*/
                ingestorUserCreationMsg: '',
                /*Ingestor user creation alert type success/error */
                ingestorUserCreationSuccess: true,
                /*Ingestor user delete alert display*/
                alertIngestorUserDelete: false,
                /*Ingestor user delete alert message*/
                ingestorUserDeleteMsg: '',
                /*Ingestor user delete alert type success/error */
                ingestorUserDeleteSuccess: true,
                inputIngestorUserToDelete: ''
            },
            methods: {
                /*Create a new instance*/
                save_instance: function (event) {
                    event.preventDefault();
                    this.displayPreloader(true)
                    if (this.checkWhiteSpaces(this.instance.bot_name, this.instance.sponsor)) {
                        this.displayPreloader(false)
                        return
                    }
                    const vm = this;
                    axios.post('/add_new_bot', {
                            bot_name: this.instance.bot_name,
                            display_name: this.instance.display_name,
                            sponsor: this.instance.sponsor
                        }).then(function (response) {
                            if (response.error) {
                                console.log(response.message)
                                resetForm();
                                vm.displayAlertCreateInstance(true, false, response.message)
                                return
                            } else {
                                vm.resetForm()
                                vm.instance_tables_axios()
                                vm.displayAlertCreateInstance(true, true)
                                vm.displayPreloader(false)
                            }
                        })
                        .catch(function (error) {
                            console.log(error.response);
                            vm.displayPreloader(false);
                            vm.displayAlertCreateInstance(true, false, error.response.data
                                .error_message);
                        });
                },
                /*Display preloader */
                displayPreloader(boolean) {
                    this.loaderIsVisible = boolean
                },
                /*Display the alert after success or fail of create instance */
                displayAlertCreateInstance(show_alert, type_alert, error) {
                    this.alertInstanceCreation = show_alert
                    this.instanceCreationSuccess = type_alert
                    this.instanceCreationMsg = error ?
                        "{{_('There has been a problem with the creation of this instance. ')}}" +
                        error + '.' : "{{_('A new instance was created succesfully !')}}"
                },
                /*Checks if there is a space inside the fields of the create instance form */
                checkWhiteSpaces(bot_name, instance_sponsor) {
                    if (/\s/.test(bot_name) || /\s/.test(instance_sponsor)) {
                        this.displayAlertCreateInstance(true, false,
                            "{{_('One or more fields contain spaces')}}")
                        return true
                    }
                    return false
                },
                /*Axios call to get instances table data */
                instance_tables_axios() {
                    const vm = this;
                    axios.get('/get_all_bots')
                        .then(function (response) {
                            vm.instanceTableEntries = response.data.all_bots
                        })
                },
                /*Axios call to get the user id (email and telephone)*/
                get_user_id() {
                    const vm = this;
                    axios.get('/get_user_preferences')
                        .then(function (response) {
                            vm.emailUser = response.data.email
                            vm.telephoneUser = response.data['phone-number']
                        })
                },
                /*Calls function to display the dialog to delete instance and gets data */
                callDisplayGetDataDeleteInstanceDialog(instanceData) {
                    this.displayDialogDeleteInstance(true);
                    this.dialogDeleteInstanceMessage = (
                        '{{_("This action cannot be undone. This will permanently delete the %(name)s instance", name=' % ')}}').replace('%', instanceData.bot_name);
                    this.instance.bot_name = instanceData.bot_name;
                    this.instance.display_name = instanceData.display_name;
                    this.instance.sponsor = instanceData.sponsor;
                },
                /*Display dialog to Delete Instance */
                displayDialogDeleteInstance(boolean) {
                    this.dialogDeleteInstance = boolean
                },
                /*Delete instance function */
                deleteInstance() {
                    this.displayPreloader(true)
                    const vm = this
                    axios.post('/delete_bot', {
                            bot_name: this.instance.bot_name,
                            display_name: this.instance.display_name,
                            sponsor: this.instance.sponsor,
                        }).then(function (response) {
                            vm.deleteTableRowVisually(vm.instanceTableEntries)
                            vm.resetForm()
                            vm.displayAlertDeleteInstance(true, true)
                            vm.displayDialogDeleteInstance(false)
                            vm.displayPreloader(false)
                        })
                        .catch(function (error) {
                            vm.resetForm()
                            vm.displayAlertDeleteInstance(true, false, error);
                            vm.displayDialogDeleteInstance(false)
                            vm.displayPreloader(false)
                        })
                },
                /*Removes the deleted entry visually from the tables */
                deleteTableRowVisually(table) {
                    if (table == this.instanceTableEntries) {
                        let deleteIndex = table.findIndex(item => item
                            .display_name === this.instance.display_name)
                        table.splice(deleteIndex, 1)
                    } else {
                        let deleteIndex = table.findIndex(item => item
                            .user_id === this.ingestorUserID)
                        table.splice(deleteIndex, 1)
                    }
                },
                /*Reset Create Instance form */
                resetForm() {
                    this.instance.bot_name = ""
                    this.instance.display_name = ""
                    this.instance.sponsor = ""
                    this.inputInstanceToDelete = ""
                },
                /*Display the alert after success or fail of delete instance */
                displayAlertDeleteInstance(show_alert, type_alert, error) {
                    this.alertInstanceDelete = show_alert
                    this.dialogDeleteInstanceSuccess = type_alert
                    this.instanceDeleteMsg = error ? error :
                        "{{_('The instance was deleted succesfully.')}}"
                },
                /*Axios call to get the ingestor users */
                ingestor_users_table_axios() {
                    const vm = this;
                    axios.get('/api/ingestor_users')
                        .then(function (response) {
                            vm.ingestorUsersTableEntries = response.data.ingestor_users
                            vm.updateIngestorUsersTable = +1
                        })
                },
                /*Creates new ingestor user */
                save_ingestorUser: function (event) {
                    event.preventDefault();
                    this.displayPreloader(true)
                    if (this.checkWhiteSpacesIngestorUser(this.ingestorUserID, '')) {
                        this.displayPreloader(false)
                        return
                    }
                    const vm = this;
                    axios.post('/api/add_ingestor_user', {
                            user_id: this.ingestorUserID
                        }).then(function (response) {
                            if (response.error) {
                                console.log(response.message)
                                resetIngestorUserForm();
                                vm.displayAlertCreateIngestorUser(true, false, response.message)
                                vm.displayPreloader(false)
                                return
                            } else {
                                vm.resetIngestorUserForm()
                                vm.ingestor_users_table_axios()
                                vm.displayAlertCreateIngestorUser(true, true)
                                vm.displayPreloader(false)
                            }
                        })
                        .catch(function (error) {
                            vm.displayPreloader(false);
                            console.log(error.response)
                            vm.displayAlertCreateIngestorUser(true, false, error.response.data
                                .error_message);
                        });
                },
                /*Display the alert after success or fail of create ingestor user */
                displayAlertCreateIngestorUser(show_alert, type_alert, error) {
                    this.alertIngestorUserCreation = show_alert
                    this.ingestorUserCreationSuccess = type_alert
                    this.ingestorUserCreationMsg = error ?
                        "{{_('There has been a problem with the creation of this Ingestor user.')}}" +
                        error + '.' : "{{_('A new Ingestor User was created succesfully !')}}"
                },
                /*Display the alert after success or fail of delete ingestor user */
                displayAlertDeleteIngestorUser(show_alert, type_alert, error) {
                    this.alertIngestorUserDelete = show_alert
                    this.ingestorUserDeleteSuccess = type_alert
                    this.ingestorUserDeleteMsg = error ? error :
                        "{{_('The Ingestor user was deleted succesfully !')}}"
                },
                /*Reset Create Ingestor User form */
                resetIngestorUserForm() {
                    this.ingestorUserID = ''
                    this.inputIngestorUserToDelete = ''
                },
                /*Changes display of the dialog to delete ingestor user */
                displayDialogDeleteIngestorUser(boolean) {
                    this.dialogDeleteIngestorUser = boolean
                },
                /*Calls function to display the dialog to delete ingestor user and gets data */
                callDisplayGetDataDeleteIngestorUserDialog(ingestorUserData) {
                    this.displayDialogDeleteIngestorUser(true);
                    this.dialogDeleteIngestorUserMessage = (
                        '{{_("This action cannot be undone. This will permanently delete the %(name)s user", name=' % ')}}').replace('%', ingestorUserData);

                    this.ingestorUserID = ingestorUserData;
                },
                /*Delete ingestor user function */
                deleteIngestorUser() {
                    this.displayPreloader(true)
                    if (this.checkWhiteSpacesIngestorUser(this.ingestorUserID)) {
                        this.displayPreloader(false)
                        return
                    }
                    const vm = this
                    axios.post('/api/remove_ingestor_user', {
                            user_id: this.ingestorUserID
                        }).then(function (response) {
                            vm.deleteTableRowVisually(vm.ingestorUsersTableEntries)
                            vm.resetIngestorUserForm()
                            vm.displayAlertDeleteIngestorUser(true, true)
                            vm.displayDialogDeleteIngestorUser(false)
                            vm.displayPreloader(false)
                        })
                        .catch(function (error) {
                            console.log(error.response);
                            vm.resetIngestorUserForm()
                            vm.displayAlertDeleteIngestorUser(true, false, error);
                            vm.displayDialogDeleteIngestorUser(false)
                            vm.displayPreloader(false)
                        })
                },
                /*Checks if there is a space inside the fields of the create ingestor user form */
                checkWhiteSpacesIngestorUser(user) {
                    if (/\s/.test(user)) {
                        this.displayAlertCreateIngestorUser(true, false,
                            "{{_('The user email input contain one or more spaces')}}")
                        return true
                    }
                    return false
                }
            },
            created: function () {
                this.instance_tables_axios()
                this.get_user_id()
                this.ingestor_users_table_axios()
            }
        })
    </script>
</body>
{% include 'footer.html' %}

</html>