<!doctype html>
<html>

{% with title='Issue' %}
{% include 'head.html' %}
{% endwith %}

<!--- HEADER -->
<body>
{% include 'navbar.html' %}
<div id="welcomeArea" class="row ml-0 collapse show col-12 ask-panel">
  <div class="col-0 col-md-2"></div>
  <div class="col-12 col-md-8 px-0">
    <div class="row mt-4">
      <div class="col-6 col-md-8 px-0">
        <div class="popular-questions-counter mb-4" onclick="javascript:show_issues('{{ entry.bot }}')" style="cursor: pointer; align-items: center; display: flex;">
          <i class="fas fa-arrow-left pr-2"></i> {{_('Back to Issues')}}
        </div>
      </div>

      {% if (next or prev) and filter['quantity'] %}
      <div class="col-md-4 col-6 mb-4 px-0 d-flex justify-content-end popular-questions-counter">
        <a class="return-link {% if not prev %}link-disable{% endif %} pr-2" href="javascript:display_issue('{{ entry.bot }}', '{{ prev }}', {{filter['quantity']}}, {{filter['position']-1}})">
          <i class="fas fa-chevron-left"></i>
        </a>
        <label style="color: #00000080;">{{ filter['real_position'] }} {{_('of')}} {{ filter['quantity'] }}</label>
        <a class="return-link {% if not next %}link-disable{% endif %} pl-2" href="javascript:display_issue('{{ entry.bot }}', '{{ next }}', {{filter['quantity']}}, {{filter['position']+1}})">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-12 col-md-6 px-0">
        <div id="inputText" class="popular-questions-title ml-0 d-block">{{ entry.text | safe }}</div>
        <input id="inputTextEdit" class="edit-question-input d-none" type="text" name="inputText" value="{{ entry.text | safe }}" onchange="markTextChanged()">
        <span id="editTitleButtonsmobile" class="d-none">
          <div class="d-block d-sm-none py-3">
            <button class="btn btn-outline-question" onclick="saveQuestion('mobile')">{{_('SAVE')}}</button>
            <button class="btn btn-outline-question cancel" onclick="cancelEdit('mobile')">{{_('Cancel')}}</button>
          </div>
        </span>

        <div class="row">
          <div class="popular-questions-counter mb-3" data-toggle="tooltip" data-placement="bottom"
               title="{{ entry.time_ago }}">
            {{ entry.short_description}}
            {% if entry.tags %}
            |
           {% endif %}
          </div>
          <div>
            {% if entry.tags %}
              {% for tag in entry.tags %}
                <p class='badge  badge-document'>{{ tag }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="col-md-6 offset-md-0 col-6 px-0 pb-3" style="display: flex;align-items: center;">
          {% if entry.status %}
          <span class="badge badge-pill issue-resolved">{{_('Resolved')}}</span>
          {% else %}
          <span class="badge badge-pill issue-unresolved">{{_('Unresolved')}}</span>
          {% endif %}
        </div>
      </div>

      <div class="col-12 col-md-3">
        <span id="editTitleButtons" class="d-none">
          <div class="d-none d-sm-block">
            <button class="btn btn-outline-question" onclick="saveQuestion()">{{_('SAVE')}}</button>
            <button class="btn btn-outline-question cancel" onclick="cancelEdit()">{{_('Cancel')}}</button>
          </div>
        </span>
      </div>

      <div class="col-12 col-md-3 p-0 pb-3">
          {% if has_permission(filter['bot'], PERM_MODIFY_ISSUES) %}
          <div class="d-flex justify-content-end pt-2">
            <span id="editTitle" class="d-block">
              <i class="far fa-edit d-none d-sm-block pointer" style="color: #949BA3;" onclick="editTitle()">
                <span class="edit-question pl-1">{{_('Edit Question')}}</span>
              </i>
            </span>
            <i class="fas fa-brain pointer ml-4 d-none d-sm-block" style="color:#3c7fff;cursor: pointer" onclick="visualize_issue('{{ entry.id }}')"></i>
          </div>
          <div class="row pt-2">
            <span id="editTitlemobile" class="d-block">
              <i class="far fa-edit d-block d-sm-none pointer" style="color: #949BA3;" onclick="editTitle('mobile')">
                <span class="edit-question pl-1">{{_('Edit Question')}}</span>
              </i>
            </span>
            <i class="fas fa-brain pointer ml-4 d-block d-sm-none" style="color:#3c7fff;cursor: pointer" onclick="visualize_issue('{{ entry.id }}')"></i>
          </div>
          {% endif %}

      </div>

      {% include 'ingestor-modal.html' %}

      <div class="col-md-12 col-12 px-0">
        {% if entry.queue_type == 'ambiguous_input' %}
          {% for input in entry.matches %}
          <div class="card mobile-card">
            <div class="row">
              {% if input.selected %}
              <div>
                <h4 style="padding-right:10px" data-toggle="tooltip" data-placement="top" title="Selected option">
                  <i style="color:{{ entry.color }}" class="fas fa-check"></i>
                </h4>
              </div>
              {% endif %}
              <div>
                <h4>{{ input.text }}</h4>
              </div>
            </div>

            {% for key, value in input.responses_dict.items() %}
            <div class="row">
              <div class="col-10" style="margin-top:15px;white-space: pre-wrap">{{ value['formated'] | safe}}</div>

              <div class="col-2" style="text-align:right">
                <form action="/remember/{{ filter['bot'] }}" method="post">
                  <input type="hidden" name="input_text" value="{{ entry.text | safe }}"/>
                  <input type="hidden" name="queue_id" value="{{ entry.id }}"/>
                  <input type="hidden" name="queue_type" value="{{ entry.queue_type }}"/>
                  <input type="hidden" name="response_text" value="{{ value['text'] }}"/>
                  <button type="button" class="btn btn-sm" title="{{_('Use as response')}}" style="background-color:white;border-color: var(--need-review-color); color: var(--need-review-color)" onclick="javascript:copyResponseText(this.form.response_text.value)">
                    <i class="fas fa-copy"></i>
                  </button>
                  <button class="btn btn-sm" style="color:white;border-color: var(--need-review-color); background-color: var(--need-review-color)" type="submit">
                    Use answer
                  </button>
                </form>
              </div>
            </div>
            {% endfor %}

            {% for key, value in input.verified_responses_dict.items() %}
              <div class="row">
                <div class="col-6">
                  <span class="badge" style="border: solid 1px; color: var(--verified-color);border-color: var(--verified-color); background-color: white">
                    {{_('Moderated answer')}}
                  </span>
                </div>
                <div class="col-6" style="text-align:right">
                  <form action="/remember/{{ filter['bot'] }}" method="post">
                    <input type="hidden" name="input_text" value="{{ entry.text | safe }}"/>
                    <input type="hidden" name="queue_id" value="{{ entry.id }}"/>
                    <input type="hidden" name="queue_type" value="{{ entry.queue_type }}"/>
                    <input type="hidden" name="response_text" value="{{ value['text'] }}"/>
                    <button type="button" class="btn btn-sm" title="Copy response" style="color:white;border-color: var(--verified-color); background-color: var(--verified-color)" onclick="javascript:copyResponseText(this.form.response_text.value)">
                      <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-sm" style="color:white;border-color: var(--verified-color); background-color: var(--verified-color)" type="submit">
                      Use answer
                    </button>
                  </form>
                </div>
              </div>

              <div class="row">
                <div class="col-12" style="margin-top:15px;white-space: pre-wrap">{{ value['formated'] | safe}}</div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        {% elif entry.queue_type == 'remember' %}
          <div class="card mobile-card">
            <div class="row">
              <div class="col-12 px-0">
                <div class="dropdown-addfiles">
                  <button type="button" class="btn btn-outline-ingestor my-2 my-sm-0" onclick="verify('{{ filter['bot'] }}', '{{ entry.input_id }}', '{{ entry.response_id }}', '{{ entry.id }}', '{{ entry.queue_type }}')">
                    <i class="fas fa-check mr-1"></i> {{_('MARK AS VERIFIED')}}
                  </button>
                </div>
              </div>
              <div class="col-12 px-0">
                <div class="card-text">{{ entry.response | safe}}</div>
              </div>

              {% if entry.other_responses %}
                <div class="col-12 px-0">
                  <div class="list-item-title">{{_('This question already has other responses:')}}</div>
                  <ul>
                    {% for other_response in entry.other_responses.values() %}
                      <li>
                        {{ other_response['formated'] | safe }}{% if other_response['verified'] %}<i style="color:#65b544" class="fas fa-check-circle"></i> {{_('Verified')}}{% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="col-12 form-group">
                    <input type="checkbox" id="removeOtherResponses" checked/>
                    <label class="form-check-label" for="removeOtherResponses">{{_('Remove other responses')}}</label>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% elif entry.queue_type == 'reaction' %}
          <div class="card mobile-card">
            <div class="row">
              <div class="col-12 px-0">
                <div class="list-item-title">{{ entry.related_input }}</div>
              </div>
              <div class="col-12 px-0 pt-2">
                <div class="card-text">{{ entry.response_formated | safe }}</div>
              </div>
              <div class="col-12 px-0">
                <div class="d-flex flex-row-reverse">
                  <div id="reaction_response_text" class="d-none">{{ entry.response }}</div>
                  <div class="card-links p-3" onclick="javascript:copyResponseTextId('reaction_response_text')">
                    <i class="fa fa-copy pr-1"></i><a>{{_('Use as response')}}</a>
                  </div>
                </div>
              </div>
              {% if entry.comment %}
                <div class="col-12 px-0">
                  <div class="list-item-title"><i class="far fa-comment pr-2"></i>{{_('Comment')}}</div>
                </div>
                <div class="col-12 px-0 pt-2">
                  <div class="card-text">{{ entry.comment }}</div>
                </div>
              {% endif %}
              {% if entry.reaction %}
                <div class="col-12 px-0 pt-2">
                  <div class="reaction-icon" style="color: #BABABA">
                    {% if entry.reaction == 'smile' %}
                      <i class="fas fa-thumbs-up pr-1"></i> {{_('Thumbs Up')}}
                    {% else %}
                      <i class="fas fa-thumbs-down pr-1"></i> {{_('Thumbs Down')}}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% elif entry.queue_type == 'misunderstood' %}
          <div class="card mobile-card">
            {% for key, value in entry.related_responses.items() %}
              <div class="row">
                <div class="col-12 px-0">
                  <h4>{{ value['question'] | safe }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 col-lg-10 px-0" style="white-space: pre-wrap">{{ value['formated'] | safe}}</div>
                <div class="col-md-3 col-lg-2 px-0" style="text-align:right">
                  <form action="/remember/{{ filter['bot'] }}" method="post">
                    <input type="hidden" name="input_text" value="{{ entry.text | safe }}"/>
                    <input type="hidden" name="queue_id" value="{{ entry.id }}"/>
                    <input type="hidden" name="queue_type" value="{{ entry.queue_type }}"/>
                    <input type="hidden" name="response_text" value="{{ value['text'] }}"/>
                    <button type="button" class="btn btn-sm" title="Copy response"
                            style="color:white;border-color: var(--need-review-color); background-color: var(--need-review-color)"
                            onclick="javascript:copyResponseText(this.form.response_text.value)">
                      <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-sm" style="color:white;border-color: var(--need-review-color); background-color: var(--need-review-color)"
                            type="submit">
                      Use answer
                    </button>
                  </form>
                </div>
                <div class="col-12" style="margin-top: 15px"></div>
              </div>
            {% endfor %}
            {% if entry.comment %}
              <div class="row">
                <div class="col-12 px-0">
                  <div class="list-item-title"><i class="far fa-comment pr-2"></i>{{_('Comment')}}</div>
                </div>
                <div class="col-12 px-0">
                  <div class="card-text">{{ entry.comment }}</div>
                </div>
              </div>
            {% endif %}
          </div>
          {% elif entry.queue_type == 'library_only' %}
          <div class="card mobile-card">
            {% for passage in entry.passages %}
              <div class="row">
                <div class="col-md-9 col-lg-10" style="white-space: pre-wrap">{{ passage['html'] | safe}}</div>
                <div class="col-md-3 col-lg-2" style="text-align:right">
                  <form action="/remember/{{ filter['bot'] }}" method="post">
                    <input type="hidden" name="input_text" value="{{ entry.text | safe }}"/>
                    <input type="hidden" name="queue_id" value="{{ entry.id }}"/>
                    <input type="hidden" name="queue_type" value="{{ entry.queue_type }}"/>
                    <input type="hidden" name="response_text" value="{{ passage['text'] }}"/>
                    <button type="button" class="btn btn-sm" title="Copy response"
                            style="color:white;border-color: var(--need-review-color); background-color: var(--need-review-color)"
                            onclick="javascript:copyResponseText(this.form.response_text.value)">
                      <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-sm" style="color:white;border-color: var(--need-review-color); background-color: var(--need-review-color)"
                            type="submit">
                      Use answer
                    </button>
                  </form>
                </div>
                <div class="col-12" style="margin-top: 15px"></div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <script type="text/javascript">
        var editing = false;
        var textChanged = false;

        function markTextChanged() {
          textChanged = true
        }

        function editTitle(divId) {
          editing = true;
          toggleEdit(divId);
        }

        function cancelEdit(divId) {
          editing = false;
          textChanged = false
          toggleEdit(divId);
          $('#inputTextEdit').val($('#inputText').text());
        }

        function saveQuestion(divId) {
          $('#editQuestion').modal('show');
        }

        function toggleEdit(divId) {
          var idEdit = `#editTitle${ divId || '' }`;
          var idButtons = `#editTitleButtons${ divId || '' }`;
          $(idEdit).toggleClass("d-block d-none");
          $(idButtons).toggleClass("d-none d-block");
          $('#inputText').toggleClass("d-none d-block");
          $('#inputTextEdit').toggleClass("d-none d-block");
        }

        $('#saveButton').on('click', saveChanges());
        $('#saveButtonmobile').on('click', saveChanges('mobile'));

        function saveChanges(divId) {
          return function() { modifyQAText(divId); }
        }

        function modifyQAText(divId) {
          var new_text = $('#inputTextEdit').val();
          $('#inputText').text(new_text);
          $("#inputTextRemember").val(new_text);

          cancelEdit(divId);
          $('#editQuestion').modal('toggle');
        }

        function verifyResponse(form) {
          var responseOk = form.response_text.value.trim() != '';
          if (!responseOk) {
            bootbox.alert("Please write a new answer", function(result) {
              setTimeout(function() {form.response_text.focus()}, 10);
            });
          } else {
            getQueueEntryTags();
            form.tags_values.value = $("#tagsNewQa").val();
          }
          return responseOk;
        }

        function copyResponseTextId(id) {
          var responseText = $(`#${id}`).text();
          copyResponseText(responseText);
        }

        function copyResponseText(text) {
          $('#responseTextArea').val(text);
          getQueueEntryTags();
          setTimeout(function() {$('#responseTextArea').focus()}, 10);
        }

        function getQueueEntryTags() {
          var tags = {{entry.tags | tojson }};
          tags.forEach(function(tag) {
            $('#tagsNewQa').tagsinput('add', tag);
          });
        }

        window.onload = function() {
          $('a').on('click', function (e) {
            // verify changes without save
            var changesPending = false;

            changesPending = textChanged;

            var url = e.target.href;
            var titleConfirmation = "{{_('There are unsaved changes.')}}"
            var textConfirmation = "{{_('Do you want continue anyway?')}}"

            if (changesPending) {
              showConfirmModal(titleConfirmation, textConfirmation, function(status) {
                if(status){
                  window.location = url;
                }
              });
              e.preventDefault();
              return false;
            }
          });

          // Select the current tab where you are editing
          $('#myTab a[href="#{{ tab }}"]').tab('show');
        }
      </script>
        {% if entry.queue_type != 'remember' %}
        <div class="col-md-12 col-12 px-0">
          <div class="card card-body mobile-card">
            <form action="/remember/{{ filter['bot'] }}" onsubmit="return verifyResponse(this)" method="post">
              <input type="hidden" name="input_id" value="">
              <input id="inputTextRemember" type="hidden" name="input_text" value="{{ entry.text  | safe }}">
              <input type="hidden" name="queue_id" value="{{ entry.id }}">
              <input type="hidden" name="queue_type" value="{{ entry.queue_type }}"/>
              <div class="form-group">
                <textarea type="text" class="form-control" name="response_text" id="responseTextArea" rows="4" placeholder="Write a new answer.."></textarea>
              </div>
              <div class="col-12 pl-0 pr-0" style="margin-bottom:20px; margin-top:10px;">
                <input class="col-12" placeholder="Add a tag/tags..." id="tagsNewQa" type="text" data-role="tagsinput" />
                <input id="tags_values" name="tags_values" type="hidden">
              </div>
              <div class="row">
                <div class="col-12 col-md-7 col-lg-6 px-0 py-2">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 py-1 px-0">
                      <div class="card-searchs px-0" data-toggle="modal" data-target="#searchQaModal">
                        <i class="far fa-lightbulb pr-1"></i><a onclick="open_search_qa()">{{_('Search Q & A')}}</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8 py-1 px-0">
                      <div class="card-searchs">
                        <i class="fas fa-book-open pr-1"></i><a onclick="open_search_passages()">{{_('Search Library')}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5 col-lg-6 px-0 py-2">
                  <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-outline-secondary btn-outline-gray">{{_('ADD NEW ANSWER')}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          {% include 'smart-search-modal.html' %}
        </div>
        {% endif %}
        <div class="col-md-12 col-12 px-0 pt-4">
          <div class="row form-group pb-5">
            <div class="col-12">
              {% if entry.queue_type == 'remember' %}
              <div class="link-gray pt-2 pl-0 float-right my-1" onclick="close_queue_entry()">{{_('Close as resolved')}}</a></div>
              {% else %}
              <div class="link-gray pt-2 pl-0 float-right my-1" data-toggle="modal" data-target="#closeQueueModal">{{_('Close as resolved')}}</a></div>
              {% endif %}
            </div>
          </div>
        </div>
        {% include 'issue-visualize.html' %}

        <div class="modal" tabindex="-1" role="dialog" id="closeQueueModal">
          <!-- force max-width because some texts make the table overflow the modal -->
          <div class="modal-dialog modal-lg" role="document" style="max-width:600px">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title">{{_('You made no edits to this issue, leave a comment for the user:')}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="form-group col-12">
                    <textarea class="form-control edit-area" id="notification_comment" name="notification_comment" placeholder="Write your comment search..." rows="6"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12">
                    <button type="button" onclick="close_queue_entry()" class="btn btn-danger float-right">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
          $('#closeQueueModal').on('shown.bs.modal', function () {
              $('#notification_comment').focus();
          });

          initTagsInput("tagsNewQa", "{{ filter['bot'] }}")

          function close_queue_entry() {
            var bot_id = '{{ filter['bot'] }}';
            var entry_id = '{{ entry.id }}';
            // remove the '#' char at the begining
            entry_id = entry_id.replace('#', '');
            var queue_type = '{{ entry.queue_type }}';

            var dialog = bootbox.dialog({
               message: '<p class="text-center">{{_('Processing...')}}</p>',
               closeButton: false
            });

            const data = new FormData();
            data.append('notification_comment', $('#notification_comment').val());
            var url = '/issue_close/' + bot_id + '/' + entry_id + '/' + queue_type;

            fetch(url, {
                method: 'POST',
                body: data
            })
            .then(function () {
                actual_location = window.location;
                // keep queue filters and page
                window.location = '/issues/' + bot_id + actual_location.search;
            })
            .catch(reason => console.error(reason));
          };
        </script>
    </div>
    </div>

    <div class="col-0 col-md-2"></div>
  </div>
  <div class="col-0 col-md-2"></div>
</div>
</body>
{% include 'footer.html' %}
</html>

