<!doctype html>
<html>

{% with title='Issues' %}
{% include 'head.html' %}
{% endwith %}

<!--- HEADER -->
<body>
{% include 'navbar.html' %}

<div id="welcomeArea" class="row ml-0 collapse show col-12 ask-panel">
  <div class="col-0 col-md-2"></div>
  <div class="col-12 col-md-8">
    {% include 'queue-filters.html' %}
    <nav class="navbar navbar-light justify-content-between row col-md-12 col-12 p-0" style="background: #FFFFFF; border: 1px solid #F2F2F2; box-sizing: border-box;box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);border-radius: 4px;">
      {% for entry in issues %}
      <div class="row col-12 pointer p-0" onclick="javascript:display_issue('{{ filter['bot'] }}', '{{ entry.id }}', '{{ filter['quantity'] }}', '{{entry.position}}')">
        <div class="col-md-8 col-12 p-2 px-4">
          <div class="list-item-title pb-2">
            {{ entry.text | safe }}
          </div>

          <div class="row">
            <div class="list-item-detail" data-toggle="tooltip" data-placement="bottom"
                 title="{{ entry.time_ago }}">
              {% if entry.userid %}
              {{_('Created by %(name)s' , name=entry.userid) }}
              {% else %}
              {{_('Created')}}
              {% endif %}
              • {{ entry.elapsed }}
              {% if entry.tags %}
               |
              {% endif %}
            </div>
            <div>
              {% if entry.tags %}
                {% for tag in entry.tags %}
                <p class='badge badge-document badges-issues-qa'>{{ tag }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-2 col-12 p-2 px-4">
          <div class="type-description mt-3 pb-2">{{ entry.type_description }}</div>
        </div>
        <div class="col-md-6 col-xl-2 col-12 p-2 px-4 padding-right-chips-alignment">
          {% if entry.status %}
            <span class="badge badge-pill list-item-badge issue-resolved float-desk-mobile ellipsis">{{_('Resolved')}}</span>
          {% else %}
            <span class="badge badge-pill list-item-badge issue-unresolved float-desk-mobile ellipsis">{{_('Unresolved')}}</span>
          {% endif %}
        </div>
      </div>
      <div class="row col-md-12 col-12 separator"></div>
      {% endfor %}
    </nav>
    {% include 'pagination.html' %}
  </div>
  <div class="col-0 col-md-2"></div>
</div>

</body>
{% include 'footer.html' %}
</html>

