<link rel="stylesheet" href="/static/css/visualize/visualize.css">

<div class="modal" tabindex="-1" role="dialog" id="visualizeQaModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_('Visualize AI logic')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="visualizeQaBody"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function visualize_issue(queue_id) {
    var id = queue_id.replace('#', '');
    $('#visualizeQaBody').html('');
    $('#visualizeQaModal').modal('toggle');
    $('body').css('cursor', 'wait');
    $.ajax({ url: '/visualize_issue/{{ filter['bot'] }}/' + id})
      .done(function (visualization_data) {
        $('#visualizeQaBody').html(visualization_data);
        $('body').css('cursor', 'auto');
      });
  }
</script>
