<!doctype html>
<html>

{% with title='Library' %}
{% include 'head.html' %}
{% endwith %}

<!--- HEADER -->
<body>
{% include 'navbar.html' %}

<div id="welcomeArea" class="row ml-0 collapse show col-12 ask-panel">
  <div class="col-0 col-md-2"></div>
  <div class="col-12 col-md-8">
    {% include 'library-filters.html' %}
  <nav class="navbar navbar-light justify-content-between row col-md-12 col-12 p-0" style="background: #FFFFFF; border: 1px solid #F2F2F2; box-sizing: border-box;box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);border-radius: 4px;">
    {% for doc in library %}
    <div class="row col-12 pointer p-0" onclick="javascript:displayDocument('{{ filter['bot'] }}', '{{ doc.doc_id }}', '{{ filter['quantity'] }}', '{{doc.position}}')">
      <div class="col-md-10 col-12 p-2 px-4">
        <div class="list-item-title pb-2"> {{ doc['title'] }}</div>
        <div class="list-item-detail pb-2">
          {% if doc.uploaded_by %}
            {{_('Uploaded by')}} {{ doc.uploaded_by }},
          {% endif %}
          {% if doc.uploaded %}
            {{ doc.uploaded_label }} •
          {% endif %}
          {{ doc.passages_count}} {{_('Passages')}}
        </div>
      </div>
      <div class="col-md-2 col-12 p-2 px-4">
        <span class="badge badge-pill list-item-badge badge-{{ doc.status.style }} float-desk-mobile ellipsis">{{ doc.status.label }}</span>
      </div>
    </div>
    <div class="row col-md-12 col-12 separator"></div>
    {% endfor %}
  </nav>
    {% include 'new-file-modal.html' %}
    {% include 'new-file-from-gdrive.html' %}
    {% include 'new-file-from-dropbox.html' %}
    {% include 'pagination.html' %}
  </div>
  <div class="col-0 col-md-2"></div>
</div>

</body>
{% include 'footer.html' %}
</html>

