<!-- FILTERS -->
<script type="text/javascript">
  setTimeout(function() {
    $('#alert-msg').hide();
  }, 7000);
</script>

<div class="row">
  <div class="col-12 col-md-6 px-0">
    <div class="popular-questions-title ml-0">{{ _('Library') }}</div>
    <div class="popular-questions-counter mb-4">
      {{ngettext('You have %(num)s entry', 'You have %(num)s entries', filter['quantity']) }}
    </div>
  </div>
  <div class="col-12 col-md-6 p-0">
    {% if has_permission(filter['bot'], PERM_MODIFY_LIBRARY) %}
    <div class="dropdown dropdown-addfiles float-desk-mobile">
      <button class="btn btn-outline-ingestor dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus pr-2"></i> {{_('ADD FILES')}}
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item nowrap" href="javascript:openNewFilesModal()"><i class="fas fa-upload"></i> {{_('Upload file')}}</a>
        <a class="dropdown-item nowrap" href="javascript:pickFromGoogle()"><i class="fab fa-google-drive"></i> {{_('From GDrive')}}</a>
        <a class="dropdown-item nowrap" href="javascript:Dropbox.choose(dropbox_options)"><i class="fab fa-dropbox"></i> {{_('From Dropbox')}} </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light justify-content-between row col-md-12 col-xs-12 pl-0 pr-0" style="background: #FFFFFF;
      border: 1px solid #F2F2F2; box-sizing: border-box;box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);border-radius: 4px;">
  <form class="my-2 my-lg-0 row col-md-12 col-12 pl-0">
    <div class="col-md-6 col-12 vertical-align-by-margin">
      <div class="inner-addon left-addon">
        <i class="fas fa-search"></i>
        <input class="form-control mr-sm-2 search-input" type="search" placeholder="{{_('Search for an entry')}}" value="{{ filter['text'] }}" onchange="set_search(this.value)">
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="btn-group float-desk-mobile">
        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownTime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['days'] == 1 %}
            {{_('Today')}}
            {% elif filter['days'] == 7 %}
            {{_('Past Week')}}
            {% elif filter['days'] == 30 %}
            {{_('Past Month')}}
            {% elif filter['days'] == 365 %}
            {{_('Past Year')}}
            {% else %}
            {{_('Any time')}}
            {% endif %}
          </button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTime">
            <a class="dropdown-item" href="javascript:set_since('9999')">{{_('Any time')}}</a>
            <a class="dropdown-item" href="javascript:set_since('1')">{{_('Today')}}<span class="badge badge-light"></span></a>
            <a class="dropdown-item" href="javascript:set_since('7')">{{_('Past Week')}}<span class="badge badge-light"></span></a>
            <a class="dropdown-item" href="javascript:set_since('30')">{{_('Past Month')}}<span class="badge badge-light"></span></a>
            <a class="dropdown-item" href="javascript:set_since('365')">{{_('Past Year')}}<span class="badge badge-light"></span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if filter['direction'] == '1' %} active {% endif %}" href="javascript:set_direction(1)">{{_('Ascending')}}</a>
            <a class="dropdown-item {% if filter['direction'] == '-1' %} active {% endif %}" href="javascript:set_direction(-1)">{{_('Descending')}}</a>
          </div>
        </div>

        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['statuses'].get(filter['doc_status']) %}
              {{ filter['statuses'].get(filter['doc_status']) }}
            {% else %}
              {{_('Any status')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownStatus">
            <a class="dropdown-item" href="javascript:set_doc_status('')">{{_('Any status')}}</a>
            {% for key, value in filter['statuses'].items() %}
            <a class="dropdown-item" href="javascript:set_doc_status('{{ key }}')">{{ value }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </form>
</nav>

{% if msg %}
<div class="col-12">
  <div id="alert-msg" class="alert alert-primary alert-dismissible fade show py-1" role="alert">{{ msg }}</div>
</div>
{% endif %}