<!--- HEADER -->
<style type="text/css">
  .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  font-feature-settings: 'kern' off;
  /* Ingestor Gray 4 */
  color: #808080;
  }

  .navbar-toggler {
    border-color: transparent !important;
  }


</style>
<script>
  $(function() {
  // ------------------------------------------------------- //
  // Multi Level dropdowns
  // ------------------------------------------------------ //
  $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
    event.preventDefault();
    event.stopPropagation();

    $(this).siblings().toggleClass("show");
    if (!$(this).next().hasClass('show')) {
      $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
    }
    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
      $('.dropdown-submenu .show').removeClass("show");
    });
  });
});
</script>
<nav id="cuNavbar" class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
  {% if filter['user_role'] %}
    <img id="botAvatar" class="navbar-icon"/>
    {% else %}
    <img onclick="javascript:window.location='/'" src="/static/images/full-logo.svg" style="width:180px;height:32px;"/>
    {% endif %}
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="padding-top: 10px;">
      {% if filter['bot'] %}

      {% if has_permission(filter['bot'], PERM_VIEW_ISSUES) %}
      <li class="nav-item {% if 'issues' == page %} active {% endif %}">
        <a class="nav-link" href="/issues/{{ filter['bot'] }}?solved=no">{{_('Issues')}}</a>
      </li>
      {% endif %}

      {% if has_permission(filter['bot'], PERM_VIEW_QA) and filter['question_search'] %}
      <li class="nav-item {% if 'questions' == page %} active {% endif %}">
        <a class="nav-link" href="/questions/{{ filter['bot'] }}">{{_('Q & A')}}</a>
      </li>
      {% endif %}

      {% if has_permission(filter['bot'], PERM_VIEW_LIBRARY) and filter['library_search'] %}
      <li class="nav-item {% if 'library' == page %} active {% endif %}">
        <a class="nav-link" href="/library/{{ filter['bot'] }}">{{_('Library')}}</a>
      </li>
      {% endif %}

      {% if has_permission(filter['bot'], PERM_VIEW_DASHBOARD) %}
      <li class="nav-item {% if 'dashboard' == page %} active {% endif %}">
        <a class="nav-link" href="/dashboard/{{ filter['bot'] }}">{{_('Dashboard')}}</a>
      </li>
      {% endif %}

      {% if has_permission(filter['bot'], PERM_VIEW_DASHBOARD) %}
      <li class="nav-item {% if 'ontologies' == page %} active {% endif %}">
        <a class="nav-link" href="/ontologies/{{ filter['bot'] }}">{{_('Ontologies')}}</a>
      </li>
      {% endif %}

      {% if has_permission(filter['bot'], PERM_MODIFY_SETTINGS) %}
      <li class="nav-item  {% if 'settings' == page %} active {% endif %}">
        <a class="nav-link" href="/settings/{{ filter['bot'] }}">{{_('Settings')}}</a>
      </li>
      {% endif %}
      {% endif %}
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a id="notificationItem" class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell" style="vertical-align: sub">
            <div id="newNotificationMark" class="new-notification"></div>
          </i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationItem">
          <div class="notification-label">{{_('NOTIFICATIONS')}}</div>
          <div class="separator mt-2"></div>
          <div id="notificationDropDown" class="notification-section"></div>
          <a class="notification-label pointer" onclick="markAllAsRead('{{ filter['bot'] }}')" style="color: #154080;">{{_('MARK ALL AS READ')}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="white-space: nowrap;">
          <div id="userAvatar" class="navbar-avatar"></div>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          {% if current_user.get_bots() | length > 1 %}
          <li><a class="dropdown-item" href="/instances">{{_('My Instances')}}</a></li>
          {% endif %}
          {% if  filter['bot'] %}
          <li><a class="dropdown-item" href="/user-history/{{ filter['bot'] }}?since=7">{{_('My Activity')}}</a></li>
          {% endif %}
          {% if has_permission(filter['bot'], PERM_MODIFY_USER_SETTINGS) %}
            <li><a class="dropdown-item" href="/user-settings/{{ filter['bot'] }}">{{_('My Settings')}}</a></li>
          {% endif %}
          {% if current_user.is_ingestor_user %}
          <li>
            <a class="dropdown-item" href="/enterprise-dashboard?since=30">{{_('Enterprise Dashboard')}}</a>
          </li>
          <li>
            <a class="dropdown-item" href="/instances-manager">{{_('Instance Manager')}}</a>
          </li>
          {% endif %}
          <li class="dropdown-submenu dropleft">
            <a class="dropdown-item dropdown-toggle" style="cursor: pointer; color:#4F4F4F;" id="languages-menu" aria-expanded="false" data-toggle="dropdown">{{_('Languages')}}</a>
            <ul  aria-labelledby="languages-menu" id="languages-dropdown" class="dropdown-menu border-0">
            </ul>
          </li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">{{_('Logout')}}</a></li>
        </ul>
      </li>
      {% else %}
          {% if not page in ['home', 'register'] %}
          <li class="nav-item">
            <a class="nav-link" href="/request_login">{{_('Login')}}</a>
          </li>
          {% endif %}
        {% endif %}
    </ul>
  </div>
</nav>

<script type="text/javascript">
  function getLanguages() {
    $.get("/get-languages/", function(data){
      for (i=0; i<data.length; i++) {
          $("#languages-dropdown").append('<li class="dropdown-item" ><a  href="javascript:changeLanguage(\''+ data[i].value +'\')">'+ data[i].name+'</a>');
      }
    });
  }
  var notications = ''

  function displayNotifications() {
    $.get("/get_notifications", function(data) {
      if (data.pending > 0) {
        $('#newNotificationMark').css('display', 'block' );
      }
      var dropItems = "";
      data.notifications_data.forEach(function(element) {
        dropItems += notificationHtml(element['notification_id'], element['subject'] , element['body']);
      });
      $("#notificationDropDown").html(dropItems);
      $('#notificationDropDown').dropdown();
    });
  }

  function getBotConfig(){
    {% if filter['bot'] %}
      let botConfig = {{ get_bot_config(filter['bot']) | tojson }}

      if(!(botConfig === undefined)) {
        $("#botAvatar").attr("src", botConfig['botAvatarUrl']);
          if (botConfig['botSecureContent']) {
            document.addEventListener('contextmenu', function (event) {
              event.preventDefault();
            });
            $('html').bind('cut copy', function (event) {
              event.preventDefault();
            });
          }
        $('#botAvatar').click(function () {
          if (botConfig['botDestinationUrl']) {
              window.location=botConfig['botDestinationUrl']
            }
        });
      }
    {% endif %}
  }

  function notificationHtml(id, subject, body) {
    return `
      <a class="dropdown-item" onclick="window.location='/display_notification/${id}'">
        <b>${subject}</b><br/>${body}
      </a>
      <div class="separator"></div>`
  }

  function markAllAsRead(bot_id) {
    $.get("/mark_all_notification/" + bot_id, function(data) {
      $('#newNotificationMark').css('display', 'none' );
    });
  }

  function getUserPreferences() {
    // bot is sent as a parameter because is not available on all the pages
    $.get("/get_user_preferences/?bot={{ filter['bot'] }}", function(data) {
      if (data['accept-cookies'] == undefined) {
        $("#cookies-overlay").show();
        $("#cookies-msg").show();
      } else {
        // do not show the tour if the user has not accepted the cookies
        if (data['tour-completed'] == undefined) {
          // if we have in the ask page and a question is not set
          // as a parameter, start the tour
          if (window.location.href.indexOf('/ask-page/') > -1 && window.location.href.indexOf('question=') == -1) {
            document.getElementById('tour_button').click();
          }
        }
      }
      var displayName = data['display-name'] ? "Hey " + data['display-name'] : data['email'];
      displayName = displayName ? displayName : data['phone-number']

      $("#userAvatar").attr("src", );
      $("#userAvatar").css('background-image', 'url(' + (data['avatar-url'] || '/static/images/empty-avatar.jpg') + ')');
    });
  }

  function acceptCookies() {
    $.get("/accept_cookies", function( data ) {
      $("#cookies-overlay").hide();
      $("#cookies-msg").hide();
    });
  }

  function changeLanguage(language) {
    $.ajax({ url: '/change-language/' + language})
      .done(function () {
        window.location.reload(false);
      });
  }
  {% if current_user.is_authenticated %}
  $(document).ready(function() {
    displayNotifications();
    getLanguages();
    getUserPreferences();
    getBotConfig();
  });
  {% endif %}
</script>

{% include 'cookies_message.html' %}
