<style>
  #smart-search-close-button {
    display: none !important
  }
  .borderless-input {
    border: 0px;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
  }

  @media (min-width: 576px) {
    #newQaModal .modal-dialog {
      min-width: 1220px;
      margin: 1.75rem auto;
    }
  }

  #newQaModal .modal-header {
    border-bottom: 0px;
  }

  #newQaModal .modal-footer {
    border-top: 0px;
  }
</style>

<div class="modal" tabindex="-1" role="dialog" id="newQaModal">
  <form  id="remember-form"  method="post" class="box__form">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="add-qa-title" class="modal-title">{{_('Add new question-answer pair')}}</h5>
          <div id="back-button" class="popular-questions-counter" style="cursor: pointer; align-items: center; display: flex; display:none" onclick="showNewQA()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{_('Back to add new Q&A pair')}}
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #6c757d;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="new-qa-content">
            <div class="form-group">
              <input id="input_text" type="text" class="form-control borderless-input" name="input_text" autocomplete="off" placeholder="{{_('Enter a question...')}}">
            </div>
            <div class="form-group">
              <textarea id="responseTextArea" class="form-control" name="response_text" rows="6" placeholder="{{_('Enter the answer...')}}"></textarea>
            </div>
            <div class="col-12 pl-0 pr-0" style="margin-bottom:20px; margin-top:10px;">
              <input class="col-12" placeholder="Search tag or tags" id="tagsNewQa" type="text" data-role="tagsinput" />
              <input id="tags_values" name="tags_values" type="hidden">
            </div>
            <div id="error" class="alert alert-danger d-none" role="alert">{{_('There are one or more empty fields. Fill them and try again.')}}</div>
            <div class="row" id="search-buttons">
              <ul class="nav" id="myTab" role="tablist">
                <li id="qa" class="nav-item">
                  <a onclick="open_search_qa()"  style="cursor:pointer;"  class="nav-link smart-search-tab p-0 pr-4 "  role="link" >
                    <i class="far fa-lightbulb pr-1"></i> {{_('Search Q & A')}} <div id="searchQABar" class="smart-search-tab-bar"></div>
                  </a>
                </li>
                <li id="library" class="nav-item">
                  <a onclick="open_search_passages()"  style="cursor:pointer;"  class="nav-link smart-search-tab p-0"  role="link" >
                    <i class="fas fa-book-open pr-1"></i> {{_('Search Library')}}<div id="searchLibrary" class="smart-search-tab-bar"></div>
                  </a>
                </li>
                <li class="d-block d-sm-none">
                  <!-- TODO: this will change for sure. -->
                  <button type="button" class="close d-flex justify-content-end mobile-close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary btn-outline-gray" onclick="validateQA()">{{_('ADD')}}</button>
            </div>
          </div>
          <div class="row" id="smart-search-content" style="display:none">
            {% include 'smart-search-content.html' %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  initTagsInput("tagsNewQa", "{{ filter['bot'] }}")


  $('#newQaModal').on('hidden.bs.modal', function () {
    showNewQA();
});

  function showSmartSearch() {
    $('#smart-search-content').show();
    $('#search-buttons').hide();
    $('#add-qa-title').hide();
    $('#new-qa-content').hide();
    $('#back-button').show();
  }

  function showNewQA() {
    $('#smart-search-content').hide();
    $('#search-buttons').show();
    $('#add-qa-title').show();
    $('#new-qa-content').show();
    $('#back-button').hide();
    $('#input_text').focus();
  }

  function open_search(type) {
    activeTab = type;
    showSmartSearch();
  }

  function open_search_qa() {
    open_search('qa')
    $('#library-search').removeClass( "active" );
    $('#qa-search').addClass( "active show" );
    $('#s-search-library').removeClass( "active" );
    $('#s-search-qa').addClass( "active show" );
    $('#tags-new-qa').hide();
    $('#text_search').focus();
  }
  function open_search_passages() {
    open_search('library')
    $('#qa-search').removeClass( "active" );
    $('#library-search').addClass( "active show" );
    $('#s-search-qa').removeClass( "active" );
    $('#s-search-library').addClass( "active show" );
    $('#tags-new-qa').hide();
    $('#text_search').focus();
  }

  function useAsResponse(event) {
    var resposeTags;
    event.preventDefault();
    if (activeTab == 'qa') {
      resposeTags = use_response();
    } else {
      resposeTags = use_passages();
    }

    resposeTags.forEach(function(tag) {
        $('#tagsNewQa').tagsinput('add', tag);
    });
    showNewQA();
  }

  function validateQA() {
    if ($('#input_text').val() != '' && $('#responseTextArea').val() != '') {
        let qaData = {
          'input_text': $('#input_text').val(),
          'response_text': $('#responseTextArea').val(),
          'tags_values': $("#tagsNewQa").val()
        }

        $("#newQaModal").on("hidden.bs.modal", function(){
            $('#input_text').val("");
            $('#responseTextArea').val("");
            $('#tagsNewQa').tagsinput('removeAll');
            $(error).addClass('d-none');
        });

        $.ajax({
          url: '/remember/{{ filter['bot'] }}',
          method: 'POST',
          data: qaData
        })
        setTimeout(function() {
          $("#newQaModal").hide()
          window.location = '/questions/{{ filter["bot"] }}';
        }, 10000);

    } else {
        $(error).removeClass('d-none');
    }
  }

  $('#newQaModal').on('shown.bs.modal', function () {
    $('#input_text').focus();
  });

  $("#newQaModal").on("hidden.bs.modal", function(){
    $('#input_text').val("");
    $('#responseTextArea').val("");
    $('#tagsNewQa').tagsinput('removeAll');
    $(error).addClass('d-none');
  });

  $("#input_text").keyup(function(){
    $(error).addClass('d-none');
  });

  $("#responseTextArea").keyup(function(){
    $(error).addClass('d-none');
  });
</script>