<style>
    .borderless-input {
      border: 0px;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid lightgray;
      border-radius: 0px;
    }

    @media (min-width: 576px) {
        #newFileModal .modal-dialog {
            max-width: 750px;
            margin: 1.75rem auto;
        }
    }

    #newFileModal .modal-header {
        border-bottom: 0px;
    }

    #newFileModal .modal-footer {
        border-top: 0px;
    }

    .box {
        font-size: 1.25rem; /* 20 */
        background-color: white;
        position: relative;
        padding: 100px 20px;
    }
    .box.has-advanced-upload {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;

        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
    }

    .box.is-dragover {
        outline-offset: -20px;
        outline-color: #c8dadf;
        background-color: #fff;
    }
    .box__dragndrop {
        display: none;
    }
    .box.has-advanced-upload .box__dragndrop {
        display: inline;
    }

    .box.is-uploading .box__input,
    .box.is-success .box__input,
    .box.is-error .box__input {
        visibility: hidden;
    }

    .box__uploading,
    .box__success,
    .box__error {
        display: none;
    }

    .box.is-uploading .box__uploading,
    .box.is-success .box__success,
    .box.is-error .box__error {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;

        -webkit-transform: translateY( -50% );
        transform: translateY( -50% );
    }

    .box__uploading {
        font-style: italic;
    }

    .box__success {
        -webkit-animation: appear-from-inside .25s ease-in-out;
        animation: appear-from-inside .25s ease-in-out;
    }

    @-webkit-keyframes appear-from-inside
    {
        from { -webkit-transform: translateY( -50% ) scale( 0 ); }
        75% { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
        to { -webkit-transform: translateY( -50% ) scale( 1 ); }
    }

    @keyframes appear-from-inside
    {
        from { transform: translateY( -50% ) scale( 0 ); }
        75% { transform: translateY( -50% ) scale( 1.1 ); }
        to { transform: translateY( -50% ) scale( 1 ); }
    }

    .box__restart {
        font-weight: 700;
    }

    .box__restart:focus,
    .box__restart:hover {
        color: #39bfd3;
    }

    .box__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .box__file + label {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        text-align: center;
    }

    .box__file + label:hover strong,
    .box__file:focus + label strong,
    .box__file.has-focus + label strong {
        color: #39bfd3;
    }

    .box__file:focus + label,
    .box__file.has-focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    .box__file + label * {
        /* pointer-events: none; */ /* in case of FastClick lib use */
    }
</style>

<div class="modal" tabindex="-1" role="dialog" id="newFileModal" data-backdrop="static" data-keyboard="false">
    <form action="/upload_document/{{ filter['bot'] }}" id="new-file-form" enctype="multipart/form-data"  method="post" class="box__form">
        <input type="hidden" id='update_doc_id' name='update_doc_id'/>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newFileModalTitle"></h5>
                    <button id="cross-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="doc_url" type="text" class="form-control borderless-input" name="doc_url" placeholder="{{_('Select file URL...')}}">
                    </div>
                    <div id="error-file" class="alert alert-danger alert-dismissible fade d-none" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="box">
                        <div class="box__input">
                            <input type="file" name="files" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple onchange="verifyExt(this.files)"/>
                            <label id="fileLabel" for="file">{{_('or Choose one or more files')}}</label>
                        </div>
                        <div class="box__uploading">{{_('Uploading&hellip;')}}</div>
                        <div class="box__success">{{_('Done!')}} <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?submit-on-demand" class="box__restart" role="button">{{_('Upload more?')}}</a></div>
                        <div class="box__error">{{_('Error!')}} <span></span>. <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?submit-on-demand" class="box__restart" role="button">{{_('Try again!')}}</a></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-btn" type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{_('Cancel')}}</button>
                    <button id="add-btn" type="submit" class="btn btn-success" >{{_('Add')}}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    function openNewFilesModal() {
        $('#newFileModalTitle').html("{{ _('Add Files to Library') }}");
        $('#update_doc_id').val('');
        $('#newFileModal').modal();
    }

    function openUpdateFileModal(doc_id) {
        $('#newFileModalTitle').html("{{ _('Add a new version of the document') }}");
        $('#update_doc_id').val(doc_id);
        $('#newFileModal').modal();
    }

    function verifyExt(files) {
        var files_not_upload = "{{_('You can\'t upload')}}";
        var invalid_files = [];
        for (let i = 0; i < files.length; i++) {
            var file = files[i];
            if(!checkFile(file.name)) {
                // the space is to show it in the error message
                invalid_files.push(" " + file.name);
            }
        }

        if(invalid_files.length > 0) {
            $("#error-file").addClass('d-block show');
            $('#add-btn').attr("disabled", true);
            $("#error-file").text(files_not_upload + invalid_files.toString() + ".");
        } else {
            $('#add-btn').attr("disabled", false);
            $("#error-file").removeClass('d-block show');
        }
    }

    function checkFile(filename) {
        var extension = filename.substr((filename.lastIndexOf('.') +1));
        return !/(exe|sh|bin|bat|com|deb|zip|cmd)$/ig.test(extension);
    }

    $('#new-file-form').on( "submit", function(e) {
        $("#cross-btn").attr("disabled", true);
        $("#cancel-btn").attr("disabled", true);
        $("#add-btn").attr("disabled", true);
        $("#doc_url").attr("readonly", true);
        $("#file").attr("readonly", true);
    });

    $('#newFileModal').on('shown.bs.modal', function () {
        $('#doc_url').focus();
    });

    $('#newFileModal').on('hidden.bs.modal', function () {
        $("#file").val(null);
        $('#fileLabel').text('or Choose one or more files');
        $('#add-btn').attr("disabled", true);
        $("#error-file").removeClass('d-block show');
    });

    'use strict';

    (function( $, window, document, undefined ) {
        // feature detection for drag&drop upload

        var isAdvancedUpload = function() {
            var div = document.createElement( 'div' );
            return ( ( 'draggable' in div ) || ( 'ondragstart' in div && 'ondrop' in div ) ) && 'FormData' in window && 'FileReader' in window;
        }();

        // applying the effect for every form

        $('.box__form').each(function() {
            var $form = $( this ),
                $box = $form.find('.box'),
                $input = $form.find('input[type="file"]'),
                $label = $form.find('label'),
                $errorMsg = $form.find('.box__error span'),
                $restart = $form.find('.box__restart'),
                droppedFiles = false,
                showFiles = function(files) {
                    var filenames = '';
                    for (var i = 0; i < files.length; i++) {
                        filenames += files[i].name + ' ';
                    }
                    $label.text( filenames );
                };

            // automatically submit the form on file select
            $input.on('change', function(e) {
                showFiles(e.target.files);
            });

            // drag&drop files if the feature is available
            if( isAdvancedUpload ) {
                $box.addClass('has-advanced-upload').on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
                    // preventing the unwanted behaviours
                    e.preventDefault();
                    e.stopPropagation();
                }).on('dragover dragenter', function() {
                    $form.addClass( 'is-dragover' );
                }).on('dragleave dragend drop', function() {
                    $form.removeClass( 'is-dragover' );
                }).on( 'drop', function( e ) {
                    droppedFiles = e.originalEvent.dataTransfer.files;
                    verifyExt(droppedFiles);
                    // the files that were dropped
                    showFiles( droppedFiles );
                });
            }

            $form.on('submit', function(e) {
                // verify if will send answer and question or a file
                if (droppedFiles && droppedFiles.length > 0) {
                    const data = new FormData();
                    for (const file of droppedFiles) {
                        data.append('files', file);
                    }
                    data.append('update_doc_id', $('#update_doc_id').val());

                    fetch("/upload_document/{{ filter['bot'] }}", {
                        method: 'POST',
                        body: data
                    })
                    .then(function () {
                        window.location.reload();
                        console.log("file uploaded")})
                    .catch(reason => console.error(reason));
                    return false;
                }

                if (this.files.files.length == 0 && !this.doc_url.value) {
                    return false;
                } else {
                    return true;
                }
            });

            $restart.on( 'click', function( e ) {
                e.preventDefault();
                $form.removeClass( 'is-error is-success' );
                $input.trigger( 'click' );
            });

            // Firefox focus bug fix for file input
            $input
            .on( 'focus', function(){ $input.addClass( 'has-focus' ); })
            .on( 'blur', function(){ $input.removeClass( 'has-focus' ); });
        });

    })( jQuery, window, document );

</script>

