
    <!-- The Google API Loader script. -->
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

    <script type="text/javascript">

    // The Browser API key obtained from the Google API Console.
    var developerKey = "{{ google_client_data['developer_key']}}";
    var appId = "{{ google_client_data['google_app_id'] }}";

    var clientId = "{{ google_credentials['client_id'] }}";

    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive.readonly'];

    var pickerApiLoaded = false;
    var oauthToken = undefined;

    // Use the Google API Loader script to load the google.picker script.
    function loadPicker() {
      $.ajax({url: "/get_google_credentials/"})
          .done(function(credentials) {
            oauthToken = credentials['token'];
            if (oauthToken == undefined) {
              window.location = '/enable_google_drive?bot_name={{ filter['bot'] }}';
            } else {
              gapi.load('picker', {'callback': onPickerApiLoad});
            }
      });

    }

    function onPickerApiLoad() {
      pickerApiLoaded = true;
      createPicker();
    }


    // Create and render a Picker object for searching images.
    function createPicker() {
      if (pickerApiLoaded && oauthToken) {
        var view = new google.picker.View(google.picker.ViewId.DOCS);
        //view.setMimeTypes("image/png,image/jpeg,image/jpg");
        var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(appId)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
         picker.setVisible(true);
      }
    }

    // A simple callback implementation.
    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        var fileIds = '';
        for(var i=0; i < data.docs.length; i++) {
            fileIds = fileIds + data.docs[i].id + ',';
        };
        var waitMessage = 'Processing file...';
        if (data.docs.length > 1) {
            waitMessage = 'Processing ' + data.docs.length + ' files...';
        };

        var dialog = bootbox.dialog({
           message: '<p class="text-center">' + waitMessage + '</p>',
           closeButton: false
        });
        window.location = '/upload_from_gdrive/{{ filter['bot'] }}/' + fileIds;
      }
    }

    function pickFromGoogle() {
      loadPicker();
    }

    window.onload = function () {
        // when returns from authentication, have this parameter
        if (window.location.search.substr(1) == 'openPicker') {
            loadPicker();
        }
    }

    </script>

    <div id="result"></div>

