<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="{{ dropbox_credentials['app_key'] }}"></script>


<script type="text/javascript">

    dropbox_options = {

        // Required. Called when a user selects an item in the Chooser.
        success: function(files) {
            var file_list  ='';
            for (var i=0; i<files.length; i++) {
                file_list = file_list + files[i].link + ','
            }
            file_list = file_list.substr(0, file_list.length -1);

            var waitMessage = 'Processing file...';
            if (files.length > 1) {
                waitMessage = 'Processing ' + files.length + ' files...';
            };

            var dialog = bootbox.dialog({
               message: '<p class="text-center">' + waitMessage + '</p>',
               closeButton: false
            });
            window.location = '/upload_document/{{ filter['bot'] }}?origin=dropbox&doc_url=' + file_list;
        },

        // Optional. Called when the user closes the dialog without selecting a file
        // and does not include any parameters.
        cancel: function() {

        },

        // Optional. "preview" (default) is a preview link to the document for sharing,
        // "direct" is an expiring link to download the contents of the file. For more
        // information about link types, see Link types below.
        linkType: "direct", // "preview" or "direct"

        // Optional. A value of false (default) limits selection to a single file, while
        // true enables multiple file selection.
        multiselect: true, // or true

        // Optional. This is a list of file extensions. If specified, the user will
        // only be able to select files with these extensions. You may also specify
        // file types, such as "video" or "images" in the list. For more information,
        // see File types below. By default, all extensions are allowed.
        // extensions: ['.pdf', '.doc', '.docx'],

        // Optional. A value of false (default) limits selection to files,
        // while true allows the user to select both folders and files.
        // You cannot specify `linkType: "direct"` when using `folderselect: true`.
        folderselect: false, // or true

        // Optional. A limit on the size of each file that may be selected, in bytes.
        // If specified, the user will only be able to select files with size
        // less than or equal to this limit.
        // For the purposes of this option, folders have size zero.
        // sizeLimit: 1024, // or any positive number
    };

</script>
