<!doctype html>
<html>

{% with title='Ontologies' %}
{% include 'head.html' %}
{% endwith %}

<body>

    {% include 'navbar.html' %}

    <div id="app">
        <div class="container row col-12" id="ontologiesABM">
            <div class="col-0 col-md-2"></div>
            <div class="dashboard-card col-12 col-md-8 px-0">
                <div class="card-body shadow bg-white m-2">
                    <v-card-title>
                        {{_('Instance Ontologies')}}
                        <v-spacer></v-spacer>
                        <v-text-field v-model="searchOntologies" append-icon="mdi-magnify" label="{{_('Search')}}"
                            single-line hide-details></v-text-field>
                    </v-card-title>
                    <v-data-table :sort-by.sync="sortByOntology" :sort-desc.sync="sortDescOntology"
                        :footer-props="footer_props" :headers="headersOntology" :items="ontologyTableEntries"
                        :search="searchOntologies" class="elevation-1">
                        <template v-slot:item.ontology="{ item }">
                            <v-chip :color="getRGBAColor(item.color)" dark>[[item.ontology]]</v-chip>
                        </template>
                        <template v-slot:footer.page-text="items"> [[ items.pageStart ]] - [[ items.pageStop ]]
                            {{_('of')}} [[ items.itemsLength ]] </template>
                    </v-data-table>
                    <v-card-title>
                        {{_('Synonym table')}}
                        <v-spacer></v-spacer>
                        <v-text-field v-model="searchSynonyms" append-icon="mdi-magnify" label="{{_('Search')}}"
                            single-line hide-details></v-text-field>
                    </v-card-title>
                    <v-data-table :sort-by.sync="sortBySynonym" :sort-desc.sync="sortDescSynonym"
                        :footer-props="footer_props" :headers="headersSynonyms" :items="synonymTableEntries"
                        :search="searchSynonyms" class="elevation-1">
                        <template v-slot:item.ontology="{ item }">
                            <v-chip :color="getRGBAColor(item.color)" dark>[[item.ontology]]</v-chip>
                        </template>
                        <template v-slot:footer.page-text="items"> [[ items.pageStart ]] - [[ items.pageStop ]]
                            {{_('of')}} [[ items.itemsLength ]] </template>

                    </v-data-table>
                </div>
            </div>
        </div>
    </div>



    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                headersSynonyms: [{
                        text: "{{_('Main word')}}",
                        align: 'start',
                        sortable: true,
                        value: 'main_word',
                    },
                    {
                        text: "{{_('Synonym')}}",
                        value: 'synonym'
                    },
                    {
                        text: "{{_('Ontology')}}",
                        value: 'ontology'
                    },
                ],
                headersOntology: [{
                        text: "{{_('Ontology')}}",
                        align: 'start',
                        sortable: true,
                        value: 'ontology',
                    },
                    {
                        text: "{{_('Description')}}",
                        value: 'description'
                    }
                ],
                footer_props: {
                    'items-per-page-options': [20],
                    'items-per-page-text': null,
                    'disable-items-per-page': true,
                },
                searchSynonyms: '',
                searchOntologies: '',
                synonymTableEntries: [],
                ontologyTableEntries: [],
                sortByOntology: 'ontology',
                sortBySynonym: 'main_word',
                sortDescOntology: false,
                sortDescSynonym: false
            },
            methods: {
                getOntologies() {
                    const vm = this
                    var tables = []
                    axios.get('/get_ontologies/{{ filter["bot"] }}')
                        .then(function (response) {
                            console.log(response)
                            for (let ontology in response.data) {
                                vm.ontologyTableEntries.push({
                                    ontology: response.data[ontology].name,
                                    description: response.data[ontology].description,
                                    color: response.data[ontology].color
                                })
                                for (let main_word in response.data[ontology].terms) {
                                    let all_synonyms = []
                                    for (let synonym in response.data[ontology].terms[main_word].synonyms) {
                                        let synonym_text = response.data[ontology].terms[main_word]
                                            .synonyms[
                                                synonym];
                                        if (synonym_text != response.data[ontology].terms[main_word]
                                            .preferred_term) {
                                            all_synonyms.push(synonym_text)
                                        }
                                    }
                                    vm.synonymTableEntries.push({
                                        ontology: response.data[ontology].name,
                                        color: response.data[ontology].color,
                                        main_word: response.data[ontology].terms[main_word]
                                            .preferred_term,
                                        synonym: all_synonyms.join(', ')
                                    })
                                }
                            }
                        })
                },
                getRGBAColor(hex) {
                    var c;
                    if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
                        c = hex.substring(1).split('')
                        if (c.length == 3) {
                            c = [c[0], c[0], c[1], c[1], c[2], c[2]]
                        }
                        c = '0x' + c.join('');
                        return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',0.8)'
                    }
                }
            },
            created: function () {
                this.getOntologies()
            }
        })
    </script>
</body>
{% include 'footer.html' %}

</html>