<!-- PAGINATION -->
<div class="d-flex justify-content-center mt-4">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      {% for page in filter['pages'] %}
        {% if page == 'prev' %}
        <button type="button" onclick="set_page({{ filter['active_page'] - 10 }})" class="btn btn-outline-secondary sm-button"><i class='fa fa-arrow-left'></i></button>
        {% elif page == 'next' %}
        <button type="button" onclick="set_page({{ filter['active_page'] + 10 }})" class="btn btn-outline-secondary sm-button"><i class='fa fa-arrow-right'></i></button>
        {% else %}
        <button type="button" onclick="set_page({{ page }})" class="btn btn-outline-secondary sm-button {% if page == filter['active_page'] %} active {% endif %}">
          {{ page + 1}}
        </button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>