<!doctype html>
<html>
    <!--- HEADER -->
    {% with title='Privacy conditions' %}
    {% include 'head.html' %}
    {% endwith %}

    <body>
        {% include 'navbar.html' %}

        <div id="privacyConditions" class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>PRIVACY POLICIES</h1>
                    <div class="title-bar"></div>
                </div>
            </div>

            <div class="row" style="margin-top:70px;">
                <div class="col-md-4 col-sm-12">
                    <h2>Personal Data Collected by Ingestor</h2>
                </div>
                <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <p class="text-justify policy-paragraph">
                        When you use our Service, Ingestor collects information (i) that you knowingly and voluntarily provide when you use our Service (such as through forms or profile screens) including registration/account setup information, and (ii) that we are able to collect from your web browser, cookies and other similar technologies.
                    </p>
                    <h5>1. Personal Data that you Knowingly and Willingly Provide</h5>
                    <p class="text-justify policy-paragraph">
                        Ingestor collects the information that you knowingly and voluntarily provide when you use our Service(such as through web forms or profile screens), including registration/account setup information, profile details, payment information, and ratings information. We primarily use this information to provide you the Service. You can choose not to provide us with certain Personal Data, but then you may not be able to take advantage of our Service or other available features we offer. The information that we collect and use may include the following kinds of Personal Data: first and last name, email address, telephone number, login name, screen name, nick name, handle or any other identifier that permits the physical or online contacting of a specific individual.
                    </p>
                    <h5>2. Personal Data that we collect from your Web Browser.</h5>
                    <p class="text-justify policy-paragraph">
                        Ingestor collects information that is sent to us automatically by your web browser. Ingestor may use this information to generate aggregate statistics your usage of our Service. This information typically includes details about your: IP address, browser type, browser plug-in details, operating system, local time zone, date and time of each visit or request (e.g. web pages selected and time spent on each page), referring site and/or search engine device type (e.g. desktop, laptop, tablet, phone, etc.), screen size, color, depth, system fonts, and language preference. Ingestor may use non-Personal Data for various business purposes such as providing customer service, fraud prevention, market research, and improving our Service. The information we receive depends on the settings on your browser. Please check your browser if you want to learn what information your browser sends or how to change your settings.
                    </p>
                    <h5>3. Cookies.</h5>
                    <p class="text-justify policy-paragraph">
                        Ingestor may obtain information about you by installing “cookies” on your computer’s hard drive. We use cookies to collect statistical information about the ways visitors use our Service, including which pages they visit, which links they use, and how long they stay on each page. Ingestor also may use cookies to create a database of your previous choices and preferences, saving you time and effort. If you do not wish to receive cookies, you may set your browser to reject cookies or to alert you when a cookie is placed on your computer. If you limit or disable the use of cookies when you visit Ingestor, you may be unable to use the full of the functionality of our Service. For more information about cookies, visit: <a href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>.
                    </p></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>How Is Your Personal Data Used?</h2>
                </div>
                <div class="col-md-2 col-sm-"></div>
                <div class="col-md-6 col-sm-12">
                    <p class="text-justify policy-paragraph">
                        We will only process your Personal Data, including sharing it with third parties, where<br>
                        (1) you have provided your consent which can be withdrawn at any time,<br>
                        (2) the processing is necessary for the performance of a contract to which you are a party,<br>
                        (3) we are required by law,<br>
                        (4) processing is required to protect your vital interests or those of another person, or<br>
                        (5) processing is necessary for the purposes of our legitimate commercial interests, except where such interests are overridden by your rights and interests.
                    </p>

                    <p class="text-justify policy-paragraph">
                        We may use Personal Data we collect about you on its own or combine it with other information we have about you to:
                        <ul class="text-justify policy-paragraph">
                            <li>To create user accounts and/or profiles through registration;Perform internal operations, such as tracking and improving the effectiveness of our website, mobile experience, and marketing efforts;</li>
                            <li>Provide product and/or Service fulfillment, such as creating accounts, managing purchases, payments, and more;</li>
                            <li>Personalize user experiences, such as remembering your settings and preferences for things like language, font size, etc.;</li>
                            <li>Provide support;</li>
                            <li>Resolve disputes between users and/or a user and the company as set forth in our Terms of Service;</li>
                            <li>Use the location of your mobile device to prevent fraud or deliver other location-based services that you may request;</li>
                            <li>Conduct surveys;</li>
                            <li>Conduct research;</li>
                            <li>Receive feedback;</li>
                            <li>Conduct audits;</li>
                            <li>Provide information to our suppliers;</li>
                            <li>Provide information to our representatives and/or advisors, such as our attorneys, accountants, and others to help us comply with legal, accounting, or security requirements;</li>
                            <li>Transfer your information, such as to servers outside of the United States, or as part of a merger or sale of the business;</li>
                        </ul>
                    </p>
                    <p class="text-justify policy-paragraph">
                        Protect the rights, safety, and information of our members, third parties, as well as our own. This includes fraud prevention, business or product recalls, prosecuting and defending a court arbitration or similar proceeding, and more;<br>
                        Comply with legal requirements. We may also disclose your Personal Data as otherwise set forth in this Privacy Policy, as permitted by law, or with your consent.
                    </p>
                </div>
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
