<!doctype html>
<html>

{% with title='Questions & answers' %}
{% include 'head.html' %}
{% endwith %}

<!--- HEADER -->
<body>
{% include 'navbar.html' %}

<div id="welcomeArea" class="row ml-0 collapse show col-12 ask-panel">
  <div class="col-0 col-md-2"></div>
  <div class="col-12 col-md-8 px-0" style="padding: 0 15px !important">
    {% include 'filters.html' %}
    <div class="navbar navbar-light justify-content-between row col-md-12 col-12 p-0" style="background: #FFFFFF; border: 1px solid #F2F2F2; box-sizing: border-box;box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);border-radius: 4px;">
      {% for input in queue %}
        <div class="row col-12 pointer p-0" onclick="javascript:display_input('{{ filter['bot'] }}', '{{ input.id }}', '{{ filter['quantity'] }}', '{{input.position}}')">
          <div class="col-md-10 col-12 p-2 px-4">
            <div class="list-item-title pb-2">
              {% if input.text.strip() %}{{ input.text | safe }}{% else %}{{ input.id }}{% endif %}
            </div>

            <div class="row">
              <div class="list-item-detail" data-toggle="tooltip" data-placement="bottom" title="{{ input.time_ago }}">
                {{_('Created')}} {{ input.elapsed }} {% if input.created_by %} {{_('by')}} {{input.created_by}} {% endif %}{{ input.elapsed }}
              </div>
              <div class="list-item-detail" data-toggle="tooltip" data-placement="bottom" title="{{ input.last_modify_label }}">
                {% if input.modified_by %}
                 <div class="mx-1">•</div> {{_('Last edited')}} {{ input.last_modify_elapsed }} {{_('by')}} {{input.modified_by}}
                {% endif %}
              </div>
              <div class="list-item-detail">{% if input.get_all_tags() %} | {% endif %}</div>
              <div>
                {% for tag in input.get_all_tags() %}
                  <p class='badge badge-document badges-issues-qa'>{{ tag }}</p>
                {% endfor %}
              </div>
            </div>

          </div>
          <div class="col-md-2 col-12 p-2 px-4">
            <div class="type-description mt-3 pb-2 text-align-right ellipsis">{{ input.desc_status }}</div>
          </div>
        </div>
        <div class="row col-md-12 col-12 separator"></div>
      {% endfor %}
      </div>
    {% include 'pagination.html' %}
    {% include 'new-qa-modal.html' %}
  </div>
  <div class="col-0 col-md-2"></div>
</div>

</body>
{% include 'footer.html' %}
</html>

