<!doctype html>
<html>

{% with title='Question' %}
{% include 'head.html' %}
{% endwith %}

<!--- HEADER -->
<body>
  {% include 'navbar.html' %}
  <div id="welcomeArea" class="row ml-0 collapse show col-12 ask-panel">
    <div class="col-0 col-md-2"></div>
    <div class="col-12 col-md-8 px-0">
      <div class="row mt-4">
        <div class="col-6 col-md-8 px-0">
          <div class="popular-questions-counter mb-4" onclick="javascript:show_questions('{{ filter['bot'] }}')" style="cursor: pointer; align-items: center; display: flex;">
            <i class="fas fa-arrow-left pr-2"></i> {{_('Back to Q & A')}}
          </div>
        </div>

        {% if (next or prev) and filter['quantity'] %}
        <div class="col-md-4 col-6 mb-4 px-0 d-flex justify-content-end popular-questions-counter">
          <a class="return-link {% if not prev %}link-disable{% endif %} pr-2" href="javascript:display_input('{{ filter['bot'] }}', '{{ prev }}', {{filter['quantity']}}, {{filter['position']-1}})">
            <i class="fas fa-chevron-left"></i>
          </a>
          <label style="color: #00000080;">{{ filter['real_position'] }} of {{ filter['quantity'] }}</label>
          <a class="return-link {% if not next %}link-disable{% endif %} pl-2" href="javascript:display_input('{{ filter['bot'] }}', '{{ next }}', {{filter['quantity']}}, {{filter['position']+1}})">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-12 col-md-6 px-0">
          <div id="inputText" class="popular-questions-title ml-0 d-block">{{ input.text }}</div>
          <input id="inputTextEdit" class="edit-question-input d-none" type="text" name="inputText" value="{{ input.text }}" onchange="markTextChanged()">

          <span id="editTitleButtonsMobile" class="d-none">
            <div class="d-block d-sm-none py-3">
              <button class="btn btn-outline-question" onclick="saveQuestion('Mobile')">{{_('SAVE')}}</button>
              <button class="btn btn-outline-question cancel" onclick="cancelEdit('Mobile')">{{_('Cancel')}}</button>
            </div>
          </span>

          <div class="popular-questions-counter mb-0" data-toggle="tooltip" data-placement="bottom" title="{{ input.time_ago }}">
            {% if input.created_by %} {{_('Created by')}} {{input.created_by}} • {% endif %}{{ input.elapsed }}
          </div>
          <div>
            <i id="favorite-star" class="favorite-star {% if input.favorite %}fas favorite-on{% else %}far favorite-off{% endif %} fa-star pointer"
            {% if has_permission(filter['bot'], PERM_MODIFY_QA) %}
            onclick="markAsFavorite()"
            {% endif %}
            ><span class="favorite-text pl-1">{{_('Popular question')}}</span></i>

            <span class="question-status-desc pl-3">{{ input.desc_status }}</span>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <span id="editTitleButtons" class="d-none">
            <div class="d-none d-sm-block">
              <button class="btn btn-outline-question" onclick="saveQuestion()">{{_('SAVE')}}</button>
              <button class="btn btn-outline-question cancel" onclick="cancelEdit()">{{_('Cancel')}}</button>
            </div>
          </span>
        </div>

        <div class="col-12 col-md-3 p-0 pb-3">
          {% if has_permission(filter['bot'], PERM_MODIFY_QA) %}
          <span id="editTitle" class="d-block">
            <div class="d-flex justify-content-end pt-2 pointer">
              <i class="far fa-edit d-none d-sm-block"  onclick="editTitle()" style="color: #949BA3;"><span class="edit-question pl-1">{{_('Edit Question')}}</span></i>
            </div>
          </span>
          <span id="editTitleMobile" class="d-block">
            <div class="pt-2 pointer">
              <i class="far fa-edit d-block d-sm-none"  onclick="editTitle('Mobile')" style="color: #949BA3;"><span class="edit-question pl-1">{{_('Edit Question')}}</span></i>
            </div>
          </span>
          {% endif %}
        </div>

        {% include 'ingestor-modal.html' %}

        <script type="text/javascript">
          var favorite = "{{ input.favorite }}" == "True";
          var editing = false;
          var textChanged = false;

          function markTextChanged() {
            textChanged = true;
          }

          function editTitle(divId) {
            editing = true;
            toggleEdit(divId);
          }

          function cancelEdit(divId) {
            editing = false;
            textChanged = false;
            toggleEdit(divId);
            $('#inputTextEdit').val($('#inputText').text());
          }

          function saveQuestion(divId) {
            $('#editQuestion').modal('show');
          }

          function toggleEdit(divId) {
            var idEdit = `#editTitle${ divId || '' }`;
            var idButtons = `#editTitleButtons${ divId || '' }`;
            $(idEdit).toggleClass("d-block d-none");
            $(idButtons).toggleClass("d-none d-block");
            $('#inputText').toggleClass("d-none d-block");
            $('#inputTextEdit').toggleClass("d-none d-block");
          }

          $('#saveButton').on('click', saveChanges());
          $('#saveButtonMobile').on('click', saveChanges('Mobile'));

          function saveChanges(divId) {
            return function() { modifyQAText(divId); }
          }

          function modifyQAText(divId) {
            var new_text = $('#inputTextEdit').val();
            $.ajax({
              url: '/modify_qa/{{ filter['bot'] }}',
              data: {
                input_id: '{{ input.id }}',
                new_text: $('#inputTextEdit').val()
              },
            })
            .done(function(response) {
              $('#inputText').text(new_text);
              cancelEdit(divId);
              $('#editQuestion').modal('toggle');
            });
          }

          function markAsFavorite() {
            var data = {
              id: "{{ input.id }}",
              favorite: !favorite
            };
            $.post("/favorite-question/{{ filter['bot'] }}", data).then(function(response) {
              $("#favorite-star").toggleClass("fas far");
              $("#favorite-star").toggleClass("favorite-on favorite-off");
              favorite = response.data.favorite;
            });
          }

          function cancelResponse() {
            $('#rememberArea').collapse('hide')
            $('#newResponseBtn').show();
          }

          $('#rememberArea').on('show.bs.collapse', function () {
            $('#newResponseBtn').hide();
          })

          function edit_response(response_id) {
            $('#display_zone_' + response_id).css('display', 'none');
            $('#edit_zone_' + response_id).css('display', 'block');
            $('#btn_edit_' + response_id).css('display', 'none');
            $('#btn_save_' + response_id).css('display', 'block');
            $('#btn_cancel_' + response_id).css('display', 'block');
            $('#textarea_' + response_id).focus();
            $('#tags_' + response_id).css('display', 'none');
            $('#tags_edit_' + response_id).css('display', 'block');
          }

          function cancel_edit_response(response_id) {
            $('#display_zone_' + response_id).css('display', 'block');
            $('#edit_zone_' + response_id).css('display', 'none');
            $('#btn_edit_' + response_id).css('display', 'block');
            $('#btn_save_' + response_id).css('display', 'none');
            $('#btn_cancel_' + response_id).css('display', 'none');
            $('#tags_' + response_id).css('display', 'block');
            $('#tags_edit_' + response_id).css('display', 'none');
          }

          function checkEmptyResponse(form) {
            $('#btnAddNewAnswer').attr('disabled', true)
            $('body').css('cursor', 'wait');
            var responseOk = form.response_text.value.trim() != '';
            if (!responseOk) {
              bootbox.alert("Please write a new answer", function(result) {
                setTimeout(function() {
                  form.response_text.focus()
                }, 10);
              });
            } else {
              form.tags_values.value = $("#tagsNewQa").val();
            }
            return responseOk;
          }

          function save_response(response_id) {
            var actual_location = window.location;
            var bot_id = '{{ filter['bot'] }}';
            var input_id = '{{ input.id }}';
            var input_text = $('#remember_form :input[name=input_text]').val();
            var new_text_response = $('#textarea_' + response_id).val();
            var current_tags = $('#tagsInputResponse_' + response_id).val();

            if (new_text_response == '') {
              bootbox.alert("The answer text can't be empty", function() {
                setTimeout(function() {$('#modifyResponseText').focus()}, 500);
              });
            } else {
              var dialog = bootbox.dialog({
                message: '<p class="text-center">Processing...</p>',
                closeButton: false
              });

              const data = new FormData();
              data.append('input_id', input_id);
              data.append('input_text', input_text);
              data.append('response_id', response_id);
              data.append('response_text', new_text_response);
              data.append('query_string', window.location.search);
              data.append('tags', current_tags);

              fetch('/update_response/' + bot_id, {
                method: 'POST',
                body: data
              }).then(function(response) {
                if (response.error == undefined) {
                  // Reload
                  window.location = actual_location;
                } else {
                  var dialog = bootbox.alert({
                    message: '<b>Error</b><p class="text-center">' + response.error + '</p>',
                    closeButton: false
                  });
                }
              }).catch(reason => console.error(reason));
            }
          }

          window.onload = function() {
            $('a').on('click', function (e) {
              // verify changes without save
              var changesPending = false;

              changesPending = textChanged;

              var url = e.target.href;
              var titleConfirmation = "There are unsaved changes."
              var textConfirmation = "Do you want continue anyway?"

              if (changesPending) {
                showConfirmModal(titleConfirmation, textConfirmation, function(status) {
                  if(status) {
                    window.location = url;
                  }
                });
                e.preventDefault();
                return false;
              }
            });

            // Select the current tab where you are editing
            $('#myTab a[href="#{{ tab }}"]').tab('show');
          }
        </script>

        <div class="col-md-12 col-12 px-0">
          {% for key, value in input.verified_responses_dict.items() %}
            {% with verified=True %}
              {% include 'input-response.html' %}
            {% endwith %}
          {% endfor %}

          {% for key, value in input.responses_dict.items() %}
            {% with verified=False %}
            {% include 'input-response.html' %}
            {% endwith %}
          {% endfor %}
        </div>
        <div class="col-md-12 col-12 px-0 pt-3">
          {% if has_permission(filter['bot'], PERM_MODIFY_QA) %}
          <div class="card card-body">
            <form action="/remember/{{ filter['bot'] }}" onsubmit="return checkEmptyResponse(this)" method="post" id="remember_form">
              <input type="hidden" name="input_id" value="{{ input.id }}">
              <input type="hidden" name="input_text" value="{{ input.text }}">
              <!-- query string is loaded by javascript to keep -->
              <input type="hidden" id="query_string" name="query_string" value="">
              <script type="text/javascript">
                $("#query_string").val(window.location.search);
              </script>
              <div class="form-group">
                  <script>
                    function changeArea() {
                      if ($('#responseTextArea').val().trim() !== '') {
                        $('#btnAddNewAnswer').removeAttr('disabled')
                      } else {
                        $('#btnAddNewAnswer').attr('disabled', true)
                      }
                    }
                  </script>
                <textarea id="responseTextArea" onkeyup="changeArea()" class="form-control edit-area" name="response_text" rows="6" placeholder="{{_('Enter the answer...')}}"></textarea>
              </div>
              <div class="col-12 pl-0 pr-0" style="margin-bottom:20px; margin-top:10px;">
                <input class="col-12" placeholder="Add a tag/tags..." id="tagsNewQa" type="text" data-role="tagsinput" />
                <input id="tags_values" name="tags_values" type="hidden">
              </div>
              <script type="text/javascript">
                initTagsInput("tagsNewQa", "{{ filter['bot'] }}")
              </script>
              <div class="row">
                <div class="col-12 col-md-7 col-lg-6 px-0 py-2">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 py-1 px-0">
                      <div class="card-searchs px-0" data-toggle="modal" data-target="#searchQaModal">
                        <i class="far fa-lightbulb pr-1"></i><a onclick="open_search_qa()">{{_('Search Q & A')}}</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8 py-1 px-0">
                      <div class="card-searchs">
                        <i class="fas fa-book-open pr-1"></i><a onclick="open_search_passages()">{{_('Search Library')}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5 col-lg-6 px-0 py-2">
                  <div class="d-flex flex-row-reverse">
                    <button type="submit" id="btnAddNewAnswer" class="btn btn-outline-secondary btn-outline-gray" disabled>{{_('ADD NEW ANSWER')}}</button>
                  </div>
                </div>
              </div>
              {% include 'smart-search-modal.html' %}
            </form>
          </div>
          {% endif %}
        </div>

        <div class="col-12 link-gray pt-4" style="text-align:right;font-weight: 600; font-size: 12px; line-height: 16px; align-items: center; text-align: right; letter-spacing: 0.03em;">
          {% if has_permission(filter['bot'], PERM_MODIFY_QA) %}
            <a onclick="remove_input('{{ filter['bot'] }}', '{{ input.id }}')">{{_('Remove question')}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-0 col-md-2"></div>
  </div>
</body>
{% include 'footer.html' %}
</html>
