<!-- FILTERS -->

<style>
.navbar .btn {
  margin-right: 10px;
}
</style>

<div class="row">
  <div class="col-12 col-md-12 col-xs-12 px-0">
    <div class="popular-questions-title ml-0">{{_('Issues')}}</div>
    <div class="popular-questions-counter mb-4">
      {{ngettext('You have %(num)s entry', 'You have %(num)s entries', filter['quantity']) }}
    </div>
  </div>
</div>

<nav id="queueFilters" class="navbar navbar-expand-lg navbar-light justify-content-between row col-md-12 col-xs-12 pl-0 pr-0" style="background: #FFFFFF; border: 1px solid #F2F2F2; box-sizing: border-box;box-shadow: 0px 4px 4px rgba(136, 146, 162, 0.05);border-radius: 4px;">
  <form class="my-2 my-lg-0 row col-md-12 col-12 pl-0">
    <div class="col-xl-6 col-12 vertical-align-by-margin no-padding-right">
      <div class="inner-addon left-addon">
        <i class="fas fa-search"></i>
        <input class="form-control mr-sm-2 search-input" type="search" placeholder="{{_('Search for an entry')}}" value="{{ filter['text'] }}" onchange="set_search(this.value)">
      </div>
    </div>

    <div class="col-xl-6 col-12 padding-right-dropdowns-chips-alignment">
      <div class="btn-group float-desk-mobile">
        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['queue_type'] == 'remember' %}
            {{_('Needs review')}}
            {% elif filter['queue_type'] == 'no_response' %}
            {{_('No response')}}
            {% elif filter['queue_type'] == 'reaction' %}
            {{_('Reaction')}}
            {% elif filter['queue_type'] == 'misunderstood' %}
            {{_('Can\'t find answer')}}
            {% elif filter['queue_type'] == 'library_only' %}
            {{_('Library only response')}}
            {% else %}
            {{_('Any type')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownStatus">
            <a class="dropdown-item" href="javascript:set_queue_type('')">{{_('Any type')}}</a>
            <a class="dropdown-item" href="javascript:set_queue_type('no_response')">{{_('No response')}}</a>
            <a class="dropdown-item" href="javascript:set_queue_type('library_only')">{{_('Library only response')}}</a>
            <a class="dropdown-item" href="javascript:set_queue_type('remember')">{{_('Needs review')}}</a>
            <a class="dropdown-item" href="javascript:set_queue_type('reaction')">{{_('Reaction')}}</a>
            <a class="dropdown-item" href="javascript:set_queue_type('misunderstood')">{{_('Can\'t find answer')}}</a>
          </div>
        </div>

        {% if filter_tags %}
        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownTags" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['tag'] in filter_tags %}
              {{ filter['tag'] }}
            {% else %}
              {{_('Any tag')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTags">
            <a class="dropdown-item" href="javascript:set_tag('')">{{ _('Any tag') }}</a>
            {% for tag in filter_tags %}
            <a class="dropdown-item" href="javascript:set_tag('{{ tag }}')">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle mx-0" type="button" id="dropdownTime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['days'] == 1 %}
            {{_('Today')}}
            {% elif filter['days'] == 7 %}
            {{_('Past week')}}
            {% elif filter['days'] == 30 %}
            {{_('Past month')}}
            {% elif filter['days'] == 365 %}
            {{_('Past year')}}
            {% else %}
            {{_('Any time')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownTime">
            <a class="dropdown-item" href="javascript:set_since('9999')">{{_('Any time')}}</a>
            <a class="dropdown-item" href="javascript:set_since('1')">{{_('Today')}}<span class="badge badge-light">{{ filter['quantities_by_range']['1'] }}</span></a>
            <a class="dropdown-item" href="javascript:set_since('7')">{{_('Past Week')}}<span class="badge badge-light">{{ filter['quantities_by_range']['7'] }}</span></a>
            <a class="dropdown-item" href="javascript:set_since('30')">{{_('Past Month')}}<span class="badge badge-light">{{ filter['quantities_by_range']['30'] }}</span></a>
            <a class="dropdown-item" href="javascript:set_since('365')">{{_('Past Year')}}<span class="badge badge-light">{{ filter['quantities_by_range']['365'] }}</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if filter['direction'] == '1' %} active {% endif %}" href="javascript:set_direction(1)">{{_('Ascending')}}</a>
            <a class="dropdown-item {% if filter['direction'] == '-1' %} active {% endif %}" href="javascript:set_direction(-1)">{{_('Descending')}}</a>
          </div>
        </div>

        <div class="btn-group dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle ml-0 mr-0" type="button" id="dropdownSolved" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['solved'] == '' %}
            {{_('All')}}
            {% elif filter['solved'] == 'yes' %}
            {{_('Resolved')}}
            {% elif filter['solved'] == 'no' %}
            {{_('Unresolved')}}
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSolved">
            <a class="dropdown-item" href="javascript:set_solved('no')">{{_('Unresolved')}}</a>
            <a class="dropdown-item" href="javascript:set_solved('yes')">{{_('Resolved')}}</a>
            <a class="dropdown-item" href="javascript:set_solved('')">{{_('All')}}</a>
          </div>
        </div>

      </div>
    </div>
  </form>
</nav>