
<div id="modalReport" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border-radius: 0px; padding:10px;">
      <div style="
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #e9ecef;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;">
      <h5 style="font-size: 14px;
      font-family: 'Open Sans',sans-serif;
      color: #949BA3;
      margin-top: auto;
      margin-bottom: auto;" id="exampleModalLabel">{{_('Date range:')}} {{ report_data.period }}</h5>
      {% if report_file_name %}
      <button type="button" id="close-modal-button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      {% endif %}
      </div>
      <div class="modal-body">
        <div style="
          background-color:#2D8CFE;
          padding: 20px;
          margin-top: auto;
          margin-bottom: auto;
          display:flex;
          justify-content: space-between!important;
          ">
          <h1 style="font-size: 24px;
          color: white;
          padding: 0px;
          margin: 0px;
          " id="bot-title">{{_('Activity for')}} {{ report_data.bot_display_name }}</h1>
          {% if report_file_name %}
          <button type="button" id="download-button" class="btn btn-download d-right" onclick="CreatePDFfromHTML();">{{_('Download as PDF')}}</button>
          {% endif %}
        </div>
        <div style="font-size: 16px;
        padding: 15px;
        text-align:left;"
        >
          <p>{{_('Here is a summary of what happened with your Ingestor instance over')}} {{ report_data.time }}.</p>
          <p>{{_('Current Users:')}} {{ report_data.current_users.users | safe }}, {{ report_data.current_users.admins | safe }}, {{ report_data.current_users.experts | safe }}.</p>
          <p>{{ report_data.open_issues | safe }}</p>
          <p>{{ report_data.answered_successfully | safe }}. {{ report_data.closed_issues | safe }}.</p>
        </div>
        <div id="graphs-container"
        style="background-color: #F8F8FA;
        font-size: 16px;
        padding: 15px;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between!important;
        margin-top: auto;
        margin-bottom: auto;
        ">
          <div class="smesResolvedQ"
          style="padding: 0px;
          text-align: center;
          position: relative;
          flex: auto;
          margin:0px auto;
          ">
            <img src="{{ url_root}}render_percent_chart/{{ report_data.bot_name }}/{{ report_data.questions_resolved }}/F2444A/F8E0E1/chart.png"
                height='160px' width='160px' alt="Questions resolved"  title="Questions resolved"/>
            <p style="margin:0px; text-align: center;">{{_('Questions resolved')}}</p>
          </div>
          <div class="autoResolvedQ"
          style="
          padding: 0px;
          text-align: center;
          position: relative;
          flex: auto;
          margin:0px auto">
            <img src="{{ url_root}}render_percent_chart/{{ report_data.bot_name }}/{{ report_data.automatically_resolved }}/22BF6F/DEF7EA/chart.png"
             height='160px' width='160px'  alt="{{_('Automatically resolved')}}"  title="Automatically resolved"/>
            <p style="margin:0px; text-align:center">{{_('Automatically resolved')}}</p>
          </div>
        </div>

        <div class="summary-initial-text">
          {% if report_data.average_resolution_time != -1 %}
          <p style="text-align: left;margin-top:10px;">{{ report_data.average_resolution_label | safe }}</p>
          {% endif %}

          {% if report_data.prior_average != -1 %}
          <p style="text-align: left;margin-top:10px;">{{ report_data.prior_average_label | safe }}</p>
          {% endif %}
        </div>

        {% if report_data.overview %}
        <div class="summary-initial-text col-12  vertical-align-by-margin" style="background-color: #F8F8FA; margin-bottom:20px">
          <table id="overview-table" style="
                width: 100%;
                margin-bottom: 1rem;
                background-color: transparent;
                flex: 0 0 100%;
                max-width: 100%;
                "
            class="table col-12 table-borderless">
            <thead>
              <tr class="text-center">
                <th style="text-align: left; width:60%">{{_('Overview')}}</th>
                <th  style="text-align: right;width:20%">{{_('Total')}}</th>
                <th  style="text-align: right;width:20%">{{_('Difference')}}</th>
              </tr>
            </thead>
            <tbody>
              {% for data in report_data.overview %}
              <tr>
                <td  style="text-align: left;width:60%">{{data.name}}</td>
                <td  style="text-align: right;width:20%">{{data.total}}</td>
                <td  style="color:{{data.color}};width:20%; text-align: right;">{{data.difference}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% if report_data.open_issues_list %}
        <div class="summary-initial-text col-12  vertical-align-by-margin" style="background-color: #F8F8FA; margin-bottom:20px">
          <table id="open-issues-table" style="
          width: 100%;
          margin-bottom: 1rem;
          background-color: transparent;
          flex: 0 0 100%;
          max-width: 100%;
          " class="table col-12 table-borderless">
            <thead>
              <tr>
                <th style="text-align:left; width:60% ">{{_('Open Issues')}}</th>
                <th style="text-align:right; width:20%">{{_('Total')}}</th>
                <th style="text-align:right; width:20%">{{_('Difference')}}</th>
              </tr>
            </thead>
            <tbody>
              {% for data in report_data.open_issues_list %}
              <tr>
                <td style="text-align:left; width:60%">{{data.name}}</td>
                <td style="text-align:right; width:20%">{{data.total}}</td>
                <td style="text-align:right;color:{{data.color}};width:20%">{{data.difference}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% if report_data.resolved_issues %}
        <div class="summary-initial-text col-12  vertical-align-by-margin" style="background-color: #F8F8FA; margin-bottom:20px">
          <table id="resolved-issues-table" style="
          width: 100%;
          margin-bottom: 1rem;
          background-color: transparent;
          flex: 0 0 100%;
          max-width: 100%;
          "  class="table table-borderless col-12">
            <thead>
              <tr class="text-center">
                <th style="text-align:left; width:60%;">{{_('Resolved issues')}}</th>
                <th style="text-align:right; width:20%;">{{_('Total')}}</th>
                <th style="text-align:right; width:20%;">{{_('Difference')}}</th>
              </tr>
            </thead>
            <tbody>
              {% for data in report_data.resolved_issues %}
              <tr>
                <td style="text-align:left; width:60%;">{{data.name}}</td>
                <td style="text-align:right; width:20%;">{{data.total}}</td>
                <td style="text-align:right; width:20%; color:{{data.color}}">{{data.difference}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if report_file_name %}
<script>
//// PDF generator
function CreatePDFfromHTML() {
    $("#download-button").hide();
    $("#close-modal-button").hide();

    var HTML_Width = $("#modalReport").width();
    var HTML_Height = $("#modalReport").height();
    var widthPrint = $("#modalReport")[0].scrollWidth;
    var heightPrint = $("#modalReport")[0].scrollHeight;
    var top_left_margin = 15;
    var PDF_Width = widthPrint + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = widthPrint;
    var canvas_image_height = heightPrint;

    var totalPDFPages = Math.ceil(heightPrint / PDF_Height) - 1;

    html2canvas($("#modalReport")[0], {
        windowWidth: widthPrint,
        windowHeight: heightPrint,
        width: widthPrint,
        height: heightPrint
        }).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) {
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("{{ report_file_name }}.pdf");
    });
    $("#download-button").show();
    $("#close-modal-button").show();

}
//// end PDF generator
</script>
{% endif %}