<div class="col-md-12 col-12 px-0 d-none" tabindex="-1" id="searchPassages">
    <div class="card card-body mobile-card">
        <div class="row">
            <div class="form-group col-12">
                <h5 class="modal-title">{{_('Search Passages')}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-11">
            <input type="text" class="form-control borderless-input" id="text_search_passages" name="input_text" placeholder="Enter a text to search...">
            </div>
            <div class="form-group col-1">
                <button type="button" onclick="search_passages()" class="btn btn-outline-secondary btn-outline-gray float-right">{{_('SEARCH')}}</button>
            </div>
        </div>

        <div class="table-responsive" id="search_passages_results">

        </div>
    </div>
</div>

<script>

    var selected_passages = [];

    function open_search_passages() {
        $("#searchQa").addClass('d-none');
        $("#searchPassages").removeClass('d-none');
        $('#text_search_passages').focus();
    }

    function use_passages() {
        var response_text = '';
        var source_line = 'source: ';
        var tags = [];
        selected_passages.forEach(function(passage_id) {
            // $('#select_5de8310192e63251_60d9c05f').prop('checked')`
            var div_text_id = '#passage_' + passage_id;
            response_text += $(div_text_id).text();
            var div_tags_id = '#passage_tags_' + passage_id;
            // add tags if are not on the list
            $(div_tags_id).text().split(',').forEach(function(tag) {
                if (tag.trim() != '' && ! tags.includes(tag)) {
                    tags.push(tag);
                }
            });
            var passage_url = $('#source_' + passage_id).attr('href');
            source_line += '[Link to passage](' + passage_url  + ') ';
        });
        var tag_line = '';
        if (tags.length > 0) {
            tag_line = 'tag: ' + String(tags);
        }
        $("#responseTextArea").val(
            response_text + '\n' + source_line.trim() + '\n' + tag_line);
        $("#responseTextArea").get(0).scrollIntoView();
        $("#searchPassages").addClass('d-none');
        $("#responseTextArea").get(0).focus();
    }

    function select_passage(checkbox) {
        var escaped_passage_id = checkbox.id.replace('select_', '');
        // add if checked, remove if not
        if (checkbox.checked) {
            selected_passages.push(escaped_passage_id);
        } else {
            selected_passages = selected_passages.filter(
                function(e) { return e !== escaped_passage_id})
        }
        // enable use of passages if some passage is selected
        $('#use_passages_btn').prop('disabled', selected_passages.length == 0);
    }

    function search_passages() {
        var text = $('#text_search_passages').val();
        if (text == '') {
            return;
        }
        //reset list of selected passages
        selected_passages = [];

        $('body').css('cursor', 'wait');
        $.ajax({ url: '/passages_json/{{ filter['bot'] }}',
                data: { text_filter: text},
                })
            .done(function (result) {
                var grid = '';
                var counter = 0;
                passages_data = result['passages_response'];
                passages_data.forEach(function(doc_data) {
                    var doc_id = doc_data['doc_id'].replace('/','_');
                    grid += "<div class='row'>" +
                        "<div class='col-11' style='white-space: pre-wrap'><h5>from <b>" +
                        doc_data['title'] + "</b></h5></div>" +
                        "<div class='col-1' style='text-align:right'>" +
                        "<a href='/document/{{ filter['bot'] }}/" + doc_id + "' target='_blank' title='{{_('Open document in a new tab')}}'>" +
                        "<i class='fas fa-external-link-alt'></i></a>" +
                        "</div></div>";
                    doc_data['passages'].forEach(function(passage_data) {
                        var passage_id = clean_id(passage_data['_id']).replace(':@', '');
                        grid += "<div class='row'>" +
                            "<div class='col-1'>" +

                            "<label class='check-container'>" +
                            "<input class='form-check-input' type='checkbox' id='select_" + passage_id + "' value='false' onchange='select_passage(this)'>" +
                            "<span class='checkmark'></span>" +
                            "</label>" +

                            "</div>" +
                            "<div class='col-11'>" +
                            passage_data['highlighted_text'] +
                            "<div id='passage_" + passage_id + "' style='display:none'>" +
                            passage_data['text'] + "</div>" +
                            "<div id='passage_tags_" + passage_id + "' style='display:none'>" +
                            passage_data['tags'] + "</div>" +
                            " <a id='source_" + passage_id + "' href='/document/{{ filter['bot'] }}/" + doc_id + "#" + passage_id + "'" +
                            "target='_blank' title='Go to paragraph in a new tab'>" +
                            "<i class='fas fa-external-link-alt'></i></a>" +
                            "</div>" +
                            "</div>";
                        counter++;
                    });
                });

                var counterMessage = '{{_('No passages found')}}';
                if (counter == 1) {
                    counterMessage = counter + ' {{_('passage found')}}';
                } else if (counter > 1) {
                    counterMessage = counter + ' {{_('passages found')}}';
                }

                grid = "<div class='row' style='margin-bottom:10px'>"+
                    "<div class='col-11'>" + counterMessage + "</div>" +
                    "<div class='col-1'>" +
                    "<button type='button' id='use_passages_btn' onclick='use_passages()' " +
                    "class='btn btn-outline-secondary btn-outline-gray float-right' disabled>{{_('USE PASSAGES')}}</button>" +
                    "</div>" +
                    "</div>" +
                    grid;
                $('#search_passages_results').html(grid);
                $('body').css('cursor', 'auto');
            });
    }

    $("#text_search_passages").keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            search_passages();
        }
        if ($('#search_passages_results').html() != '') {
            $('#search_passages_results').html('');
        }
    });

</script>
