<div class="col-md-12 col-12 px-0 d-none" tabindex="-1" id="searchQa">
    <div class="card card-body mobile-card">
        <div class="row">
            <div class="form-group col-12">
                <h5 class="modal-title">{{_('Search Questions/Answers')}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-11">
            <input type="text" class="form-control borderless-input" id="text_search" name="input_text" placeholder="Enter a text to search...">
            </div>
            <div class="form-group col-1">
                <button type="button" onclick="search_qa_pairs()" class="btn btn-outline-secondary btn-outline-gray float-right">{{_('SEARCH')}}</button>
            </div>
        </div>

        <div class="table-responsive" id="search_results">

        </div>
    </div>
</div>

<script>


  function open_search_qa() {
    $("#searchPassages").addClass('d-none');
    $("#searchQa").removeClass('d-none');
    $('#text_search').focus();
  }

  $('#searchQaModal').on('shown.bs.modal', function () {
    $('#text_search').focus();
  });

    function use_response(answer_id) {
        var div_id = '#answer_' + answer_id;
        var answer_text = $(div_id).text();
        $("#responseTextArea").val(answer_text);
        $("#responseTextArea").get(0).scrollIntoView();
        $('#searchQaModal').modal('hide');
        $("#responseTextArea").get(0).focus();
    }

    function search_qa_pairs() {
        var text = $('#text_search').val();
        if (text == '') {
            return;
        }
        $('body').css('cursor', 'wait');
        $.ajax({ url: '/inputs_json/{{ filter['bot'] }}',
                data: { text_filter: text, status: 3}, // status 3 => questions with answers
                })
            .done(function (questions_data) {
                var grid = '';
                questions_data.forEach(function(question_data) {
                    var answer_id = clean_id(question_data['answers'][0]['id']);
                    grid += "<div class='row'>" +
                        "<div class='col-12'><b>" + question_data['highlighted_text'] + "</b></div></div>" +
                        "<div class='row'>" +
                        "<div id='answer_" + answer_id + "' style='display:none'>" + question_data['answers'][0]['text'] +"</div>" +
                        "<div class='col-10' style='margin-top:15px;white-space: pre-wrap'>" +
                        question_data['answers'][0]['highlighted_text'] + "</div>" +
                        "<div class='col-2' style=\"vertical-align:bottom\"><button onclick=\"use_response('" + answer_id + "')\"" +
                        " class='btn btn-outline-secondary btn-outline-gray float-right'>" +
                            "{{_('Use as response')}}</button></div>" +
                        "</div>";
                });
                grid = "<div class='row'>" +
                    "<div class='col-12'>" + questions_data.length + " found</div></div>" +
                    grid;
                $('#search_results').html(grid);
                $('body').css('cursor', 'auto');
            });
    }

    $("#text_search").keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            search_qa_pairs();
        }
        if ($('#search_results').html() != '') {
            $('#search_results').html('');
        }
    });

</script>

