<!doctype html>
<html>

<!--- HEADER -->
{% with title='Settings' %}
{% include 'head.html' %}
{% endwith %}

<body>

{% include 'navbar.html' %}

<br/>

<div class="col-12" id="settings">
  <div class="row">
    <!-- Settings view - Web tabs -->
    <div id="settings-tabs" class="col-12 offset-lg-1 col-lg-2" >
      <ul class="nav nav-tabs col-12" id="myTab" role="tablist">
        <li class="nav-item" id="firstItem" onclick="hideMessages()">
          <a class="nav-link {% if tab == 'users' %}active{% endif %}" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">
            <span class="iconSetttingsTab icon-settings-tab-user-admin "></span>
            <span class="text">{{_('User administration')}}</span>
         </a>
        </li>
        <li class="nav-item" onclick="hideMessages()">
          <a class="nav-link" id="instance-tab" data-toggle="tab" href="#instance" role="tab" aria-controls="instance" aria-selected="true">
            <span class="iconSetttingsTab icon-settings-tab-instance-settings "></span>
            <span class="text">{{_('Instance settings')}}</span>
          </a>
        </li>
        <li class="nav-item" onclick="hideMessages()">
          <a class="nav-link" id="notification-tab" data-toggle="tab" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
            <span class="iconSetttingsTab icon-settings-tab-notifications "></span>
            <span class="text">{{_('Notifications')}}</span>
          </a>
        </li>
        <li class="nav-item" onclick="hideMessages()">
          <a class="nav-link" id="social-tab" data-toggle="tab" href="#social" role="tab" aria-controls="social" aria-selected="false">
            <span class="iconSetttingsTab icon-settings-tab-social "></span>
            <span class="text">{{_('Social')}}</span>
         </a>
        </li>

        <li class="nav-item" onclick="hideMessages()">
          <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">
            <span class="iconSetttingsTab icon-settings-tab-security "></span>
            <span class="text">{{_('Security')}}</span>
          </a>
        </li>

        {% if is_ingestor_user %}
        <li class="nav-item" onclick="hideMessages()">
          <a class="nav-link" id="ingestor-tab" data-toggle="tab" href="#ingestor" role="tab" aria-controls="ingestor" aria-selected="false">
            <span class="iconSetttingsTab icon-settings-tab-ingestor "></span>
            <span class="text">{{_('Ingestor')}}</span>
          </a>
        </li>
        {% endif %}
      </ul>
      <br/>
    </div>
    <!-- Settings view - Tabs content -->
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-12">
          <div id="success-msg" class="alert alert-primary alert-dismissible fade show" {% if not successMsg %}style="display:none"{% endif %}
               role="alert">
            <strong>{{_('Success!')}}</strong> {{ successMsg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="error-msg" class="alert alert-danger alert-dismissible fade {% if errorMsg %}show{% else %}hidden{% endif %}" role="alert">
            <strong>{{_('Error!')}}</strong> {{ errorMsg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div id="val-error-msg" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;"></div>
        </div>
      </div>
      <div class="tab-content settings-widget-container" id="myTabContent">
        <div class="tab-pane fade show {% if tab == 'users' %}active{% endif %}" id="users" role="tabpanel" aria-labelledby="users-tab">
            <div class="col-12">
              {% include 'bot-settings-users.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="instance" role="tabpanel" aria-labelledby="instance-tab">
            <div class="col-12">
              {% include 'bot-settings-instance.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
            <div class="col-12">
              {% include 'bot-settings-notification.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">
            <div class="col-12">
              {% include 'bot-settings-social.html' %}
            </div>
        </div>

        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
          <div class="col-12">
            {% include 'bot-settings-security.html' %}
          </div>
        </div>

        {% if is_ingestor_user %}
        <div class="tab-pane fade" id="ingestor" role="tabpanel" aria-labelledby="ingestor-tab">
            <div class="col-12">
              {% include 'bot-settings-ingestor.html' %}
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
  {% include 'footer.html' %}
</body>

<script type="text/javascript" src="/static/libraries/validation/validations.js"></script>
<script type="text/javascript">
  var instanceChanged = false;
  var notificationChanged = false;
  var ingestorChanged = false;

  var socialChanged = false;
  var securityChanged = false;
  var permissionsChanged= false;

  setTimeout(function() { hideMessages();
  }, 6000);

  $(document).ready(function() {
    $(".field-tooltip").tooltip({});
  });

  var activeTab = '{{tab}}';

  function markInstanceChanged() {
    instanceChanged = true;
  }

  function markNotificationChanged() {
    notificationChanged = true;
  }

  function markSocialChanged() {
    socialChanged = true;
  }

  function markIngestorChanged() {
    ingestorChanged = true;
  }

  function markSecurityChanged() {
    securityChanged = true;
  }

  function markPermissionsChanged() {
      permissionsChanged= true;
  }

  function updateInstance() {
    var instanceForm = $('#personality_form');
    $('#display_name_hidden').val($('#display_name').val());
    $('#personality_form').submit();
  }

  function updateSocial(form) {
    if (!document.getElemnentById("requireFirstPrompt").checked) {
      $('#first_prompt').val("");
    }
    form.submit();
  }

  function resetPersonality() {
    $('#display_name').val("");

    $('#welcome_msg').val("");

    $('#help_button').val("");
    $('#help_msg').val("");
    $('#help_list').val("");

    $('#smile_msg').val("");
    $('#meh_msg').val("");
    $('#frown_msg').val("");

    $('#no_answer').val("");
    // $('#hmm_msg').val("");
    $('#too_vague').val("");
    // $('#inexact_match').val("");
    $('#misunderstood').val("");

    $('#note_text').val("");
    $('#notes_msg').val("");
    $('#note_confirmation').val("");

    $('#flag_text').val("");
    $('#comment_msg').val("");
    $('#comment_confirmation').val("");

    $('#share_text').val("");
    $('#share_msg').val("");

    $('#sms_help_msg').val("");
    $('#sms_switch_msg').val("");
    $('#tcpa_prompt').val("");
    $('#first_prompt').val("");

    $('#sme_help').val("");

    $('#personality_form').submit();
  }

  function contains(aString, aList) {
    return aList.indexOf(aString) > -1;
  }

  window.onload = function() {
    $('a').on('click', function (e) {
      // verify changes without save
      var changesPending = false;
      var innerTab = false;
      var activeTabBackup = activeTab;

      if (activeTab === 'instance') {
        changesPending = instanceChanged;
      }
      if (activeTab === 'notification') {
        changesPending = notificationChanged;
      }
      if (activeTab === 'ingestor') {
        changesPending = ingestorChanged;
      }

      if (activeTab === 'security') {
        changesPending = securityChanged;
      }

      if (activeTab === 'permissions') {
        changesPending = permissionsChanged;
      }

      if (activeTab === 'social') {
        changesPending = socialChanged;
      }

      var url = e.target.href;
      if (url.indexOf('#') >= 0) {
          // for the other tabs
          activeTab = url.substr(url.indexOf('#') + 1);
      }

      innerTab = contains(activeTab, ['identity', 'personality']);
      activeTab = innerTab ? 'instance' : activeTab;

      var titleConfirmation = '{{_("There are unsaved changes.")}}';
      var textConfirmation = '{{_("Do you want proceed anyway?")}}';

      if (!innerTab && changesPending) {
        showConfirmModal(titleConfirmation, textConfirmation, function(status) {
            if (status) {
              if (url.indexOf('#') < 0) {
                  // for links to other pages in the site
                  window.location = url;
              } else {
                // for the other tabs
                activeTab = url.substr(url.indexOf('#') + 1);
                var tabId = activeTab + '-tab';
                $('#' + tabId).tab('show');
              }
            } else {
            activeTab = activeTabBackup;
          }
        });

        e.preventDefault();
        return false;
      }
    });

    // Select the current tab where you are editing
    $('#myTab a[href="#{{ tab }}"]').tab('show');
  }
</script>
</html>
