<div class="row">
  <div class="col-12 px-0 pt-2">
    <div class="row">
      <div class="inner-addon left-addon" style="width: 91.5%;">
        <i class="fas fa-search"></i>
        <input id="text_search" type="text" class="form-control mr-sm-2 search-input" placeholder="{{_('Search for an entry')}}">
      </div>
      <div class="ml-2">
        <button id="search-qa" style="background-color: #2D8CFE; border-color:#2D8CFE;" type="button" class="btn ask-btn btn-primary btn-lg d-none d-sm-block" onclick="search_qa_pairs()">{{_('SEARCH')}}</button>
      </div>
    </div>
  </div>
  <div class="col-12 px-0 pt-2">
  <div class="inner-addon left-addon" style="width: 100;">
      <i class="fas fa-tag"></i>
    <input class="col-10 form-control mr-sm-2 search-input" placeholder="Search by tag or tags" id="tagsSearchQAPairs" type="text" data-role="tagsinput" />
  </div>
  </div>
  <div class="table-responsive pt-4" id="search_results"></div>
</div>

<script type="text/javascript">

function focusSearch(){
    $('#text_search').focus();
  }

  initTagsInput("tagsSearchQAPairs", "{{ filter['bot'] }}");

  var selected_answers = [];

  $("#text_search").keypress(function(event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
      event.preventDefault();
      search_qa_pairs();
    }
  });

  function search_qa_pairs() {
    $('body').css('cursor', 'wait');
    var text = $('#text_search').val();
    var tags = $('#tagsSearchQAPairs').val();
    if (text == '') {
      return;
    }
    $.ajax({
      url: '/inputs_json/{{ filter['bot'] }}',
      data: {
        text_filter: text,
        tags: tags,
        status: 3
      }, // status 3 => questions with answers
    }).done(draw_questions);
  }

  function draw_questions(questions_data) {
    var grid = '';
    questions_data.forEach(function(question_data) {
      var answer = question_data['answers'][0];
      var answer_id = answer['id'];
      var answer_tags_html = '';
      answer['tags'].forEach(function(tag) {
        answer_tags_html += `<p class='badge badge-document'
          style="margin-bottom:auto; font-size:14px;">${ tag }</p>`;
      });
      var answer_html = `
      <div class="py-2">
        <div class="d-flex justify-content-start">
          <label class="check-container">
            <input class="form-check-input" type="checkbox" id="select_${ answer_id }" value="false" onchange="select_answer(this)">
            <span class="checkmark mt-1"></span>
          </label>
          <div class="passage-text" style="font-size:14px !important; width:100%; ">${ answer['highlighted_text'] }</div>
          <div id="answer_${ answer_id }" class="d-none">${ answer['text'] }</div>
          <p id="answer_tags_${ answer_id }" class='d-none'>${ answer['tags'] }</p>
          ${ answer_tags_html }
        </div>
        <div class="d-flex justify-content-end">
            <a id="source_${ answer_id }" class="smart-search-count" href="${ question_data['relative_link'] }" target="_blank">{{_('View source')}}</a>
        </div>
      </div>`

      grid += `
      <div class="row">
        <div class="col-12">
          <div class="doc-title" style="font-size:16px !important; ">${ question_data['highlighted_text'] }</div>
        </div>
        <div class="col-12">
          ${ answer_html }
        </div>
      </div>`
    });

    grid = `
    <div class='row'>
      <div class='col-12' style="margin-bottom:10px;"><b>${questions_data.length} matches found</b></div>
    </div>` + grid

    $('#search_results').html(grid);
    $('body').css('cursor', 'auto');
  }

  function select_answer(checkbox) {
    var escaped_passage_id = checkbox.id.replace('select_', '');

    if (checkbox.checked) {
        selected_answers.push(escaped_passage_id);
    } else {
        selected_answers = selected_answers.filter(function(e) {
          return e !== escaped_passage_id;
        });
    }
    updateTabData(selected_answers);
  }

  function use_response() {
    var response_text = '';
    var tags = [];
    selected_answers.forEach(function(answer_id) {
      var div_id = '#answer_' + answer_id;
      var link_id = '#source_' + answer_id;
      var div_tags_id = '#answer_tags_' + answer_id;
      var link_line = "source:[Source](" + $(link_id).attr("href") + ")";
      response_text += `${ $(div_id).text() }\n\n${ link_line } \n\n`;
      $(div_tags_id).text().split(',').forEach(function(tag) {
        if (tag.trim() != '' && ! tags.includes(tag)) {
          tags.push(tag);
        }
      });
    });
    var lastVal = $("#responseTextArea").val();
    response_text = filterLine(response_text, 'anchor:')

    $("#responseTextArea").val(`${lastVal}\n${response_text}`);
    $("#responseTextArea").get(0).scrollIntoView();
    $("#responseTextArea").get(0).focus();
    return tags
  }

</script>