<div class="row">
  <div class="col-12 px-0 pt-2">
    <div class="row">
      <div class="inner-addon left-addon" style="width: 91.5%;">
        <i class="fas fa-search"></i>
        <input id="text_search_passages" type="text" class="form-control mr-sm-2 search-input" placeholder="{{_('Search for an entry')}}">
      </div>
      <div class="ml-2">
        <button id="search-qa" type="button" style="background-color: #2D8CFE; border-color:#2D8CFE;" class="btn ask-btn btn-primary btn-lg d-none d-sm-block" onclick="search_passages()">{{_('SEARCH')}}</button>
      </div>
    </div>
  </div>
  <div class="col-12 px-0 pt-2">
    <div class="inner-addon left-addon" style="width: 100;">
      <i class="fas fa-tag"></i>
      <input class="col-12" placeholder="Search by tag or tags" id="tagsSearchPassages" type="text" data-role="tagsinput" />
  </div>
  </div>
  <div class="table-responsive pt-4" id="search_passages_results"></div>
</div>

<script type="text/javascript">
  initTagsInput("tagsSearchPassages", "{{ filter['bot'] }}");

  var selected_passages = [];

  $("#text_search_passages").keypress(function(event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if (keycode == '13') {
      event.preventDefault();
      search_passages();
    }
  });

  function search_passages() {
    $('body').css('cursor', 'wait');
    var text = $('#text_search_passages').val();
    var tags = $('#tagsSearchPassages').val();
    if (text == '' && tags == '') {
      return;
    }
    //reset list of selected passages
    selected_passages = [];
    $.ajax({
      url: '/passages_json/{{ filter['bot'] }}',
      data: {
        text_filter: text,
        tags: tags
      },
    }).done(draw_passages);
  }

  function draw_passages(result) {
    var grid = '';
    var counter = 0;
    var passages_data = result['passages_response'];

    passages_data.forEach(function(doc_data) {
      var passages_html = ''
      var doc_id = doc_data['doc_id'].replace('/','_');
      doc_data['passages'].forEach(function(passage_data) {
        var passage_id = clean_id(passage_data['escaped_id']).replace(':@', '');
        var passage_tags_html = '';
        passage_data['tags'].forEach(function(tag) {
          passage_tags_html += `<p class="badge badge-document" style="margin-bottom:auto; font-size:14px;">${ tag }</p>`;
        });
        passages_html += `
        <div class="py-2">
          <div class="d-flex justify-content-start">
            <label class="check-container">
              <input class="form-check-input" type="checkbox" id="select_${ passage_id }" value="false" onchange="select_passage(this)">
              <span class="checkmark"></span>
            </label>
            <div class="passage-text" style="width:100%;">${ passage_data['html'] }</div>
            <div id="passage_${ passage_id }" class="d-none">${ passage_data['formated_text'] }</div>
            <p id="passage_tags_${ passage_id }" class='d-none'>${ passage_data['tags'] }</p>
            ${ passage_tags_html }
            <div id="passege_doc_title_${ passage_id }" class="d-none">${ doc_data['title'] }</div>
          </div>
          <div class="d-flex justify-content-end">
            <a id="source_${ passage_id }" class="smart-search-count" href="${ passage_data['relative_link'] }" target="_blank">{{_('View source')}}</a>
          </div>
        </div>`

        counter++;
      });

      grid += `
      <div class="row">
        <div class="col-12">
          <div class="doc-title">${ doc_data['title'] }</div>
        </div>
        <div class="col-12">
          ${ passages_html }
        </div>
      </div>`
    });

    var counterMessage = '{{_('No passages found')}}';
    if (counter == 1) {
      counterMessage = counter + '{{_(' passage found')}}';
    } else if (counter > 1) {
      counterMessage = counter + '{{_(' passages found')}}';
    }

    grid = `
    <div class="row" style="margin-bottom:10px">
      <div class="col-12">
        <div class="smart-search-count">${counterMessage}</div>
      </div>
    </div>
    ` + grid;

    $('#search_passages_results').html(grid);
    $('body').css('cursor', 'auto');
  }

  function use_passages() {
    var response_text = '';
    var tags = [];

    selected_passages.forEach(function(passage_id) {
      var div_text_id = '#passage_' + passage_id;
      var div_tags_id = '#passage_tags_' + passage_id;
      var div_doc_title = '#passege_doc_title_' + passage_id;

      var link_id = '#source_' + passage_id;
      var doc_title = $(div_doc_title).text();
      var link_line = "source:[" + doc_title + "](" + $(link_id).attr("href") + ")";
      response_text +=  `${ $(div_text_id).text() }\n\n${ link_line } \n\n`;

      $(div_tags_id).text().split(',').forEach(function(tag) {
        if (tag.trim() != '' && ! tags.includes(tag)) {
          tags.push(tag);
        }
      });
    });
    var lastVal = $("#responseTextArea").val();
    response_text = filterLine(response_text, 'anchor:')

    $("#responseTextArea").val(`${lastVal}\n${response_text}`);
    $("#responseTextArea").get(0).scrollIntoView();
    $("#responseTextArea").get(0).focus();
    return tags;
  }

  function select_passage(checkbox) {
    var escaped_passage_id = checkbox.id.replace('select_', '');
    // add if checked, remove if not
    if (checkbox.checked) {
        selected_passages.push(escaped_passage_id);
    } else {
        selected_passages = selected_passages.filter(
            function(e) { return e !== escaped_passage_id})
    }
    // enable use of passages if some passage is selected
    updateTabData(selected_passages);
  }

</script>