          <div class="col-12 col-md-5 px-0">
            <ul class="nav" id="myInnerTab" role="tablist">
              <li id="qa" class="nav-item">
                <a id="s-search-qa" tabindex="0" class="nav-link smart-search-tab p-0 pr-4 active" onclick="focusSearch()" data-toggle="tab" href="#qa-search" role="tab" aria-controls="qa-search" aria-selected="true">
                  <i class="far fa-lightbulb pr-1"></i> {{_('Search Q & A')}} <div id="searchQABar" class="smart-search-tab-bar"></div>
                </a>
              </li>
              <li id="library" class="nav-item">
                <a id="s-search-library" tabindex="1" class="nav-link smart-search-tab p-0" onclick="focusSearch()" data-toggle="tab" href="#library-search" role="tab" aria-controls="library-search" aria-selected="false">
                  <i class="fas fa-book-open pr-1"></i> {{_('Search Library')}}<div id="searchLibrary" class="smart-search-tab-bar"></div>
                </a>
              </li>
              <li class="d-block d-sm-none">
                <!-- TODO: this will change for sure. -->
                <button type="button" class="close d-flex justify-content-end mobile-close-modal" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-7 px-0">
            <div class="d-flex flex-row-reverse">
              <button type="button" id="smart-search-close-button" class="close d-none d-sm-block pl-4" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <button id="useResponse" class="btn btn-outline-secondary btn-outline-gray" disabled onclick="useAsResponse(event)">{{_('USE AS RESPONSE')}}</button>
              <div class="smart-search-count"><span id="selectedCounter">0</span> {{_('Total Selection')}}</div>
            </div>
          </div>
      <div class="modal-body">
        <div class="tab-content">
          <div id="qa-search" class="tab-pane active" role="tabpanel" aria-labelledby="s-search-qa">
            {% include 'smart-search-qa-pairs.html' %}
          </div>
          <div id="library-search" class="tab-pane" role="tabpanel" aria-labelledby="s-search-library">
            {% include 'smart-search-passages.html' %}
          </div>
        </div>
        </div>

    <script type="text/javascript">
  var activeTab;


  function updateTabData(responseList) {
    $('#useResponse').attr('disabled', responseList.length == 0);
    $("#selectedCounter").text(responseList.length);
    $('#btnAddNewAnswer').removeAttr('disabled')
  }

  function updateQaData() {
    activeTab = 'qa';
    updateTabData(selected_answers);
  }

  function updatePassageData() {
    activeTab = 'library';
    updateTabData(selected_passages);
  }

  $("#myTab").on("click", "#qa", updateQaData);
  $("#myTab").on("click", "#library", updatePassageData);

  $("#myInnerTab").on("click", "#s-search-qa", updateQaData);
  $("#myInnerTab").on("click", "#s-search-library", updatePassageData);

  $('#s-search-qa[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('#text_search').focus();
  });

  $('#s-search-library[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('#text_search_passages').focus();
  });

</script>