<div class="modal fade" id="searchQAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog smart-search-modal">
    <div class="modal-content">
      <div class="row px-4 pt-4">
        {% include 'smart-search-content.html' %}
      </div>
    </div>
  </div>
</div>
<script>

  function useAsResponse(event) {
    var resposeTags;
    event.preventDefault();
    if (activeTab == 'qa') {
      resposeTags = use_response();
    } else {
      resposeTags = use_passages();
    }
    resposeTags.forEach(function(tag) {
      $('#tagsNewQa').tagsinput('add', tag);
    });
    $('#searchQAModal').modal('hide');
  }

  function open_search_qa() {
    activeTab = 'qa';
    $('#searchQAModal').on('shown.bs.modal', function () {
      $('#text_search').focus();
    });
    $('#library-search').removeClass( "active" );
    $('#qa-search').addClass( "active show" );
    $('#s-search-library').removeClass( "active" );
    $('#s-search-qa').addClass( "active show" );
    $('#searchQAModal').modal({'backdrop': 'static'});
  }

  function open_search_passages() {
    activeTab = 'library';
    $('#searchQAModal').on('shown.bs.modal', function () {
      $('#text_search_passages').focus();
    });
    $('#qa-search').removeClass( "active" );
    $('#library-search').addClass( "active show" );
    $('#s-search-qa').removeClass( "active" );
    $('#s-search-library').addClass( "active show" );
    $('#searchQAModal').modal({'backdrop': 'static'});
  }

</script>