<div class="modal fade" id="editQuestion" tabindex="-1" role="dialog" aria-labelledby="editQuestionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="editQuestionLabel">{{_('Are you really sure?')}}</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pb-3">{{_('You’re about to edit the question. Do you want to proceed?')}}</div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-outline-question cancel" data-dismiss="modal">{{_('CANCEL')}}</button>
          <button id="saveButton" type="button" class="btn btn-outline-question d-none d-sm-block" style="color: #363F49; border-color: #363F49;">{{_('PROCEED')}}</button>
          <button id="saveButtonmobile" type="button" class="btn btn-outline-question d-block d-sm-none" style="color: #363F49; border-color: #363F49;">{{_('PROCEED')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>