<link href="/static/css/bootstrap/bootstrap-tour.min.css" rel="stylesheet">
<script src="/static/libraries/bootstrap/bootstrap-tour.min.js"></script>

<style>

  .popover-header {
    background-color: #53A451;
    color: white;
    border-radius: 5px 5px 0px 0px;
  }

  .tour-tour {
    border: 0;
  }

</style>

<script type="text/javascript">

var questionTour = 'How do I use Ingestor?';

function autoType(inputId, text) {
    var input = $(inputId);
    input.val('');
    var i = 0;
    function typeWriter() {
        if (i < text.length) {
            input.val(input.val() + text.charAt(i));
            i++;
            setTimeout(typeWriter, 50);
        }
    }

    typeWriter();
}


function tourCompleted() {
    $.get("/tour_completed", function( data ) {
        console.log('Store tour completed');
    });
}

var THUMBS_BTN_STEP = 1;

var tourSteps = [{
  element: "#search-btn",
  title: "{{_('Welcome to Ingestor')}}",
  content: "{{_('To use Ingestor, speak or type your question, and click `Search`')}}",
  onShow: function (tour) {
    autoType('#question', questionTour);
  },
  onNext: function() {
    if (document.location.href.indexOf('question=') == -1) {
      $("#from_tour").val(true);
      $("#askForm").submit();
    }
  }
}, {
  element: "#thumbs_down_icon_tour_id_tour_id",
  title: "{{_('Log the results')}}",
  content: "{{_('Click `thumbs up` for results that answer your question and `thumbs down` for results that don\'t. Your feedback improves Ingestor\'s AI.')}}",
  onNext: function() {
    display_feedback('tour_id', 'tour_id');
  },
  reflex: true
}, {
  element: "#feedback-tab_tour_id_tour_id",
  title: "{{_('Send a message to your expert')}}",
  content: "{{_('Send more information to your expert so they can improve the answer to your question.')}}",
  onNext: function() {
    display_note('tour_id','tour_id')
  },
}, {
  element: "#note-tab_tour_id_tour_id",
  title: "{{_('Personal Notes')}}",
  content: "{{_('Use the Note feature to save information for later. Notes are associated with specific answers, and only you can see your notes.')}}",
  onNext: function() {
    $("#helpMenu").show();
  }
}, {
  element: "#ask_for_help",
  title: "{{_('Want more help?')}}",
  content: "{{_('If you have any further questions, just ask Ingestor!')}}"
}];

var tourTemplate = '<div class="popover tour-tour tour-tour-1 fade show bs-popover-right shadow" role="tooltip">  ' +
  '<div class="arrow" style="top: 48px;"></div>  ' +
  '<h3 class="popover-header"></h3>  ' +
  '<div class="popover-body"></div> ' +
  '<div class="popover-navigation">  ' +
  '  <button class="btn btn-sm btn-outline-success" data-role="prev"><i class="fas fa-arrow-left"></i> {{_('Prev')}}</button>  ' +
  '  <button class="btn btn-sm btn-success" data-role="next">{{_('Next')}} <i class="fas fa-arrow-right"></i></button>   ' +
  '  <button class="btn btn-sm btn-outline-secondary" data-role="end">{{_('End tour')}}</button>  ' +
  '</div>  ' +
'</div>';

var tour = new Tour({
  name: "tour",
  steps: tourSteps,
  container: "body",
  smartPlacement: true,
  keyboard: true,
  storage: window.localStorage,
  debug: false,
  redirect: true,
  orphan: false,
  basePath: "",
  template: tourTemplate,
  onEnd: function() {
      tourCompleted();
      $("#helpMenu").hide();
  }
});


function start_tour() {
  tour.init();
  // Start the tour
  if (tour.ended()) {
      tour.restart()
  }
  tour.start(true);
}

function continue_tour() {
  if ($('#question').val() == questionTour) {
    tour.init();
    // Start the tour
    tour.setCurrentStep(THUMBS_BTN_STEP);
    // HACK: click in the button is the only way to restart the tour
    // I have tried all the other options
    document.getElementById('tour_button').click();
  }
}

$(document).ready(function() {
  continue_tour();
});

</script>
