<!doctype html>
<html>

<!--- HEADER -->
{% with title='Settings' %}
{% include 'head.html' %}
{% endwith %}

<body>

{% include 'navbar.html' %}

<script type="text/javascript" src="/static/libraries/validation/validations.js"></script>
<script type="text/javascript">
  var activeTab = 'identity';
  var identityChanged = false;

  function identityChanged() {
    identityChanged = true;
  }

  function isValid(phoneNumber) {
    var regexPattern = /^[+]{1}[0-9]{1}[(]{1}[0-9]{3}[)]{1}[0-9]{3}[-]{1}[0-9]{4}$/;
    return true; // return regexPattern.test(phoneNumber);
  }

  function updateUserSettings() {
    hideError();
    hideSuccess();
    var phoneNumber = $('#phone_number').val();
    if(phoneNumber == '' || isValid(phoneNumber)) {
      $('#user_identity_form').submit();
    } else {
      showError(msgBox('{{_('Error!')}}', '{{_('The phone number field must respect the +1(XXX)XXX-XXXX pattern')}}'));
    }
  }

  window.onload = function() {
    var searchParams = new URLSearchParams(window.location.search);
    var status = searchParams.get('status');
    if(status == 'error') {
      showError(msgBox('{{_('Error!')}}', '{{_('There was a problem saving the settings')}}'));
    } else if (status == 'success') {
      showSuccess(msgBox('{{_('Success!')}}', '{{_('Your settings have been updated!')}}'));
    }

    $('#phone_number').on('input', function (event) {
      this.value = this.value.replace(/[^0-9\(\)\+\-]/g, '');
    });

    if ("{{ user['id-type'] }}" == "email") {
      $('#email').prop('readonly', true);
    } else {
      $('#phone_number').prop('readonly', true);
    }

    // Select the current tab where you are editing
    $('#myTab a[href="#' + searchParams.get('tab') + '"]').tab('show');
  }

</script>

<br/>

<div class="row">
  <div class="col-1 col-lg-1"></div>
  <div class="col-10 col-lg-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" onclick="hideMessages()">
        <a class="nav-link active" id="identity-tab" data-toggle="tab" href="#identity" role="tab" aria-controls="identity" aria-selected="true">
          {{_('Identity')}}<i class="fas fa-arrow-right float-right tab-icon"></i>
        </a>
      </li>
      <li class="nav-item" onclick="hideMessages()">
        <a class="nav-link" id="change-password-tab" data-toggle="tab" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false">
          {{_('Change Password')}}<i class="fas fa-arrow-right float-right tab-icon"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-1 col-lg-1"></div>
  <div class="col-1 d-block d-sm-none"></div>
  <div class="col-1 d-none d-md-block d-lg-none"></div>

  <div class="col-10 col-lg-7">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div id="success-msg" class="alert alert-primary alert-dismissible fade show" role="alert" style="display: none;"></div>
        <div id="error-msg" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;"></div>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="identity" role="tabpanel" aria-labelledby="identity-tab">
        <div class="row">
          <div class="col-12 col-lg-7 menu-mobile px-0">
            {% include 'user-settings-identity.html' %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
        <div class="row">
          <div class="col-12 col-lg-7 menu-mobile">
            {% include 'user-settings-change-password.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>

</body>
{% include 'footer.html' %}
</html>
