<script type="text/javascript">
  function uploadAvatar(form, inputId) {
    var errorImg = '{{ tooltip_data.error_msg.image }}'
    var errorSize = '{{ tooltip_data.error_msg.size }}'

    if (validateAvatar(form, inputId, errorImg, errorSize)) {
      form.submit();
    }
  }

  function deleteAvatar(form) {
    bootbox.confirm("{{_('Are you sure you want to delete the profile picture?')}}", function(result) {
      if (result) {
        form.submit();
      }
    });
  }
</script>
<form id="update_avatar_form" method="post" enctype="multipart/form-data" action="/upload-avatar">
  <div class="form-group d-none d-md-block">
    <img src="{% if user['avatar-url'] %}{{ user['avatar-url'] }}{% else %}/static/images/empty-avatar.jpg{% endif %}" class="avatar">
    <input id="avatarInput" name="avatarInput" type="file" accept="image/*" style="display:none;" onchange="uploadAvatar(this.form, 'avatarInput')"/>
    <button type="button" class="btn btn-success" onclick="document.getElementById('avatarInput').click()">{{_('UPLOAD PICTURE')}}</button>
    <button type="button" class="btn btn-outline-danger ml-2" onclick="deleteAvatar(this.form)">{{_('DELETE')}}</button>
  </div>

  <span class="d-block d-sm-none">
    <div class="form-group d-flex justify-content-center">
      <img src="{% if user['avatar-url'] %}{{ user['avatar-url'] }}{% else %}/static/images/empty-avatar.jpg{% endif %}" class="avatar">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-6 pl-0">
          <button type="button" class="btn btn-success" onclick="document.getElementById('avatarInput').click()">{{_('UPLOAD PICTURE')}}</button>
        </div>
        <div class="col-6 pr-0">
          <button type="button" class="btn btn-outline-danger" style="float: right;" onclick="this.form.submit()">{{_('DELETE')}}</button>
        </div>
      </div>
    </div>
  </span>
</form>

<form id="user_identity_form" method="post" action="/save-user-identity-settings">

  <div class="form-group">
    <label class="settings-field-name" for="display_name">{{_('DISPLAY NAME')}}</label>
    <input type="text" class="form-control settings-field" id="display_name" name="display_name" placeholder="{{_('Display name')}}"
           value="{{ user['display-name'] }}" onchange="identityChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="full_name">{{_('FULL NAME')}}</label>
    <input type="text" class="form-control settings-field" id="full_name" name="full_name" placeholder="{{_('Full name')}}"
           value="{{ user['full-name'] }}" onchange="identityChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="email">{{_('EMAIL')}}</label>
    <input type="text" class="form-control settings-field" id="email" name="email" placeholder="{{_('Email')}}"
           value="{{ user['email'] }}" onchange="identityChanged()"/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="phone_number">{{_('PHONE NUMBER')}}</label>
    <div class="input-group">
      <!-- <select class="btn">
        <option>+234</option>
      </select> -->
      <input type="text" class="form-control settings-field" id="phone_number" name="phone_number" placeholder="+1(999)999-9999" 
             value="{{ user['phone-number'] }}" onchange="identityChanged()"/>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6 pl-0">
        <label class="settings-field-name" for="notification_frequency">{{_('NOTIFICATION FREQUENCY')}}</label>
        <select class="form-control" id="notification_frequency" name="notification_frequency" value="{{ user['notification-frequency'] }}" onchange="identityChanged()">
          <option value="Anytime" {% if user['notification-frequency'] == "Anytime" %}selected{% endif %}>{{_('Anytime')}}</option>
          <option value="Daily"   {% if user['notification-frequency'] == "Daily" %}selected{% endif %}>{{_('Daily')}}</option>
          <option value="Weekly"  {% if user['notification-frequency'] == "Weekly" %}selected{% endif %}>{{_('Weekly')}}</option>
        </select>
      </div>
      <div class="col-6 pr-0">
        <label class="settings-field-name" for="notification">{{_('NOTIFICATION')}}</label>
        <select class="form-control" id="notification" name="notification" value="{{ user['notification'] }}" onchange="identityChanged()">
          <option value="SMS"   {% if user['notification'] == "SMS" %}selected{% endif %}>{{_('SMS')}}</option>
          <option value="Web"   {% if user['notification'] == "Web" %}selected{% endif %}>{{_('Web')}}</option>
          <option value="Email" {% if user['notification'] == "Email" %}selected{% endif %}>{{_('Email')}}</option>
        </select>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="form-group">
    <button type="button" class="btn btn-success" onclick="updateUserSettings()">{{_('UPDATE')}}</button>
  </div>
</form>