<!doctype html>
<html>

<!--- HEADER -->
{% with title='User Activity' %}
{% include 'head.html' %}
{% endwith %}
<script type="text/javascript" src="/static/libraries/cu-scripts.js"></script>

<script type="text/javascript">

    function ask(button, logid) {
      var url = '/ask/{{ filter["bot"] }}?question=' + button.innerText + '&from_notification=Y&logid='+ logid;
      window.open(url, '_blank');
    }

</script>


<body class="history-background">

  {% include 'navbar.html' %}

  <div id="user-history">
    <!-- Tittle / dropdown block-->
    <div class="row co-12 mx-5 m-top-20">
      <div class="col-12 col-md-10 px-0">
        <div class="popular-questions-title ml-0">{{ title_activity }}</div>
        <div class="popular-questions-counter mb-4" style="font-size:14px;">
          {% if stats['count_questions'] == 1 %}
            {{ stats['count_questions'] }} {{_('entry')}}
          {% else %}
            {{ stats['count_questions'] }} {{_('entries')}}
          {% endif %}
          </div>
      </div>
      <div class="col-md-2 col-12 p-0 text-align-right">
        {% if has_permission(filter['bot'], PERM_VIEW_ISSUES) %}
        <div class="dropdown my-2">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="buttonTime-my-activity" data-display="static"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filter['days'] == 1 %}
            {{_('Today')}}
            {% elif filter['days'] == 7 %}
            {{_('Past Week')}}
            {% elif filter['days'] == 14 %}
            {{_('Past Two Week')}}
            {% elif filter['days'] == 30 %}
            {{_('Past Month')}}
            {% elif filter['days'] == 365 %}
            {{_('Past Year')}}
            {% else %}
            {{_('Any time')}}
            {% endif %}
          </button>

          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:set_since('9999')">{{_('Any time')}}</a>
            <a class="dropdown-item" href="javascript:set_since('1')">{{_('Today')}}
              <span class="badge badge-light"></span>
            </a>
            <a class="dropdown-item" href="javascript:set_since('7')">{{_('Past Week')}}
              <span class="badge badge-light"></span>
            </a>
            <a class="dropdown-item" href="javascript:set_since('14')">{{_('Past Two Weeks')}}
              <span class="badge badge-light"></span>
            </a>
            <a class="dropdown-item" href="javascript:set_since('30')">{{_('Past Month')}}
              <span class="badge badge-light"></span>
            </a>

            <a class="dropdown-item" href="javascript:set_since('365')">{{_('Past Year')}}
              <span class="badge badge-light"></span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if filter['direction'] == '1' %} active {% endif %}"
              href="javascript:set_direction(1)">{{_('Ascending')}}</a>
            <a class="dropdown-item {% if filter['direction'] == '-1' %} active {% endif %}"
              href="javascript:set_direction(-1)">{{_('Descending')}}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row co-12 mx-5 m-top-20">
      <!-- Overview block-->
      <div class="col-12 no-padding-left no-padding-right" id="UA-overview-web">
        <label class="question-link text-align-left m-bottom-20 bold">{{_('Overview')}}</label>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div>
                <p>{{_('Questions Asked')}}</p>
                <p>{{ stats['count_questions'] }}</p>
              </div>
              <div>
                <p>{{_('Pinned responses')}}</p>
                <p>{{ stats['pinned_responses'] }}</p>
              </div>
              <div>
                <p>{{_('Notes saved')}}</p>
                <p>{{ stats['notes_saved'] }}</p>
              </div>
              <div>
                <p>{{_('Up votes')}}</p>
                <p>{{ stats['up_votes'] }}</p>
              </div>
              <div>
                <p>{{_('Down votes')}}</p>
                <p>{{ stats['down_votes'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Overview block mobile-->
      <div class="col-12 no-padding-left no-padding-right" id="UA-overview-mob">
        <label class="question-link text-align-left m-bottom-20 bold">{{_('Overview')}}</label>
        <div class="card col-12">
          <div class="card-body">
              <div>
                <p>{{_('Questions Asked')}}</p>
                <p>{{ stats['count_questions'] }}</p>
              </div>
          </div>
        </div>
        <div class="col-12 d-flex" style="padding: 0px;
    justify-content: space-between;
    margin-top: 10px;">
        <div class="card col-6" style="max-width: 47.5%">
          <div class="card-body">
            <div>
              <p>{{_('Pinned responses')}}</p>
              <p>{{ stats['pinned_responses'] }}</p>
            </div>
          </div>
        </div>
        <div class="card col-6" style="max-width: 47.5%">
          <div class="card-body">
            <div>
              <p>{{_('Notes saved')}}</p>
              <p>{{ stats['notes_saved'] }}</p>
            </div>
          </div>
        </div>
        </div>
        <div class="col-12 d-flex" style="padding: 0px;
    justify-content: space-between;
    margin-top: 10px;">
        <div class="card col-6" style="max-width: 47.5%">
          <div class="card-body">
            <div>
              <p>{{_('Up votes')}}</p>
              <p>{{ stats['up_votes'] }}</p>
            </div>
          </div>
        </div>
        <div class="card col-6" style="max-width: 47.5%">
          <div class="card-body">
            <div>
              <p>{{_('Down votes')}}</p>
              <p>{{ stats['down_votes'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Content block-->
      <div class="col-12 content-container">
        <!-- Filters block-->
        <div class="d-flex" id="filtersWeb">
          <div>
            <label style="vertical-align: super;">{{_('Filter by reaction')}}:
            </label>
          </div>
          <div class="paddingLeft-35px">
            <label class="check-container paddingLeft-35px" >{{_('All activity')}}
              <input data-device="web" class="form-check-input all" type="checkbox" id="all_user_activity" name="all_user_activity"
                value="all_user_activity" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="paddingLeft-35px">
            <label class="check-container paddingLeft-35px" >{{_('All searches')}}
              <input data-device="web" class="form-check-input all" type="checkbox" id="all_searches_user_activity" name="all_searches_user_activity"
                value="all_searches_user_activity" checked>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="paddingLeft-25px">
            <label class="check-container paddingLeft-35px" >{{_('Feedback')}}
              <input data-device="web" class="form-check-input single" type="checkbox" id="feedback_user_activity"
                name="feedback_user_activity" checked value="feedback_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="paddingLeft-25px">
            <label class="check-container paddingLeft-35px" >{{_('Pin')}}
              <input data-device="web" class="form-check-input single" type="checkbox" id="pin_user_activity"
                name="pin_user_activity" checked value="pin_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="paddingLeft-25px">
            <label class="check-container paddingLeft-35px" >{{_('Notes')}}
              <input data-device="web" class="form-check-input single" type="checkbox" id="notes_user_activity"
                name="notes_user_activity" checked value="notes_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="paddingLeft-25px">
            <label class="check-container paddingLeft-35px" >{{_('Up Votes')}}
              <input data-device="web" class="form-check-input single" type="checkbox" id="upvotes_user_activity"
                name="upvotes_user_activity" checked value="upvotes_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="paddingLeft-25px">
            <label class="check-container paddingLeft-35px" >{{_('Down Votes')}}
              <input data-device="web" class="form-check-input single" type="checkbox" id="downvotes_user_activity"
                name="downvotes_user_activity" checked value="downvotes_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <!-- Filters mobile block-->
        <div id="filtersMobile" style="font-size:11px; margin-bottom:15px">
          <div>
            <label style="vertical-align: super;">{{_('Filter by reaction')}}:
            </label>
          </div>
          <div class="d-flex">
            <div class="col-6">
              <label class="check-container" >{{_('All searches')}}
                <input data-device="mobile" class="form-check-input all" type="checkbox" id="mob_all_searches_user_activity" name="mob_all_searches_user_activity"
                  value="mob_all_searches_user_activity" checked>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-6">
              <label class="check-container" >{{_('Feedback')}}
                <input data-device="mobile" class="form-check-input single" type="checkbox" id="mob_feedback_user_activity"
                  name="mob_feedback_user_activity" checked value="mob_feedback_user_activity">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="d-flex">
          <div class="col-6">
            <label class="check-container paddingLeft-35px" >{{_('Pin')}}
              <input data-device="mobile" class="form-check-input single" type="checkbox" id="mob_pin_user_activity"
                name="mob_pin_user_activity" checked value="mob_pin_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-6">
            <label class="check-container paddingLeft-35px" >{{_('Notes')}}
              <input data-device="mobile" class="form-check-input single" type="checkbox" id="mob_notes_user_activity"
                name="mob_notes_user_activity" checked value="mob_notes_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          </div>
          <div class="d-flex">
           <div class="col-6">
            <label class="check-container paddingLeft-35px" >{{_('Up Votes')}}
              <input data-device="mobile" class="form-check-input single" type="checkbox" id="mob_upvotes_user_activity"
                name="mob_upvotes_user_activity" checked value="mob_upvotes_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-6">
            <label class="check-container paddingLeft-35px" >{{_('Down Votes')}}
              <input data-device="mobile" class="form-check-input single" type="checkbox" id="mob_downvotes_user_activity"
                name="mob_downvotes_user_activity" checked value="mob_downvotes_user_activity">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        </div>
        <!-- Dropdown search label block-->
        <div class="navbar navbar-expand-lg navbar-light no-padding-right no-padding-left">
          <a style="padding-left:20px;">{{_('Today')}}</a>
        </div>
        <!-- Answers Accordion block-->
        <div class="accordion" id="accordionExample">
          {% for question in user_questions %}
          <!-- Start of Card-->
          <div class="card accordionCards {% if question['action'] %}action{% else%}question{% endif %}" id="{{question['id']}}">
            <!-- Card header-->
            <div class="card-header bg-white" id="headingOne">
              <div id="flex-card-header" class="d-flex justify-content-between">
                <!-- Tittle + time block-->
                <div id="title_time_block" style="width:65%">
                  {% if question['action'] %}
                  <p class="btn-question btn btn-link fz-18 txt-black bold">
                    {{ action_types.get(question['action'])}}  {%if 'action_description' in question %}:{% endif %} {{ question['action_description'] }}
                  </p>
                  {% else %}
                  <button class="btn-question btn btn-link fz-18 txt-black bold"
                          type="button"
                          onclick='ask(this, "{{ question['id'] }}")'>
                  {{_('Searched: ')}}{{ question['question'] | title}}
                  {% for tag in question['tags']%}
                  <p class='badge badge-document badges-issues-qa'>{{ tag }}</p>
                  {% endfor %}
                  </button>
                  {% endif %}
                  <p class="fz-14 timelapseQuestion" style="cursor:pointer" title="{{ question['timestamp_ago'] }}">
                      {{ question['time_ago'] }}
                  </p>
                </div>
                <!-- Icons header -->
                <div id="icons_block" class="vertical-align-by-margin">
                  {% if question['have_pinned'] %}
                  <i class="user-history-icon-circlebase" id="{{ question['id'] }}-pinned" >
                    <span class="icon-user-history icon-user-activity-pinned"></span>
                    </span>
                  </i>
                  {% endif %}
                  {% if question['have_thumbs_up'] %}
                  <i class="user-history-icon-circlebase" id="{{question['id']}}-upvote">
                    <span class="icon-user-history icon-user-activity-upvote"></span>
                    </span>
                  </i>
                  {% endif %}
                  {% if question['have_thumbs_down'] %}
                  <i class="user-history-icon-circlebase" id="{{question['id']}}-downvote">
                    <span class="icon-user-history icon-user-activity-downvote"></span>
                    </span>
                  </i>
                  {% endif %}
                  {% if question['have_notes'] %}
                  <i class="user-history-icon-circlebase" id="{{question['id']}}-note">
                    <span class="icon-user-history icon-user-activity-notes"></span>
                    </span>
                  </i>
                  {% endif %}
                  {% if question['have_comment'] %}
                  <i class="user-history-icon-circlebase" id="{{question['id']}}-comment">
                    <span class="icon-user-history icon-user-activity-feedback"></span>
                    </span>
                  </i>
                  {% endif %}
                  {% if question['actions'] and not 'action_description' in question  %}
                  <span id="collapse-icon-{{ question['id'] }}" class="fas fa-chevron-down pointer collapseArrow js-rotate-if-collapsed"
                   onclick="rotate_icon('collapse-icon-{{ question['id'] }}')"
                            data-toggle="collapse" data-target="#collapse-{{ question['id'] }}" aria-expanded="false"
                            aria-controls="collapse-{{ question['id'] }}"></span>
                  {% endif %}
                </div>
              </div>

              <div id="collapse-{{ question['id'] }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <!-- Card body-->
                  {% for action in question['actions'] %}
                  <div class="col-12">

                    {% if action['passage_id'] %}
                    <div>
                        <span style="margin-right:7px" id="1" class="toggleable-icon pin-icon{% if action['pinned'] %}-pressed{% endif %}" ></span>
                        <label class="search-suggestion mr-2 fz-16" style="width:80%">
                        {{_('Library Response')}}
                        </label>
                    </div>
                    <div class="qa-answer fz-18">{{ action['passage_text']}}</div>
                    {% elif action['input_id'] %}
                    <div class="row">
                      <span style="margin-right:7px" id="1" class="toggleable-icon pin-icon{% if action['pinned'] %}-pressed{% endif %}"></span>
                      <div class="qa-question fz-16">{{ action['input_text']}}</div>
                    </div>
                    <div>
                      <label class="search-suggestion mr-2 fz-16">{{_('Q & A Response')}}</label>
                      {% if action['verifier'] %}
                      <label class="qa-verified">
                        <i style="color:#65b544" class="fas fa-check-circle"></i> {{_('Verified by')}} {{action['verifier']}} • {{action['verify_time']}}
                      </label>
                      {% endif %}
                    </div>
                    <div class="qa-answer fz-18">{{ action['response_text']}}</div>
                    {% elif action['thumbs_up']  or  action['thumbs_down'] %}
                    <div class="d-flex justify-content-between">
                      <div id="thumbs-box" class="like-box">
                        <i class="far fa-thumbs-up mr-3" {% if action['thumbs_up'] %} style="color: rgb(0, 123, 255)"{% endif %}></i>
                        <i class="pr-2 far fa-thumbs-down" {% if action['thumbs_down'] %} style="color: rgb(0, 123, 255)"{% endif %}></i>
                      </div>
                    </div>
                    {% else %}
                    <label class="search-suggestion mr-2 fz-16" style="width:80%">
                        {{action['action_type']}}
                    </label>
                    {% endif %}

                    <div id="" class="alert alert-primary alert-dismissible fade show py-1 d-none" role="alert"></div>

                    <!-- TABS ========================================================================================= -->
                    {% if 'comment' or 'note' in action %}
                    <ul class="nav" role="tablist">
                      {% if 'comment' in action %}
                      <li class="nav-item">
                        <a class="nav-link feedback-tab pl-0" id="feedback-tab" data-toggle="tab" href="#feedback"
                        role="tab" aria-controls="feedback" aria-selected="true">
                          <i class="far fa-comments"></i> {{_('Feedback')}}<div class="feedback-tab-bar"></div>
                        </a>
                      </li>
                      {% endif %}
                      {% if 'note' in action %}
                      <li class="nav-item">
                        <a class="nav-link note-tab pl-0" id="note-tab" data-toggle="tab" href="#note"
                        role="tab" aria-controls="note" aria-selected="true">
                          <i class="far fa-comments"></i> {{_('Note')}}<div class="feedback-tab-bar"></div>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                    <div class="tab-content" id="">
                      {% if 'comment' in action %}
                      <!-- feedback ======================================================================================== -->
                      <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
                        <div class="card pb-0">
                          <div class="card-body px-3 pb-3">
                            <div class="form-group" id="feedback-text">
                              {{ action['comment']['text'] }}
                              <div class="note-last-modify">{{ action['comment']['time_ago'] }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}

                      {% if 'note' in action %}
                      <div class="tab-pane fade show active" id="note" role="tabpanel" aria-labelledby="note-tab">
                      <div class="card pb-0">
                        <div class="card-body px-3 pb-3">
                          <div class="form-group d-block" id="">
                            <div id="note-text" class="note-text">{{ action['note']['note'] }}</div>
                            <div class="note-last-modify" id="">{{ action['note']['time_ago'] }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  {% endif %}
                    </div>
                    {% endfor %}

                  </div>
              </div>
              </div>
          </div>
          {% endfor %}
          <!-- End of Card-->
        </div>
        </div>
      </div>
    </div>

    <script>
      function rotate_icon(id) {
        if($('#' + id).attr('aria-expanded') === "true"){
        $('#' + id).css("transform", "rotate(360deg)");
        } else {
          $('#' + id).css("transform", "rotate(180deg)");
        }
      }

      $(".form-check-input").change(function(){
      var $self = $(this),
      checkboxId  = $self.val();
      device = $self.data("device");
      if ((checkboxId === "all_searches_user_activity" || checkboxId === "mob_all_searches_user_activity")
          || (checkboxId === "all_user_activity" || checkboxId === "mob_all_user_activity")) {
        $(".form-check-input.single").prop("checked", $self.is(":checked"));
      } else {
        if ($(".form-check-input.single:checked").length === $(".form-check-input.single").length) {
          $(".form-check-input.all").prop("checked", true)
          } else {
          $(".form-check-input.all").prop("checked", false)
        }
      }
      if (device == 'web') {
        var all_activity_checked = $('#all_user_activity').prop('checked');
        var all_checked = $('#all_searches_user_activity').prop('checked');
        var pin = $('#pin_user_activity').prop('checked');
        var notes = $('#notes_user_activity').prop('checked');
        var feedback = $('#feedback_user_activity').prop('checked');
        var downvotes = $('#downvotes_user_activity').prop('checked');
        var upvotes = $('#upvotes_user_activity').prop('checked');
      } else {
        var all_activity_checked = $('#mob_all_user_activity').prop('checked');
        var all_checked = $('#mob_all_searches_user_activity').prop('checked');
        var pin = $('#mob_pin_user_activity').prop('checked');
        var notes = $('#mob_notes_user_activity').prop('checked');
        var feedback = $('#mob_feedback_user_activity').prop('checked');
        var downvotes = $('#mob_downvotes_user_activity').prop('checked');
        var upvotes = $('#mob_upvotes_user_activity').prop('checked');
       }

        $( ".accordionCards" ).each(function( order, div ) {
          var div_id = div.id;
          if ((all_activity_checked ) ||
                  (all_checked && $('#' + div_id).hasClass('question')) ||
                  (pin && $('#' + div_id + '-pinned').length > 0) ||
                  (notes && $('#' + div_id + '-note').length > 0) ||
                  (feedback && $('#' + div_id + '-comment').length > 0) ||
                  (downvotes && $('#' + div_id + '-downvote').length > 0) ||
                  (upvotes && $('#' + div_id + '-upvote').length > 0)) {
            $('#' + div_id).show();
          } else {
            $('#' + div_id).hide();
          }
          });
      });

    </script>

</body>
{% include 'footer.html' %}

</html>