<form id="changePasswordForm" method="post" action="/change-password" onsubmit="validateChangePassword(event)">
  <input type="hidden" name="nonce"   value="{{ nonce }}"/>
  <input type="hidden" name="expires" value="{{ expires }}"/>

  <div class="form-group">
    <label class="settings-field-name" for="old_password">{{_('OLD PASSWORD')}}</label>
    <input type="password" class="form-control settings-field" id="old_password" name="old_password" value=""/>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="password">{{_('NEW PASSWORD')}}</label>
    <input type="password" class="form-control settings-field" id="password" name="password" value=""/>
    <ol class="password-rules">
      <br/>
      <li>{{_('Contain at least 8 characters')}}</li>
      <li>{{_('Include at least one symbol (&percnt;, &, $, +, !, @, # or *)')}}</li>
      <li>{{_('Include upper and lower case characters')}}</li>
      <li>{{_('Include at least one number (0,1,2,3)')}}</li>
      <li>{{_('Not contain spaces')}}</li>
    </ol>
  </div>

  <div class="form-group">
    <label class="settings-field-name" for="password2">{{_('REPEAT NEW PASSWORD')}}</label>
    <input type="password" class="form-control settings-field" id="password2" name="password2" value=""/>
  </div>

  <br/>
  <br/>

  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <a class="error-link" href="/change-password">{{_('Forgot Password?')}}</a>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-lg btn-success float-right">
          {{_('CHANGE PASSWORD')}} <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</form>