<!DOCTYPE html>
<html>

<!--- HEADER -->
{% with title='Login' %}
{% include 'head.html' %}
{% endwith %}

<script>
function relocateToHome() {
  location.href = "/";
}
</script>

<body>
  <br>
  <br>
  <div class="row">
    <div class="col-1 col-sm-2 col-md-2"></div>
    <div class="col-10 col-sm-4 col-md-4">
      <img src="/static/images/full-logo-blue.svg" width="200px"/>
      <div class="wp-request-demo d-block d-sm-none">
        <a class="font-weight-bold text-dark d-flex justify-content-center" href="https://www.ingestor.net/request-demo">{{_('Request a Demo')}}</a>
      </div>
      <div class="wp-request-demo d-block d-sm-none d-flex justify-content-center">
        <button type="button" class="btn wp-get-started-button" onclick="relocateToHome();">{{_('GET STARTED')}}</button>
      </div>
      <div class="wp-title">{{_('Get answers at the speed of business')}}</div>
      <div class="wp-paragraph">{{_('Ingestor is a no-code, augmented intelligence platform designed to provide you with new powers to master knowledge faster and create more value for your business')}}</div>
      <button type="button" class="btn wp-get-started-button d-none d-md-block d-lg-block" onclick="relocateToHome();">{{_('GET STARTED')}}</button>
      <img class="ingestor-img d-block d-sm-none" src="/static/images/ingestor-img.png"/>
      <div class="wp-bottom-links">
        <a class="wp-link" href="/terms-of-use">{{_('Terms of Service')}}</a>
        <a class="wp-link" href="/privacy-conditions">{{_('Privacy Policy')}}</a>
      </div>
    </div>
    <div class="col-10 col-sm-4 col-md-4 d-none d-md-block d-lg-block">
      <a class="font-weight-bold float-right text-dark" href="https://www.ingestor.net/request-demo">{{_('Request a Demo')}}</a>
      <img class="ingestor-img" src="/static/images/ingestor-img.png"/>
    </div>
  </div>

</body>
{% include 'footer.html' %}
</html>
