.visual-p {
  color:#282828;
  font-size: 24px;
  font-weight:bold;
  font-style:italic;
}

mark {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

mark.verb {
  color:#ffffff;
  background: #c75e00;  # 5YR 5/
}

mark.noun {
  color:#ffffff;
  background: #008d86;  # 5BG 5/10
}

mark.object {
  color:#ffffff;
  background: #5e8a00;  # 5G 5/
}

mark.subject {
  color:#ffffff;
  background: #007dff;  # 5PB 5/
}

mark.adjective {
  color:#000000;
  background: #ffb509;  # 5YR 8/
}

mark.unknown {
  color:#000000;
  background: #d3d3d3;
}

